@keyframes localspin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.shake {
  animation: shake .7s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

@keyframes fadein {
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeout {
  0% { opacity:1; }
  100% { opacity:0; }
}

@keyframes fadein-delay-half {
  0% { opacity:0; }
  50% { opacity: 0; }
  100% { opacity:1; }
}
@keyframes popin {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-8px);
  }
  100% {
    opacity: 1;
  }
}
.popin {
  --anim-order: 1;
  animation-name: popin;
  animation-duration: 250ms;
  animation-delay: calc(var(--anim-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes blurify {
  0% { filter: blur(1px); }
  50% { filter: blur(2px); }
  100% { filter: blur(3px); }
}