div.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 10px;
  position: relative;
  box-sizing: border-box;
  label {
    display: inline-block;
    margin: 0 5px 0 5px;
    flex-grow: 2;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin-left: 5px;
    margin-right: 0;
  }
  &.rightside {
    input[type="checkbox"],
    input[type="radio"] {
      margin-left: 0;
      margin-right: 5px;
    }
  }
}
input[type="checkbox"],
input[type="radio"]{
  transition: all .2s;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid $grey-dark;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  padding: 9px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  max-width: 25px;
  max-height: 25px;
  &:after {
    display: none;
    box-sizing: border-box;
    content: '';
    width: 17px;
    height: 17px;
    max-width: 17px;
    max-height: 17px;
    background-color: $light;
    position: absolute;
    left: 2px;
    top: 2px;
    border: 7px solid $light;
    border-radius: 3px;
    box-shadow: $hover-box-shadow;
  }
  &:checked {
    border-color: $grey-dark;
    box-shadow: $checkbox-checked-shadow;
    background-color: $focus-color;
    &:after {
      display: block;
    }
  }
  &:focus,
  &:active,
  &:hover {
    outline: none;
    border-color: $focus-color;
    background-color: $focus-color;
    box-shadow: $hover-box-shadow;
    &:after {
      display: block;
      background-color: transparent;
      border: 1px dotted $light;
    }
    &:checked {
      box-shadow: $checkbox-checked-shadow-hover;
      &:after {
        border: 7px solid $light;
        background-color: $light;
      }
    }
  }
  &:hover {
    &:checked {
      &:after {
        background-color: $grey-medium;
      }
    }
  }
  &:disabled,
  &:disabled:hover {
    color: $grey-light;
    background-color: $light;
    border-color: $grey-light;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
    &:after {
      box-shadow: none;
    }
    &:checked:after {
      background-color: $grey-light;
      border-color: $grey-light;
      box-shadow: none;
    }
  }
  &.round {
    border-radius: 50%;
    &:checked,
    &:focus,
    &:active,
    &:hover {
      &:after {
        border-radius: 50%;
      }
    }
  }
  &.check {
    &:after,
    &:checked:after {
      display: none;
    }
    &:before {
      display: none;
      font-family: "cornflowerblue";
      font-style: normal;
      font-weight: normal;
      speak: none;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: .2em;
      content: '\36';
      font-size: 20pt;
      position: absolute;
      top: -3px;
      left: -8px;
      color: $light;
      text-shadow: $text-shadow;
    }
    &:hover:before {
      display: inline-block;
      opacity: 0.2;
    }
    &:checked:before,
    &:checked:hover:before {
      opacity: 1;
      display: inline-block;
    }
    &:disabled,
    &:disabled:hover {
      color: $grey-light;
      background-color: $light;
      border-color: $grey-light;
      cursor: not-allowed;
      box-shadow: none;
      pointer-events: none;
      &:before {
        box-shadow: none;
        text-shadow: none;
      }
      &:checked:before {
        color: $grey-light;
        box-shadow: none;
        text-shadow: none;
      }
    }
  }

  &.toggle,
  &.switch {
    width: 60px;
    height: 30px;
    max-width: 60px;
    max-height: 30px;
    background-color: $grey-medium;
    box-shadow: $checkbox-checked-shadow;
    &:after {
      display: block;
      box-sizing: border-box;
      content: '';
      width: 20px;
      height: 20px;
      max-width: 20px;
      max-height: 20px;
      position: absolute;
      left: 3px;
      top: 3px;
      border-radius: 3px;
      border: 7px solid $light;
      background-color: $light;
      box-shadow: $hover-box-shadow;
      transition: all .2s;
    }
    &:hover,
    &:hover:checked {
      box-shadow: $checkbox-checked-shadow-hover;
      border-color: $focus-color;
      &:after {
        background-color: $grey-medium;
      }
    }
    &:checked {
      border-color: $grey-light;
      background-color: $focus-color;
      &:after {
        border: 7px solid $light;
        left: auto;
        right: 3px;
      }
    }
    &:disabled,
    &:disabled:hover {
      background-color: $light;
      border-color: $grey-light;
      cursor: not-allowed;
      box-shadow: none;
      pointer-events: none;
      &:after,
      &:checked:after {
        border-color: $grey-light;
        background-color: $grey-light;
        box-shadow: none;
      }
    }
  }
  &.toggle {
    border-radius: 1.5em;
    &:after,
    &:checked:after {
      border-radius: 50%;
    }
  }
}
input[type="radio"] {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  &:after {
    width: 14px;
    height: 14px;
    max-width: 14px;
    max-height: 14px;
    left: 2px;
    top: 2px;
    border-radius: 50%;
  }

  &:checked,
  &:focus,
  &:active,
  &:hover {
    &:after {
      border-radius: 50%;
    }
  }
}

