button {
  --maincolor: var(--standard-color);
  --textcolor: var(--maincolor);
  --hovertextcolor: var(--hot-text-color);
  --disabledcolor: var(--light);
  transition: all .2s;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  margin: 10px 5px 10px 5px;
  padding: 0.4em 1em 0.4em 1em;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 100%;
  line-height: 1.5;
  cursor: pointer;
  color: var(--maincolor);
  background-color: transparent;
  border: 2px solid var(--maincolor);
  border-radius: var(--button-border-radius);
  span {
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  &:hover,
  &:focus,
  &:active {
    color: var(--hovertextcolor);
    text-shadow: var(--text-shadow);
    background-color: var(--maincolor);
    box-shadow: var(--hover-box-shadow);
    outline: none;
    text-decoration: underline;
    //box-shadow: $hover-box-shadow, inset 0px -4px 0 0 var(--grey-dark)er;
  }
  &.constructive {
    --maincolor: var(--constructive-color);
  }
  &.destructive {
    --maincolor: var(--destructive-color);
  }
  &:disabled {
    color: var(--grey-medium);
    background-color: var(--disabledcolor);
    border-color: var(--light);
    cursor: not-allowed;
    text-shadow: none;
    box-shadow: none;
    pointer-events: none;
    &:hover,
    &:focus,
    &:active {
      color: var(--grey-medium);
      background-color: var(--disabledcolor);
      border-color: var(--grey-medium);
      text-shadow: none;
      box-shadow: none;
    }
    &.hexagon,
    &.hexagon::before,
    &.hexagon::after {
      box-shadow: var(--hexagon-shadow);
    }
  }

  &.mute {
    background-color: transparent;
    border-color: transparent;
    &.constructive {
      color: var(--constructive-color);
      text-shadow: none;
    }
    &.destructive {
      color: var(--destructive-color);
      text-shadow: none;
    }
    &:hover,
    &:active,
    &:focus {
      color: $white;
      text-shadow: var(--text-shadow);
      background-color: var(--grey-dark);
      &.constructive {
        background-color: var(--constructive-color);
      }
      &.destructive {
        background-color: var(--destructive-color);
      }
    }
    &:disabled { // special disabled for mute styles
      color: var(--grey-medium);
      background-color: transparent;
      border-color: transparent;
      cursor: not-allowed;
      text-shadow: none;
      box-shadow: none;
      pointer-events: none;
      &:hover,
      &:focus,
      &:active {
        color: var(--grey-medium);
        background-color: transparent;
        border-color: transparent;
        text-shadow: none;
        box-shadow: none;
      }
      &.hexagon,
      &.hexagon::before,
      &.hexagon::after {
        box-shadow: var(--hexagon-shadow);
      }
    }
  }
  &.hot {
    color: var(--light);
    text-shadow: var(--text-shadow);
    background-color: var(--standard-color);
    border-color: var(--standard-color);
    &.constructive {
      background-color: var(--constructive-color);
      border-color: var(--constructive-color);
    }
    &.destructive {
      background-color: var(--destructive-color);
      border-color: var(--destructive-color);
    }
  }
  &:disabled {
    color: var(--grey-medium);
    background-color: var(--light);
    border-color: var(--light);
    cursor: not-allowed;
    text-shadow: none;
    box-shadow: none;
    pointer-events: none;
    &:hover,
    &:focus,
    &:active {
      color: var(--grey-medium);
      background-color: var(--light);
      border-color: var(--grey-medium);
      text-shadow: none;
      box-shadow: none;
    }
    &.hexagon,
    &.hexagon::before,
    &.hexagon::after {
      box-shadow: none;
    }
  }
  &.square,
  &.circle {
    padding: 5px;
    width: 35px;
    height: 35px;
    font-size: 120%;
    line-height: 1;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
  &.circle {
    border-radius: 50%;
  }
  &.hexagon {
    transition: none;
    width: 42px;
    height: 24.25px;
    font-size: 120%;
    line-height: 1;
    box-shadow: var(--hexagon-shadow);
    padding: 0;
    border: none;
    background-color: var(--morelight);
    span {
      position: absolute;
      background: inherit;
      top:0;
      left: 0;
      width:42px;
      height:24.2487px;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 29.70px;
      height: 29.70px;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background-color: inherit;
      left: 6.1508px;
      box-shadow: inherit;
    }
    &:before {
      top: -14.8492px;
    }
    &:after {
      bottom: -14.8492px;
    }
    &:nth-child(even) {
      left: 21px;
      top: -14.8492px;
    }
    &:hover,
    &:focus,
    &:active {
      color: var(--hovertextcolor);
      text-shadow: var(--text-shadow);
      background-color: var(--maincolor);
      box-shadow: var(--hover-box-shadow);
      outline: none;
      text-decoration: none;
    }
    &.constructive {
      --maincolor: var(--constructive-color);
    }
    &.destructive {
      --maincolor: var(--destructive-color);
    }
    &:disabled,
    &:disabled:before,
    &:disabled:after,
    &:disabled:hover {
      background-color: var(--disabledcolor);
      box-shadow: var(--hexagon-shadow-disabled);
    }
  }
}


