button {
  transition: all .2s;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  margin: 10px 5px 10px 5px;
  padding: 0.6em 1em 0.6em 1em;
  font-family: var(--button-font-family);
  font-weight: normal;
  font-size: 100%;
  line-height: 1;
  touch-action: manipulation;
  cursor: pointer;
  color: var(--button-default-color);
  background-color: transparent;
  border: 2px solid var(--button-default-color);
  border-radius: var(--button-border-radius);
  span {
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  &:hover,
  &:focus,
  &:active {
    color: var(--button-hover-text-color);
    text-shadow: var(--button-text-shadow);
    background-color: var(--button-default-color);
    box-shadow: var(--hover-box-shadow);
    outline: none;
    text-decoration: underline;
    filter: brightness(120%);
  }
  &.constructive {
    --button-default-color: var(--constructive-color);
  }
  &.destructive {
    --button-default-color: var(--destructive-color);
  }
  &:disabled {
    color: var(--button-disabled-text-color);
    background-color: var(--button-disabled-color);
    border-color: var(--button-disabled-color);
    cursor: not-allowed;
    text-shadow: none;
    box-shadow: none;
    pointer-events: none;
    &:hover,
    &:focus,
    &:active {
      color: var(--button-disabled-text-color);
      background-color: var(--button-disabled-color);
      border-color: var(--button-disabled-color);
      text-shadow: none;
      box-shadow: none;
    }
    &.hexagon,
    &.hexagon::before,
    &.hexagon::after {
      box-shadow: var(--hexagon-shadow);
    }
  }
  &.mute {
    background-color: transparent;
    border-color: transparent;
    &.constructive {
      color: var(--constructive-color);
      text-shadow: none;
    }
    &.destructive {
      color: var(--destructive-color);
      text-shadow: none;
    }
    &:hover,
    &:active,
    &:focus {
      color: var(--button-hover-text-color);
      text-shadow: var(--button-text-shadow);
      background-color: var(--button-default-color);
      &.constructive {
        background-color: var(--constructive-color);
      }
      &.destructive {
        background-color: var(--destructive-color);
      }
    }
    &:disabled { // special disabled for mute styles
      color: var(--button-disabled-color);
      background-color: transparent;
      border-color: transparent;
      cursor: not-allowed;
      text-shadow: none;
      box-shadow: none;
      pointer-events: none;
      &:hover,
      &:focus,
      &:active {
        color: var(--button-disabled-color);
        background-color: transparent;
        border-color: transparent;
        text-shadow: none;
        box-shadow: none;
      }
      &.hexagon,
      &.hexagon::before,
      &.hexagon::after {
        box-shadow: var(--hexagon-shadow);
      }
    }
  }
  &.hot {
    color: var(--button-hover-text-color);
    text-shadow: var(--button-text-shadow);
    background-color: var(--button-default-color);
    border-color: var(--button-default-color);
    &.constructive {
      background-color: var(--constructive-color);
      border-color: var(--constructive-color);
    }
    &.destructive {
      background-color: var(--destructive-color);
      border-color: var(--destructive-color);
    }
  }
  &:disabled {
    color: var(--button-disabled-text-color);
    background-color: var(--button-disabled-color);
    border-color: var(--button-disabled-color);
    cursor: not-allowed;
    text-shadow: none;
    box-shadow: none;
    pointer-events: none;
    &:hover,
    &:focus,
    &:active {
      color: var(--button-disabled-text-color);
      background-color: var(--button-disabled-color);
      border-color: var(--button-disabled-color);
      text-shadow: none;
      box-shadow: none;
    }
    &.hexagon,
    &.hexagon::before,
    &.hexagon::after {
      box-shadow: none;
    }
  }
  &.square,
  &.circle {
    padding: 5px;
    width: 35px;
    height: 35px;
    font-size: 120%;
    line-height: 1;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
  &.circle {
    border-radius: 50%;
  }
  &.micro {
    font-size: 60%;
  }
  &.small {
    font-size: 80%;
  }
  &.large {
    font-size: 120%;
  }
  &.fill {
    font-size: 120%;
    width: 100%;
    height: 100%;
  }
  &.pill {
    border-radius: 1.5em;
  }

  &.menu {
    overflow: visible;
    ul {
      display: none;
      flex-direction: column;
      flex-wrap: nowrap;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      top: 2.5em;
      min-width: 120%;
      overflow: visible;
      z-index: 220;
      border-radius: var(--button-border-radius);
      border: 2px solid var(--button-menu-background-color);
      background-color: var(--button-menu-background-color);
      color: var(--button-menu-item-text-color);
      text-shadow: var(--button-menu-item-text-shadow);
      box-shadow: var(--button-menu-box-shadow);
      li {
        padding: 0.6em 1em 0.6em 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &:hover,
        &:active,
        &:focus {
          background-color: var(--button-menu-item-hover-background-color);
          color: var(--button-menu-item-hover-text-color);
          text-shadow: var(--button-menu-item-hover-text-shadow);
        }
      }
      &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        left: 1.1em;
        top: -10px;
        border-width: 0 10px 10px 10px;
        border-style: solid;
        border-color: var(--button-menu-background-color) transparent;
      }
    }
    &.open {
      color: var(--button-hover-text-color);
      text-shadow: var(--button-text-shadow);
      background-color: var(--button-default-color);
      box-shadow: var(--hover-box-shadow);
      outline: none;
      text-decoration: none;
      ul {
        display: flex;
      }
    }
  }

  &.hexagon {
    transition: none;
    width: 42px;
    height: 24.25px;
    font-size: 120%;
    line-height: 1;
    box-shadow: var(--hexagon-shadow);
    padding: 0;
    border: none;
    background-color: var(--morelight);
    span {
      position: absolute;
      background: inherit;
      top:0;
      left: 0;
      width:42px;
      height:24.2487px;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 29.70px;
      height: 29.70px;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background-color: inherit;
      left: 6.1508px;
      box-shadow: inherit;
    }
    &:before {
      top: -14.8492px;
    }
    &:after {
      bottom: -14.8492px;
    }
    &:nth-child(even) {
      left: 21px;
    }
    &:hover,
    &:focus,
    &:active {
      color: var(--button-hover-text-color);
      text-shadow: var(--button-text-shadow);
      background-color: var(--button-default-color);
      box-shadow: var(--hover-box-shadow);
      outline: none;
      text-decoration: none;
    }
    &.constructive {
      --button-default-color: var(--constructive-color);
    }
    &.destructive {
      --button-default-color: var(--destructive-color);
    }
    &:disabled,
    &:disabled:before,
    &:disabled:after,
    &:disabled:hover {
      background-color: var(--button-disabled-color);
      box-shadow: var(--hexagon-shadow-disabled);
    }
  }
}


