div.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1em;
  position: relative;
  box-sizing: border-box;
  label {
    display: inline-block;
    margin: 0 .5em 0 .5em;
    flex-grow: 2;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin-left: .5em;
    margin-right: 0;
  }
  &.rightside {
    input[type="checkbox"],
    input[type="radio"] {
      margin-left: 0;
      margin-right: .5em;
    }
  }
}
input[type="checkbox"],
input[type="radio"]{
  transition: all .2s;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: transparent;
  border: .2em solid var(--checkbox-border-color);
  border-radius: var(--border-radius);
  display: inline-block;
  position: relative;
  padding: .9em;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  max-width: 2.5em;
  max-height: 2.5em;
  &:after {
    display: none;
    box-sizing: border-box;
    content: '';
    width: 1.7em;
    height: 1.7em;
    max-width: 1.7em;
    max-height: 1.7em;
    background-color: var(--checkbox-toggle-chrome-color);
    position: absolute;
    left: .2em;
    top: .2em;
    border: .7em solid var(--checkbox-toggle-chrome-color);
    border-radius: .3em;
    box-shadow: var(--hover-box-shadow);
  }
  &:checked {
    border-color: var(--checkbox-border-color);
    box-shadow: var(--checkbox-checked-shadow);
    background-color: var(--checkbox-focus-color);
    &:after {
      display: block;
    }
  }
  &:focus,
  &:active,
  &:hover {
    outline: none;
    border-color: var(--checkbox-focus-color);
    background-color: var(--checkbox-focus-color);
    box-shadow: var(--hover-box-shadow);
    &:after {
      display: block;
      background-color: transparent;
      border: .2em dotted var(--checkbox-toggle-chrome-color);
    }
    &:checked {
      box-shadow: var(--checkbox-checked-shadow-hover);
      &:after {
        border: .7em solid var(--checkbox-toggle-chrome-color);
        background-color: var(--checkbox-toggle-chrome-hovermark-color);
      }
    }
  }
  &:hover {
    &:checked {
      &:after {
        background-color: var(--checkbox-toggle-chrome-hovermark-color);
      }
    }
  }
  &:disabled,
  &:disabled:hover {
    color: var(--disabled-highlight-color);
    background-color: var(--disabled-base-color);
    border-color: var(--disabled-highlight-color);
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
    &:after {
      box-shadow: none;
    }
    &:checked:after {
      background-color: var(--disabled-highlight-color);
      border-color: var(--disabled-highlight-color);
      box-shadow: none;
    }
  }
  &.round {
    border-radius: 1.5em;
    &:checked,
    &:focus,
    &:active,
    &:hover {
      &:after {
        border-radius: 1.5em;
      }
    }
  }
  &.check {
    &:after,
    &:checked:after {
      display: none;
    }
    &:before {
      display: none;
      font-family: "cornflowerblue", serif;
      font-style: normal;
      font-weight: normal;
      speak: none;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: .2em;
      content: '\36';
      font-size: 3em;
      position: absolute;
      top: -.2em;
      left: -.3em;
      color: var(--checkbox-checkmark-color);
      text-shadow: var(--checkbox-check-text-shadow);
    }
    &:hover:before {
      display: inline-block;
      opacity: 0.2;
    }

    &:checked {
      background-color: var(--checkbox-checkmark-checked-background-color);
      border-color: var(--checkbox-checkmark-checked-border-color);
    }

    &:checked:before,
    &:checked:hover:before {
      opacity: 1;
      display: inline-block;
    }

    &:disabled,
    &:disabled:hover {
      color: var(--disabled-highlight-color);
      background-color: var(--disabled-base-color);
      border-color: var(--disabled-highlight-color);
      cursor: not-allowed;
      box-shadow: none;
      pointer-events: none;
      &:before {
        box-shadow: none;
        text-shadow: none;
      }
      &:checked:before {
        color: var(--disabled-highlight-color);
        box-shadow: none;
        text-shadow: none;
      }
    }
  }
  &.toggle,
  &.switch {
    width: 6em;
    max-width: 6em;
    height: 2.8em;
    max-height: 2.8em;
    background-color: var(--grey-medium);
    box-shadow: var(--checkbox-checked-shadow);
    &:after {
      display: block;
      box-sizing: border-box;
      content: '';
      width: 2em;
      height: 2em;
      max-width: 2em;
      max-height: 2em;
      position: absolute;
      left: .17em;
      top: .17em;
      border: .7em solid var(--checkbox-toggle-chrome-color);
      background-color: var(--checkbox-toggle-chrome-color);
      box-shadow: var(--hover-box-shadow);
      transition: all .2s;
    }
    &:hover,
    &:hover:checked {
      box-shadow: var(--checkbox-checked-shadow-hover);
      border-color: var(--focus-color);
      &:after {
        background-color: var(--checkbox-toggle-chrome-hovermark-color);
      }
    }
    &:checked {
      border-color: var(--grey-light);
      background-color: var(--focus-color);
      &:after {
        border: .7em solid var(--checkbox-toggle-chrome-color);
        left: auto;
        right: .17em;
      }
    }

    &:disabled,
    &:disabled:hover {
      background-color: var(--disabled-base-color);
      border-color: var(--disabled-highlight-color);
      cursor: not-allowed;
      box-shadow: none;
      pointer-events: none;
      &:after,
      &:checked:after {
        border-color: var(--disabled-highlight-color);
        background-color: var(--disabled-highlight-color);
        box-shadow: none;
      }
    }
  }
  &.toggle {
    border-radius: 1.5em;
    &:after,
    &:checked:after {
      border-radius: 1.5em;
    }
  }
}
input[type="radio"] {
  border-radius: 1.5em;
  width: 2.5em;
  height: 2.5em;
  max-width: 2.5em;
  max-height: 2.5em;
  &:after {
    width: 1.9em;
    height: 1.9em;
    max-width: 1.9em;
    max-height: 1.9em;
    left: .09em;
    top: .09em;
    border-radius: 1.5em;
  }
  &:checked,
  &:focus,
  &:active,
  &:hover {
    &:after {
      border-radius: 1.5em;
    }
  }
}

