
$blue: rgb(0, 84, 166) !default; // #0054a6
$blue-half: rgba(0, 84, 166, 0.5) !default; // #0054a6
$red: rgb(145, 0, 0) !default; // #910000
$red-half: rgba(145, 0, 0, 0.5) !default; // #910000
$orange: #ff9900 !default;
$yellow: #ffdd1b !default;
$green: rgb(0, 94, 32) !default; // #005e20
$green-half: rgba(0, 94, 32, 0.5) !default; // #005e20
$tan: #eadcbc !default;
$pink: #ff00de !default;
$lightblue: #a0e1fa !default;

$white: #fff !default;
$ultralight: #fdfdfd !default;
$morelight: #eee !default;
$light: #ddd !default;
$grey-light: #ccc !default;
$grey-medium: #999 !default;
$grey-dark: #666 !default;
$grey-meddark: #555 !default;
$grey-darker: #444 !default;
$grey-darkest: #222 !default;
$black: #000 !default;

$default-font-family: "Helvetica Neue", Arial, serif !default;

$border-radius: 3px !default;
$button-border-radius: $border-radius;

$text-shadow: 0 1px 1px rgba(0,0,0,0.5) !default;
$on-white-text-shadow: 0 1px 1px rgba(50,50,50,0.3) !default;
$text-shadow-red: 0 -1px 1px rgba(119, 0, 0, 0.3) !default;
$text-shadow-grey-medium: 0 1px 1px rgba(102, 102, 102, 0.3) !default;
$text-shadow-grey-dark: 0 1px 1px rgba(153, 153, 153, 0.3) !default;
$text-shadow-grey-darkest: 0 1px 1px rgba(0, 0, 0, 0.3) !default;

$box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.5) !default;
$hover-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.5);

$checkbox-checked-shadow: inset 0 3px 5px 0px rgba(0, 0, 0, 0.2), inset 0 -3px 5px 0px rgba(0, 0, 0, 0.2) !default;
$checkbox-checked-shadow-hover: 0 2px 5px 0 rgba(50, 50, 50, 0.5), inset 0 3px 5px 0px rgba(0, 0, 0, 0.2), inset 0 -3px 5px 0px rgba(0, 0, 0, 0.2) !default;

$panel-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5) !default;
$interior-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.7) !default;
$interior-shadow-inverse: 0px -3px 5px 0px rgba(0,0,0,0.75) !default;
$interior-shadows-inside: inset 0 3px 5px 0px rgba(0, 0, 0, 0.2), inset 0 -3px 5px 0px rgba(0, 0, 0, 0.2) !default;
$hexagon-shadow: 0 0 5px rgba(0,0,0,0.6);

$standard-color: $grey-dark;
$focus-color: $green;
$focus-color-half: $green-half;
$constructive-color: $green;
$constructive-color-half: $green-half;
$destructive-color: $red;
$destructive-color-helf: $red-half;
$hot-text-color: $light;
