body.modalopen {
  height: 100vh;
  overflow-y: hidden;
}
div.window-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2001;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  pointer-events: none;
  div.dialog {
    background-color: var(--dialog-background-color);
    padding: 0;
    text-align: left;
    max-width: 50%;
    max-height: 90%;
    min-width: 25em;
    margin: 2em auto;
    position: relative;
    border-radius: var(--dialog-border-radius);
    overflow: hidden;
    box-shadow: var(--dialog-box-shadow);
    flex-grow: 0;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    transition: all 0.2s;

    animation-duration: .2s;
    animation-name: cfb-pushup;

    h2 {
      background-color: var(--dialog-header-background-color);
      color: var(--dialog-header-text-color);
      text-shadow: var(--dialog-header-text-shadow);
      margin: 0;
      font-weight: normal;
      font-size: 150%;
      padding: .5em 1em .5em 1.5em;
      position: relative;
      width: 100%;
      border-bottom: .1em solid var(--dialog-header-border-color);
      box-shadow: var(--dialog-header-box-shadow);
      z-index: 20;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &:after {
        display: none;
      }
      span.t {
      }
      button.closebutton {
        position: relative;
        color: var(--dialog-header-text-color);
        text-shadow: var(--dialog-header-text-shadow);
      }
    }
    div.content {
      margin: 0;
      overflow: auto;
    }
    &.isform {
      div.content {
        margin: 0;
        padding: 0;
        //padding: .5em 1em .5em 1em;
        form {
          position: relative;
          margin: 0;
          border: 0;
          padding: 0;
          div.contentbox {
            position: relative;
            flex-grow: 1;
            overflow: auto;
            //height: calc(100% - 100px);
            //min-height: 200px;
            max-height: 30%;
            z-index: 10;
            padding: .5em 1.5em .5em 1.5em;
            div.header,
            div.elements {
              padding: 0;
            }
          }
          div.actions {
            padding: .5em 1.5em .5em 1.5em;
            position: relative;
            flex-grow: 0;
            flex-shrink: 0;
            z-index: 50;
            height: 5em;
            min-height: 5em;
            max-height: 5em;
          }
        }
      }
    }
  }
}

div.window-mask {
  background-color: var(--dialog-window-mask-color);
  opacity: var(--dialog-window-mask-opacity);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}
