div.window-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2001;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  pointer-events: none;
  div.dialog {
    background-color: var(--ultralight);
    padding: 0;
    text-align: left;
    min-width: 50%;
    max-width: 50%;
    max-height: 90%;
    margin: 40px auto;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: var(--panel-shadow);
    flex-grow: 0;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    transition: all 0.5s;
    animation-duration: .2s;
    animation-name: dialogEntry;
    h2 {
      background-color: var(--grey-dark);
      color: var(--light);
      text-shadow: var(--text-shadow);
      margin: 0;
      font-weight: normal;
      font-size: 16pt;
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
      width: 100%;
      border-bottom: 1px solid var(--grey-darkest);
      box-shadow: var(--interior-shadow);
      z-index: 20;
      span {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    div.content {
      margin: 0;
      overflow: auto;
    }
    button.closebutton {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.5;
      z-index: 1046;
      box-shadow: none;
      margin: 0;
      background: none;
      border: none;
      color: var(--light);
      text-shadow: var(--text-shadow);
      &:hover {
        opacity: 1;
        background: none;
      }
    }

    &.isform {
      div.content {
        margin: 0;
        overflow: hidden;
        form {
          position: relative;
          margin: 0;
          border: 0;
          div.contentbox {
            position: relative;
            flex-grow: 1;
            overflow: auto;
            //height: calc(100% - 100px);
            //min-height: 200px;
            height: 400px;
            z-index: 10;
          }
          div.actions {
            box-shadow: var(--interior-shadow-inverse);
            position: relative;
            flex-grow: 0;
            z-index: 50;
            height: 100px;
            min-height: 100px;
            max-height: 100px;
          }
        }
      }
    }
  }
}
div.window-mask {
  background-color: var(--white);
  opacity: .75;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}

@keyframes dialogEntry {
  0% {
    //transform: scale(4);
    opacity: 0;
  }
  100% {
    opacity: 1;
    //transform: scale(1);
  }
}

@keyframes windowMaskEntry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .6;
  }
}

@keyframes panelFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
