* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
}

// Headers
h1 {
  font-weight: normal;
  font-size: 2em;
  margin: .5em 0 1em 0;
  color: var(--headers-h1-text-color);
  text-shadow: var(--headers-h1-text-shadow);
  text-transform: var(--headers-h1-text-transform);
  &.inset {
    background-color: var(--headers-h1-text-color);
    color: transparent;
    text-shadow: 0 .05em .05em rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
}
h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin: .5em 0 1em 0;
  text-transform: var(--headers-h2-text-transform);
  color: var(--headers-h2-text-color);
  border-bottom: 2px solid var(--headers-h2-border-color);
}

h3 {
  font-weight: normal;
  font-size: 1.2em;
  margin: .5em 0 1em 0;
  text-transform: var(--headers-h3-text-transform);
  color: var(--headers-h3-text-color);
  border-bottom:2px solid var(--headers-h3-border-color);
}

h4 {
  font-weight: normal;
  font-size: 1em;
  margin: .5em 0 1em 0;
  text-transform: var(--headers-h4-text-transform);
  color: var(--headers-h4-text-color);
  border-bottom:2px solid var(--headers-h4-border-color);
}

h5 {
  font-weight: normal;
  font-size: 1em;
  margin: .5em 0 1em 0;
  text-transform: var(--headers-h5-text-transform);
  color: var(--headers-h5-text-color);
}

h6 {
  font-weight: normal;
  font-size: 1em;
  margin: .5em 0 1em 0;
  text-transform: var(--headers-h6-text-transform);
  color: var(--headers-h6-text-color);
}

p {
  margin: 1em 0 1em 0;
  line-height: 1.4;
  color: var(--paragraph-text-color);
  width: var(--paragraph-measure);
  text-shadow: var(--paragraph-shadow);

}

label {
  display: block;
  font-weight: normal;
  position: relative;
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 13pt;
  color: var(--label-color);
  text-shadow:var(--label-text-shadow);
  text-transform: var(--label-text-transform);
  button.help {
    color: var(--label-color);
    text-shadow:var(--label-text-shadow);
    font-size: 100%;
    &:hover,
    &:focus,
    &:active {
      color: var(--label-color);
      text-shadow:var(--label-text-shadow);
    }

  }

}
a {
  color: var(--link-color);
  text-shadow: var(--link-text-shadow);
  &:link {
    text-decoration: underline;
  }
  &:hover {
    filter: brightness(120%);
    text-decoration: underline double;
  }
  &:active {
    filter: brightness(120%);
  }
  &:visited {
    filter: brightness(80%);
    text-decoration: none;
  }
}
