* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
}

// Headers
h1 {
  font-weight: normal;
  font-size: 2em;
  margin: .5em 0 1em 0;
  color: var(--headers-h1-text-color);
  text-shadow: var(--headers-h1-text-shadow);
  text-transform: var(--headers-h1-text-transform);
  &.inset {
    background-color: var(--headers-h1-text-color);
    color: transparent;
    text-shadow: 0 .05em .05em rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
}
h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin: .5em 0 1em 0;
  text-transform: var(--headers-h2-text-transform);
  color: var(--headers-h2-text-color);
}

h3 {
  font-weight: normal;
  font-size: 1.2em;
  margin: .5em 0 1em 0;
  text-transform: var(--headers-h3-text-transform);
  color: var(--headers-h3-text-color);
}

h4 {
  font-weight: normal;
  font-size: 1em;
  margin: .5em 0 1em 0;
  text-transform: var(--headers-h4-text-transform);
  color: var(--headers-h4-text-color);
}

h5 {
  font-weight: normal;
  font-size: 1em;
  margin: .5em 0 1em 0;
  text-transform: var(--headers-h5-text-transform);
  color: var(--headers-h5-text-color);
}

h6 {
  font-weight: normal;
  font-size: 1em;
  margin: .5em 0 1em 0;
  text-transform: var(--headers-h6-text-transform);
  color: var(--headers-h6-text-color);
}

p {
  margin: 1em 0 1em 0;
  line-height: 1.4;
  color: var(--paragraph-text-color);
  width: var(--paragraph-measure);
  text-shadow: var(--paragraph-shadow);
  font-family: var(--paragraph-font-family);
  &:first-letter2 {
    font-size: 3.2rem;
    line-height: .7;
    float: left;
    padding-right: 8px;
    padding-top: 4px;
  }
}

label {
  display: block;
  font-weight: normal;
  position: relative;
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 100%;
  color: var(--label-color);
  text-shadow: var(--label-text-shadow);
  text-transform: var(--label-text-transform);
  button.help {
    color: var(--label-color);
    text-shadow:var(--label-text-shadow);
    font-size: 100%;
    margin: 0 .5em 0 .5em;
    &:hover,
    &:focus,
    &:active {
      color: var(--label-color);
      text-shadow:var(--label-text-shadow);
    }
  }
}
a {
  color: var(--link-color);
  text-shadow: var(--link-text-shadow);
  &:link {
    text-decoration: underline;
  }
  &:hover {
    filter: brightness(120%);
    text-decoration: underline double;
  }
  &:active {
    filter: brightness(120%);
  }
  &:visited {
    filter: brightness(80%);
    text-decoration: none;
  }
}


dfn {
  font-style: oblique;
}

cite {
  font-style: oblique;
}
em {
  font-style: oblique;
}
strong {
  font-weight: bold;
}

pre {
  font-family: "Courier New", Courier, monospace;
}

blockquote {
  display: block;
  padding: 1em;
  margin: 1em auto .5em auto;
  width: 70%;
  max-width: 70%;
  min-width: 70%;
  font-style: oblique;
  border-bottom: .1em solid var(--blockquote-border-color);
  border-top: .1em solid var(--blockquote-border-color);
  background-color: var(--blockquote-background-color);
  color: var(--blockquote-text-color);
  text-shadow: var(--blockquote-text-shadow);
  p {
    margin: .5em;
  }
}

hr {
  margin: 1em 2.5em 1em 2.5em;
  background-color: var(--hr-background-color);
  border-top: .2em double var(--hr-border-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

aside {
  display: block;
  float: right;
  padding: 1em;
  margin: 0 0 .5em .5em;
  width: 40%;
  font-style: oblique;
  border-left: .1em solid var(--aside-border-color);
  background-color: var(--aside-background-color);
  color: var(--aside-text-color);
  text-shadow: var(--aside-text-shadow);
  p {
    margin: .5em;
  }
}

code {
  font-family: var(--code-font-family);
  background-color: var(--code-background-color);
  color: var(--code-text-color);
  text-shadow: var(--code-text-shadow);
  &.block {
    display: block;
    font-size: 90%;
    padding: 1.5em;
    overflow: auto;
  }
}


