$growler-core-color: $blue;
$growler-max-width: 300px;
div.growlbox {
  z-index: 50000;
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: $growler-max-width;
  &.top-left {
    top: 10px;
    left: 10px;
  }
  &.top-right {
    top: 10px;
    right: 10px;
  }
  &.bottom-left {
    bottom: 10px;
    left: 10px;
  }
  &.bottom-right {
    bottom: 10px;
    right: 10px;
  }
  &.top-center {
    top: 10px;
    right: 10px;
    left: 10px;
    margin-left: auto;
    margin-right: auto;
    .growler {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.bottom-center {
    bottom: 10px;
    right: 10px;
    left: 10px;
    margin-left: auto;
    margin-right: auto;
    .growler {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.growler {
  opacity: 0;
  position: relative;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid $growler-core-color;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: $panel-shadow;
  color: $grey-darkest;
  background-color: $light;
  margin-bottom: 20px;
  width: $growler-max-width;
  max-width: $growler-max-width;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  button.closebutton {
    margin:0;
    opacity: 0.6;
    color: $grey-medium;
    border-color: transparent;
    background-color: transparent;
    &:active,
    &:focus,
    &:hover {
      opacity: 1;
      outline: none;
      box-shadow: none;
      text-shadow: none;
    }
  }
  div.title {
    font-size: 100%;
    padding: 0;
    margin: 0;
    background-color: $growler-core-color;
    color: $light;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    div.icon {
      text-shadow: $text-shadow;
    }
    div.t {
      text-shadow: $text-shadow;
      padding: 5px 10px 5px 10px;
    }
    button.closebutton {
      color: $light;
      margin-right: 0;
      margin-left: auto;
      position: relative;
      left: auto;
      top: auto;
      &:hover {
        text-shadow: $text-shadow;
      }
    }
  }
  div.payload {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    div.icon {
      font-size: 30pt;
    }
    div.text {
      font-size: 90%;
      padding: 5px 10px 5px 10px;
    }
  }
}
