
[hidden] { display: none; }

div.input-container {
  margin: 10px 30px 10px 30px;
  position: relative;
  box-sizing: border-box;
  div.charcounter {
    color: $grey-medium;
    display: block;
    font-size: 85%;
    font-style: oblique;
    text-align: right;
    position: absolute;
    right: 0;
    &.danger {
      color: $orange;
    }
    &.outofbounds {
      color: $red;
    }
  }
  ul.messagebox {
    display: none;
    font-size: 90%;
    margin: 5px 0 5px 0;
    &.shown {
      display: block;
    }
    li {
      margin: 5px 0 5px 0;
      &.error {
        color: $red;
      }
      &.warning {
        color: $orange;
      }
    }
  }
  &.mute {
    label {
      visibility: hidden;
    }
    &.active,
    &.filled {
      label {
        visibility: visible;
      }
    }
  }
  &.required {
    label {
      &:after {
        color: $red;
        content: 'required';
        font-size: 75%;
        margin-left: 5px;
      }
    }
  }
}

label {
  display: block;
  font-weight: normal;
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 13pt;
  color: $grey-darker;
  text-shadow:$text-shadow-grey-medium;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  transition: all .2s;
  box-sizing: border-box;
  outline: none;
  position: relative;
  font-family: inherit;
  width: 100%;
  background-color: $ultralight;
  margin: 0;
  font-size: 105%;
  border: 2px solid $standard-color;
  padding: 10px 10px 10px 20px;
  border-radius: 1px;
  color: $grey-darker;
  text-shadow:$text-shadow-grey-medium;
  vertical-align: middle;
  &::placeholder {
    color: $grey-medium;
    font-weight: normal;
    text-shadow:none;
  }
  &:disabled {
    border-color: $grey-light;
    background-color: $light;
    color: $grey-medium;
    cursor: not-allowed;
    text-shadow:none;
  }
  &:focus {
    border-color: $focus-color;
    box-shadow: inset 10px 0 0 $focus-color;
    &::placeholder {
      opacity: 0.3;
    }
  }
  &.mute {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    &::placeholder {
      color: $grey-darker;
      text-shadow:$text-shadow-grey-medium;
    }
    &:disabled {
      &::placeholder {
        color: $grey-medium;
      }
    }
    &:focus {
      border-bottom-color: $focus-color;
      background-color: rgba(255,255,255, 0.5);
      box-shadow: inset 0px -4px 0 0 $focus-color;
    }
  }
}
textarea {
  &.mute {
    padding: 10px 10px 10px 20px;
    border-left: 2px solid $standard-color;
    border-bottom: none;
    &:focus {
      border-left-color: $focus-color;
      background-color: rgba(255,255,255, 0.5);
      box-shadow: inset 10px 0 0 $focus-color;
    }
  }
}

[title-x] {
  position: relative;
  cursor: help;
}

[title-x]::before {
  content: attr(title);
  position: absolute;
  top: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}
[title-x]::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
}