
[hidden] { display: none; }

div.input-container {


  margin: 10px 30px 10px 30px;
  position: relative;
  box-sizing: border-box;
  div.wrap {
    position: relative;
    &:after {
      position: absolute;
      right: 2px;
      top: 0;
      bottom: 2px;
      width: 45px;
      margin: 0;
      background-color: var(--input-status-default-background-color);
      font-family: "cornflowerblue";
      font-style: normal;
      font-weight: normal;
      speak: none;
      text-decoration: inherit;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      content: '\36'; // checkmark
      font-size: 20pt;
      color: var(--input-status-icon-color);
      text-shadow: var(--input-status-icon-text-shadow);
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  div.charcounter {
    color: var(--input-subline-text-color);
    display: block;
    font-size: 85%;
    font-style: oblique;
    text-align: right;
    position: absolute;
    right: 0;
    top: 12px;
    &.danger {
      color: var(--input-subline-warning-text-color);
    }
    &.outofbounds {
      color: var(--input-subline-error-text-color);
    }
  }
  ul.messagebox {
    display: none;
    font-size: 90%;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    &.shown {
      display: block;
    }
    li {
      margin: 5px 0 5px 0;
      &.error {
        color: var(--input-messages-error-text-color);
      }
      &.warning {
        color: var(--input-messages-warning-text-color);
      }
    }
  }
  &.mute {
    label {
      visibility: hidden;
      margin-top: 0;
    }
    &.active,
    &.filled {
      label {
        visibility: visible;
      }
    }
    div.wrap {
      &:after {
        right: 0;
      }
    }
  }
  &.required {
    label {
      &:after {
        color: var(--label-required-marker-color);
        content: 'required';
        font-size: 75%;
        margin-left: 5px;
      }
    }
  }
  &.error {

    input[type="text"],
    input[type="number"],
    input[type="password"],
    textarea {
      border-color: var(--error-color);
      &:focus {
        border-color: var(--error-color);
        box-shadow: inset 10px 0 0 var(--error-color);
      }
    }
    ul.messagebox {
      background-image: var(--error-stripes);
      border-left: 1px dashed var(--error-half);
      border-right: 1px dashed var(--error-half);
      border-bottom: 1px dashed var(--error-half);
    }
    div.wrap {
      &:after {
        display: flex;
        background-color: var(--input-status-error-background-color);
        color: var(--input-status-icon-color);
        text-shadow: var(--input-status-error-icon-text-shadow);
        content: '\39';
      }
    }
    &.mute {
      input[type="text"],
      input[type="number"],
      input[type="password"],
      textarea {
        border-color: var(--error-color);
        &:focus {
          border-color: var(--error-color);
          box-shadow: inset 0px -4px 0 0 var(--error-color);
        }
      }
    }
  }
  &.warning {
    input[type="text"],
    input[type="number"],
    input[type="password"],
    textarea {
      border-color: var(--warning-color);
      &:focus {
        border-color: var(--warning-color);
        box-shadow: inset 0px -4px 0 0 var(--warning-color);
      }
    }
    ul.messagebox {
      background-image: var(--warning-stripes);
      border-left: 1px dashed var(--warning-color-half);
      border-right: 1px dashed var(--warning-color-half);
      border-bottom: 1px dashed var(--warning-color-half);
    }
    div.wrap {
      &:after {
        display: flex;
        background-color: var(--input-status-warning-background-color);
        text-shadow: var(--input-status-warning-icon-text-shadow);
        color: var(--input-status-warning-icon-color);
        content: '\36';
      }
    }
  }
  &.dirty {
    div.wrap {
      &:after {
        display: flex;
        background-color: var(--input-status-dirty-background-color);
        text-shadow: var(--input-status-dirty-icon-text-shadow);
        color: var(--input-status-dirty-icon-color);
        content: '\36';
      }
    }
    &.active {
      div.wrap {
        &:after {
          background-color: var(--input-status-active-background-color);
          text-shadow: var(--input-status-active-icon-text-shadow);
          color: var(--input-status-active-icon-color);
        }
      }
    }
  }
}
div.textarea-container {
  div.wrap {
    &:after {
      justify-content: flex-start;
      padding-top: 8px;
    }
  }
}

label {
  display: block;
  font-weight: normal;
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 13pt;
  color: var(--label-color);
  text-shadow:var(--label-text-shadow);
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  transition: all .2s;
  box-sizing: border-box;
  outline: none;
  position: relative;
  font-family: inherit;
  width: 100%;
  background-color: var(--input-default-background-color);
  margin: 0;
  font-size: 105%;
  border: 2px solid var(--input-default-border-color);
  padding: 10px 10px 10px 20px;
  border-radius: 1px;
  color: var(--input-default-text-color);
  text-shadow:var(--input-default-text-shadow);
  vertical-align: middle;
  &::placeholder {
    color: var(--input-default-placeholder-color);
    font-weight: normal;
    text-shadow:none;
  }
  &:disabled {
    border-color: var(--input-disabled-border-color);
    background-color: var(--input-disabled-background-color);
    color: var(--input-disabled-text-color);
    cursor: not-allowed;
    text-shadow:none;
  }
  &:focus {
    border-color: var(--input-focused-border-color);
    box-shadow: inset 10px 0 0 var(--input-focused-border-color);
    &::placeholder {
      opacity: 0.3;
    }
  }
  &.mute {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    &::placeholder {
      color: var(--label-color);
      text-shadow:var(--label-text-shadow);
    }
    &:disabled {
      &::placeholder {
        color: var(--input-disabled-placeholder-color);
      }
    }
    &:focus {
      border-bottom-color: var(--focus-color);
      background-color: var(--input-focused-mute-background-color);
      box-shadow: inset 0px -4px 0 0 var(--focus-color);
    }
  }
}
textarea {
  &.mute {
    padding: 10px 10px 10px 20px;
    border-left: 2px solid var(--input-default-border-color);
    border-bottom: none;
    &:focus {
      border-left-color: var(--focus-color);
      background-color: var(--input-mute-background-color);
      box-shadow: inset 10px 0 0 var(--focus-color);
    }
  }
}
