
[hidden] { display: none; }

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  transition: all .2s;
  box-sizing: border-box;
  outline: none;
  position: relative;
  font-family: inherit;
  width: 100%;
  background-color: var(--input-default-background-color);
  margin: 0;
  font-size: 105%;
  border: .1em solid var(--input-default-border-color);
  padding: .5em 1em .5em 1.5em;
  border-radius: .1em;
  color: var(--input-default-text-color);
  text-shadow:var(--input-default-text-shadow);
  vertical-align: middle;
  &::placeholder {
    color: var(--input-default-placeholder-color);
    font-weight: normal;
    text-shadow: none;
  }
  &:disabled {
    border-color: var(--input-disabled-border-color);
    background-color: var(--input-disabled-background-color);
    color: var(--input-disabled-text-color);
    cursor: not-allowed;
    text-shadow:none;
  }
  &:focus {
    border-color: var(--input-focused-border-color);
    background-color: var(--input-focused-background-color);
    box-shadow: inset .5em 0 0 var(--input-focused-border-color);
    &::placeholder {
      opacity: 0.3;
    }
  }
  &.mute {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    padding-left: 0;
    &::placeholder {
      color: var(--label-color);
      text-shadow:var(--label-text-shadow);
      text-transform: var(--label-text-transform);
    }
    &:focus {
      border-bottom-color: var(--focus-color);
      background-color: var(--input-focused-background-color);
      box-shadow: inset 0px -4px 0 0 var(--focus-color);
      &::placeholder {
        opacity: 0;
      }
    }
    &:disabled {
      &::placeholder {
        color: var(--input-disabled-placeholder-color);
        text-shadow: none;
      }
    }
  }
}
textarea {
  height: 4em;
  &:focus {
    height: 8em;
  }
  &.mute {
    padding: 10px 10px 10px 20px;
    border-left: 2px solid var(--input-default-border-color);
    border-bottom: none;
    &:focus {
      border-left-color: var(--focus-color);
      box-shadow: inset 10px 0 0 var(--focus-color);
    }
  }
}
