div.input-container,
div.textarea-container {
  margin: .5em 0 .5em 0;
  position: relative;
  div.wrap {
    position: relative;
    div.inputcontrol {
      transition: all .2s;
      position: absolute;
      right: 1em;
      top: 0;
      bottom: 0;
      &.stepbuttons {
        --button-default-color: var(--standard-color);
        display: flex;
        opacity: .25;
        top: .2em;
        bottom: .2em;
        right: 3.5em;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        &:hover {
          opacity: 1;
        }
        button {
          span.icon {
            margin: 0;
          }
        }
      }
    }
    &:after {
      opacity: 0;
      display: flex;
      position: absolute;
      transition: all .2s;
      right: 0;
      top: 0;
      bottom: 0;
      width: 2em;
      margin: 0;
      background-color: var(--input-status-default-background-color);
      font-family: "cornflowerblue", serif;
      font-style: normal;
      font-weight: normal;
      speak: none;
      text-decoration: inherit;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      content: '\54'; // circle checkmark
      font-size: 20pt;
      color: var(--input-status-icon-color);
      text-shadow: var(--input-status-icon-text-shadow);
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  div.topcontrol {
    position: absolute;
    right: 0;
    top: 1.3em;
    z-index: 10;
    transition: all .2s;
    --button-default-color: var(--input-subline-text-color);
    --button-hover-text-color: var(--input-subline-text-color);
    --button-text-shadow: none;
  }
  div.charcounter,
  div.searchdisplay {
    color: var(--input-subline-text-color);
    display: block;
    font-size: 85%;
    font-style: oblique;
    text-align: right;
    &.danger {
      color: var(--input-subline-warning-text-color);
    }
    &.outofbounds {
      color: var(--input-subline-error-text-color);
    }
  }
  ul.messagebox {
    transition: all .2s;
    display: none;
    font-size: 90%;
    margin: 0;
    padding: .5em 1em .5em 2em;
    background-color: var(--input-messages-background-color);
    &.shown {
      display: block;
    }
    li {
      margin: .5em 0 .5em 0;
      &.error {
        color: var(--input-messages-error-text-color);
      }
      &.warning {
        color: var(--input-messages-warning-text-color);
      }
    }
  }
  div.passivebox {
    background-color: var(--input-passivebox-background-color);
    border: .1em solid var(--input-passivebox-background-color);
    border-radius: var(--input-border-radius);
    padding: var(--input-default-padding);
    vertical-align: middle;
    color: var(--input-passivebox-text-color);
    font-size: 105%;
    width: 100%;
    display: none;
  }
  &.mute {
    label {
      opacity: 0;
      margin-top: 0;
    }
    div.topcontrol {
      opacity: .5;
      top: .3em;
    }
    &.active,
    &.filled {
      label {
        opacity: 1;
      }
      div.topcontrol {
        opacity: 1;

      }
    }
    div.wrap {
      &:after {
        right: 0;
      }
    }

  }
  &.required {
    label {
      &:after {
        color: var(--label-required-marker-color);
        content: 'required';
        font-size: 75%;
        margin-left: .5em;
      }
    }
  }
  &.valid {
    div.wrap {
      &:after {
        opacity: 1;
        background-color: var(--input-status-valid-background-color);
        text-shadow: var(--input-status-valid-icon-text-shadow);
        color: var(--input-status-valid-icon-color);
        content: '\54';
      }
    }
    &.active {
      div.wrap {
        &:after {
          background-color: var(--input-status-active-background-color);
          text-shadow: var(--input-status-active-icon-text-shadow);
          color: var(--input-status-active-icon-color);
        }
      }
    }
  }
  &.warning {
    input[type="text"],
    input[type="number"],
    input[type="password"],
    textarea {
      border-color: var(--warning-color);
      &:focus {
        border-color: var(--warning-color);
        box-shadow: inset 0 -.4em 0 0 var(--warning-color);
        background-color: var(--warning-color-translucent);
      }
    }
    ul.messagebox {
      background-image: var(--warning-stripes);
      border-left: .1em dashed var(--warning-color-half);
      border-right: .1em dashed var(--warning-color-half);
      border-bottom: .1em dashed var(--warning-color-half);
    }
    div.wrap {
      &:after {
        opacity: 1;
        background-color: var(--input-status-warning-background-color);
        text-shadow: var(--input-status-warning-icon-text-shadow);
        color: var(--input-status-warning-icon-color);
        content: '\53';
      }
    }
  }
  &.error {
    input[type="text"],
    input[type="number"],
    input[type="password"],
    textarea {
      border-color: var(--error-color);
      &:focus {
        border-color: var(--error-color);
        box-shadow: inset .5em 0 0 var(--error-color);
        background-color: var(--error-color-translucent);
      }
    }
    ul.messagebox {
      background-image: var(--error-stripes);
      border-left: .1em dashed var(--error-color-half);
      border-right: .1em dashed var(--error-color-half);
      border-bottom: .1em dashed var(--error-color-half);
    }
    div.wrap {
      &:after {
        opacity: 1;
        background-color: var(--input-status-error-background-color);
        color: var(--input-status-icon-color);
        text-shadow: var(--input-status-error-icon-text-shadow);
        content: '\51';
      }
    }
    &.mute {
      input[type="text"],
      input[type="number"],
      input[type="password"],
      textarea {
        border-color: var(--error-color);
        &:focus {
          border-color: var(--error-color);
          box-shadow: inset 0 -.4em 0 0 var(--error-color);
        }
      }
    }
  }
  &.disabled {
    background-image: var(--dark-grey-stripes);
    label {
      text-shadow: none;
    }
  }
  &.active {
    label {
      color: var(--focus-color);
    }
    div.wrap {
      &:after {
        opacity: 0;
      }
      div.stepbuttons {
        opacity: 1;
      }
      div.topcontrol {
        opacity: 1;
        top: .3em;
      }
    }
  }
  &.passive {
    label {
      opacity: 1;
      button.help,
      &:after {
        display: none;
      }
    }
    div.wrap,
    div.topcontrol,
    ul.messagebox,
    ul.selectmenu {
      display: none;
    }
    div.passivebox {
      display: block;
    }
  }
}
div.textarea-container {
  div.wrap {
    &:after {
      justify-content: flex-start;
      padding-top: .5em;
    }
  }
  &.mute {
    div.charcounter {
      top: .3em;
    }
  }
  div.passivebox {
    min-height: 4em;
  }
}
