div.instructions {
  margin: 1em 0 1em 0;
  padding: 1em;
  border: .1em dotted var(--instructions-border-color);
  background-color: var(--instructions-background-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  span.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 72pt;
    margin: 0;
    color: var(--instructions-icon-color);
    text-shadow: var(--instructions-icon-text-shadow);
  }
  ul {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 1.2em 0 1.2em;
    color: var(--instructions-text-color);
    text-shadow: var(--instructions-text-shadow);
  }
  &.size-1 {
    align-items: center;
    span.icon {
      font-size: 24pt;
      margin-right: .5em;
    }
    ul {
      list-style-type: none;
    }
  }
  &.size-2 {
    align-items: center;
    span.icon {
      font-size: 40pt;
      margin-right: .5em;
    }
  }
  &.size-3 {
    span.icon {
      font-size: 50pt;
      margin-right: .2em;
    }
  }

}