div.panel {

  --panel-max-width: 22em;
  --panel-border-radius: var(--border-radius);
  --panel-background-color: var(--canvas-color-secondary);
  --panel-box-shadow: var(--panel-shadow);
  --panel-text-color: var(--grey-darkest);
  --panel-text-shadow: var(--text-shadow);
  --panel-padding: .5em 1em .5em 1em;

  position: absolute;
  z-index: 1000;
  border-radius: var(--panel-border-radius);
  box-shadow: var(--panel-box-shadow);
  transition: all .5s ease-in-out;
  text-shadow: var(--panel-text-shadow);
  color: var(--panel-text-color);
  background-color: var(--panel-background-color);
  margin: 0;
  padding: var(--panel-padding);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  button.closebutton {
    --button-default-color: var(--panel-text-color);
    margin: .3em .5em 0 0;
    //padding: 0;
    width: 1em;
    height: 1em;
    opacity: 1;
    &:hover,
    &:focus,
    &:active {
      color: var(--panel-text-color);
      opacity: 1;
    }
  }
  div.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    h3 {
      margin: 0 0 .5em 0;
      cursor: pointer;
      border-bottom: .1em var(--panel-text-color);
      text-transform: unset;
      white-space: nowrap;
    }
  }
  &[aria-expanded=false] {
    button.closebutton {
      transform: rotate(-90deg);
    }
    div.content {
      h3 {
        margin: 0;
      }
      .pcontent {
        display: none;
      }
    }
  }

  // Styles
  &.ghost {
    opacity: .5;
    &:hover,
    &:focus,
    &:focus-within {
      opacity: 1;
    }
  }
  &.invisible {
    background-color: transparent;
    box-shadow: none;
  }
  // Locations
  &.top-left {
    top: 1em;
    left: 1em;
  }
  &.top-right {
    top: 1em;
    right: 1em;
  }
  &.bottom-left {
    bottom: 1em;
    left: 1em;
  }
  &.bottom-right {
    bottom: 1em;
    right: 1em;
  }
  &.top-center {
    top: 1em;
    right: 1em;
    left: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  &.bottom-center {
    bottom: 1em;
    right: 1em;
    left: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}
