div.progressmeter {
  --progressmeter-marker-unfilled-line-color: var(--grey-medium);
  --progressmeter-marker-background-color: var(--grey-darkest);
  --progressmeter-marker-border-color: var(--grey-medium);
  --progressmeter-marker-current-background-color: var(--focus-color);
  --progressmeter-marker-current-border-color: var(--grey-medium);
  --progressmeter-step-name-color: var(--grey-darker);
  --progressmeter-step-points-color: var(--grey-dark);

  --progressmeter-relation-marker-color: var(--grey-darkest);
  --progressmeter-relation-base-background-color: var(--grey-medium);
  --progressmeter-relation-background-color: var(--blue);
  --progressmeter-relation-tooltip-background-color: var(--grey-darkest);
  --progressmeter-relation-tooltip-text-color: var(--ultralight);

  --progressmeter-main-background-color: var(--ultralight);
  --progressmeter-main-current-background-color: var(--grey-light);
  --progressmeter-main-current-border-color: var(--grey-dark);
  --progressmeter-main-aspirant-background-color: transparent;


  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1em 0 1em 0;

  div.descriptorlayer {
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    div.descriptor {
      display: flex;
      flex-direction: column;
      align-items: center;
      div.name {
        color: var(--progressmeter-step-name-color);
        font-weight: bold;
        margin: 0;
      }
      div.points {
        color: var(--progressmeter-step-points-color);
        font-size: 110%;
        margin: 0 0 1em 0;
      }
      div.marker {
        display: none;
      }
    }

  }
  div.relationlayer {
    position: relative;
    padding-right: 1em;
    background-color: var(--progressmeter-relation-base-background-color);
    width: 100%;
    height: .5em;
    div.mline {
      border-right: .1em solid var(--progressmeter-relation-marker-color);
      background-color: var(--progressmeter-relation-background-color);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: .5em;
      overflow: visible;
      div.details {
        display: none;
        position: absolute;
        right: 0;
        top: 1em;
        background-color: var(--progressmeter-relation-tooltip-background-color);
        cursor: hand;
        padding: .5em;
        white-space: nowrap;
        font-size: 80%;
        span.t-name {
          font-weight: bold;
          color: var(--progressmeter-relation-tooltip-text-color);
          &:after {
            display: inline-block;
            content: '|';
            margin: 0 1em 0 1em;
          }
        }
        span.t-points {
          font-style: italic;
          color: var(--progressmeter-relation-tooltip-text-color);
        }
      }
      &:hover {
        div.details {
          display: block;
        }
      }
    }
  }
  div.mainlayer {
    background-color: var(--progressmeter-main-background-color);
    height: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    border-top: .5em solid var(--progressmeter-main-current-border-color);
    div.current {
      margin: 0;
      background-color: var(--progressmeter-main-current-background-color);
      border-right: .1em solid var(--progressmeter-main-current-border-color);
      width: 30%;
      height: 100%;
    }
    div.aspirant {
      margin: 0;
      height: 100%;
      flex-grow: 1;
      background-color: var(--progressmeter-main-aspirant-background-color);
    }
  }



}