fieldset.radiogroup {
  border: none;
  background-color: transparent;
  margin: .5em 0 .5em 0;
  position: relative;
  ul {
    list-style-type: none;
    li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin: .5em 0 1em 0;
      input[type="radio"] {
        display: inline-block;
        margin: 0 1em 0 0;
      }
      label {
        display: inline-block;
        margin: 0;
        text-shadow: none;
      }
    }
  }
}
