form {
  margin: 0;
  position: relative;
  border: .1em solid var(--form-border-color);
  background-color: var(--form-background-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  div.shade {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
    background-color: var(--form-shade-background-color);
    border: .1em solid var(--form-shade-border-color);
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    span.icon {
      display: block;
      color: var(--form-shade-icon-color);
      font-size: 100pt;
      text-shadow: var(--form-shade-icon-shadow);
      margin-top:-1em;
      animation: localspin 2s linear infinite;
      &:before {
        line-height: normal;
      }
    }
    div.spinnertext {
      color: var(--form-shade-text-color);
      font-size: 200%;
      text-shadow: var(--form-shade-text-shadow);
    }
  }
  &.shaded {
    overflow: hidden;
    div.shade {
      display: flex;
    }
    div.header,
    div.elements,
    div.actions {
      filter: blur(3px);
    }
  }
  div.header {
    flex-grow: 1;
    padding: .5em 1.5em .5em 1.5em;
    div.instructions {
      margin: 1em 0 1em 0;
    }
  }
  div.elements {
    padding: .5em 1.5em .5em 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 2;
    box-sizing: border-box;
    div.input-container,
    div.textarea-container {
      margin: 1em 0 1em 0;
    }
  }
  div.actions {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--form-actions-background-color);
    border-top: .1em solid var(--form-actions-border-color);
    padding: .5em 1.5em .5em 1.5em;

    button {
      margin-right: 1em;
    }
    button:first-child {
      margin-left: 0;
    }
    button:last-child:not(:only-of-type) {
      align-self: flex-end;
      margin-left: auto;
      margin-right: 1em;
    }
  }
}
