form {
  margin: 1em 0 1em 0;
  border: .1em solid var(--form-border-color);
  background-color: var(--form-background-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  //box-shadow: 0 0 2em .2em rgba(150, 150, 150, 0.2);
  div.header {
    flex-grow: 1;
    div.instructions {
      margin: 1em 0 1em 0;
    }
  }
  div.elements {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 2;
    box-sizing: border-box;
    overflow: auto;
    padding-top: var(--form-elements-top-padding);
    padding-right: var(--form-side-padding);
    padding-bottom: var(--form-elements-bottom-padding);
    padding-left: var(--form-side-padding);
    div.input-container,
    div.textarea-container {
      margin: 10px 0 10px 0;
    }
  }
  div.actions {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--form-actions-background-color);
    padding-top: var(--form-actions-top-padding);
    padding-right: var(--form-side-padding);
    padding-bottom: var(--form-actions-bottom-padding);
    padding-left: var(--form-side-padding);

    border-top: 2px solid var(--form-actions-border-color);
    button {
      margin-right: 10px;
    }
    button:first-child {
      margin-left: 0;
    }
    button:last-child:not(:only-of-type) {
      align-self: flex-end;
      margin-left: auto;
      margin-right: 10px;
    }
  }
}