ul.tabbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border-radius: var(--tabbar-border-radius);
  z-index: 2;
  background-color: var(--tabbar-background-color);
  box-shadow: var(--tabbar-box-shadow);
  overflow: hidden;
  padding: 0;
  height: 3em;
  min-height: 3em;
  max-height: 3em;
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1em 0 1em;
    padding: 0;
    a {
      padding: 0 1em 0 1em;
      font-size: 110%;
      white-space: nowrap;
      background-color: var(--tabbar-tab-background-color);
      color: var(--tabbar-tab-text-color);
      text-shadow: var(--tabbar-tab-text-shadow);
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      &[aria-selected="true"] {
        background-color: var(--tabbar-selected-tab-background-color);
        box-shadow: inset 0px -.3em 0 0 var(--tabbar-selected-tab-highlight-color);
        color: var(--tabbar-selected-tab-text-color);
        text-shadow: var(--tabbar-selected-tab-text-shadow);
      }
      &:hover,
      &:active {
        color: var(--tabbar-hover-tab-text-color);
        background-color: var(--tabbar-hover-tab-background-color);
        text-shadow: var(--tabbar-hover-tab-text-shadow);
        filter: none;
      }
      &:focus {
        outline: var(--grey-medium) dashed .1em;
        outline-offset: -.3em;
        text-decoration: underline double;
        &:hover {
          outline-color: var(--ultralight);
        }
      }
      span.icon {
        margin-right: .5em;
      }
    }
    &:hover {
      background-color: var(--tabbar-hover-tab-background-color);
      border-color: var(--tabbar-hover-tab-highlight-color);
      color: var(--tabbar-hover-tab-text-color);
    }
    &[aria-selected="true"] {
      box-shadow: inset 0px -.3em 0 0 var(--tabbar-selected-tab-highlight-color);
      color: var(--tabbar-hover-tab-text-color);
      text-shadow: var(--tabbar-selected-tab-text-shadow);
      &:hover {
        color: var(--tabbar-hover-tab-text-color);
        text-shadow: var(--tabbar-hover-tab-text-shadow);
      }
    }
  }
  &.vertical {
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0;
    height: unset;
    min-height: unset;
    max-height: unset;
    li {
      margin: 0;
      a {
        padding: .5em 1em .5em 1em;
        justify-content: flex-start;
        &:focus {
          margin: 0;
          outline: var(--grey-medium) dashed .1em;
          outline-offset: -.2em;
          text-decoration: underline double;
          &:hover {
            outline-color: var(--ultralight);
          }
        }
      }
    }
  }
}
