ul.tabbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border-radius: var(--tabbar-border-radius);
  z-index: 2;
  background-color: var(--tabbar-background-color);
  box-shadow: var(--tabbar-box-shadow);
  overflow: hidden;
  padding: 0;
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1em 0 1em;
    padding: 0;
    a {
      padding: 0 1em 0 1em;
      font-size: 110%;
      white-space: nowrap;
      background-color: var(--tabbar-tab-background-color);
      color: var(--tabbar-tab-text-color);
      text-shadow: var(--tabbar-tab-text-shadow);
      display: block;
      cursor: pointer;
      text-decoration: none;
      &[aria-selected="true"] {
        background-color: var(--tabbar-selected-tab-background-color);
        box-shadow: inset 0px -.3em 0 0 var(--tabbar-selected-tab-highlight-color);
        color: var(--tabbar-selected-tab-text-color);
        text-shadow: var(--tabbar-selected-tab-text-shadow);
      }
    }
    &:hover,
    &:active,
    &:focus {
      background-color: var(--tabbar-hover-tab-background-color);
      border-color: var(--tabbar-hover-tab-highlight-color);
      color: var(--tabbar-hover-tab-text-color);
      a {
        color: var(--tabbar-hover-tab-text-color);
        text-shadow: var(--tabbar-hover-tab-text-shadow);
        text-decoration: none;
        &[aria-selected="true"] {
          color: var(--tabbar-tab-text-color);
          text-shadow: var(--tabbar-hover-tab-text-shadow);
        }
      }
    }
    &[aria-selected="true"] {
      box-shadow: inset 0px -.3em 0 0 var(--tabbar-selected-tab-highlight-color);
      color: var(--tabbar-hover-tab-text-color);
      text-shadow: var(--tabbar-selected-tab-text-shadow);
      &:hover {
        color: var(--tabbar-tab-text-color);
        text-shadow: var(--tabbar-hover-tab-text-shadow);
      }
    }
  }
  &.vertical {
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0;
    li {
      margin: 0;
      a {
        padding: .5em 1em .5em 1em;
      }
    }
  }
}
