ul.tabbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding: 0;
  border-radius: var(--tabbar-border-radius);
  z-index: 2;
  background-color: var(--tabbar-background-color);
  box-shadow: var(--tabbar-box-shadow);
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 110%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    background-color: var(--tabbar-tab-background-color);
    color: var(--tabbar-tab-text-color);
    text-shadow: var(--tabbar-tab-text-shadow);
    &.selected {
      background-color: var(--tabbar-selected-tab-background-color);
      border-color: var(--tabbar-selected-tab-highlight-color);
      color: var(--tabbar-selected-tab-text-color);
      text-shadow: var(--tabbar-selected-tab-text-shadow);
    }
    &:hover,
    &:active,
    &:focus {
      background-color: var(--tabbar-hover-tab-background-color);
      border-color: var(--tabbar-hover-tab-highlight-color);
      color: var(--tabbar-hover-tab-text-color);
      text-shadow: var(--tabbar-hover-tab-text-shadow);
    }
  }
  &.vertical {
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0;
    li {
      padding: 10px 15px 10px 15px;
      margin: 0;
    }
  }
}
