
/*
  We want to use variables so that they can be re-themed
 */
:root {
  // Raw colors
  --blue: rgb(0, 84, 166); // #0054a6
  --red: rgb(145, 0, 0); // #910000
  --orange: rgb(255, 153, 0); // #ff9900
  --yellow: rgb(255, 221, 27); // #ffdd1b
  --green: rgb(0, 94, 32); // #005e20
  --tan: #eadcbc;
  --pink: #ff00de;
  --lightblue: #a0e1fa;

  --white: #fff;
  --ultralight: #fdfdfd;
  --bright: #eee;
  --morelight: #ececec;
  --sublight: #e5e5e5;
  --light: #ddd;
  --grey-light: #ccc;
  --grey-medium: #999;
  --grey-dark: #666;
  --grey-meddark: #555;
  --grey-darker: #444;
  --grey-darkest: #222;
  --black: #000;

  // Half opacity colors
  --white-half: rgba(255, 255, 255, 0.5); // #fff
  --grey-half: rgba(153, 153, 153, 0.5); // #999
  --grey-translucent: rgba(153, 153, 153, 0.1); // #999
  --black-half: rgba(0, 0, 0, 0.5); // #000
  --blue-half: rgba(0, 84, 166, 0.5); // #0054a6
  --green-half: rgba(0, 94, 32, 0.5); // #005e20
  --red-half: rgba(145, 0, 0, 0.5); // #910000
  --orange-half: rgba(255, 153, 0, 0.5); // #ff9900
  --yellow-half: rgba(255, 221, 27, 0.5); // #ffdd1b

  // Stripes
  --red-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(145, 0, 0, 0.05) .5em, rgba(145, 0, 0, 0.05) 1em);
  --orange-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(255, 153, 0, 0.1) .5em, rgba(255, 153, 0, 0.1) 1em);
  --yellow-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(51, 89, 100, 0.05) .5em, rgba(51, 89, 100, 0.05) 1em);
  --green-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(0, 94, 32, 0.05) .5em, rgba(0, 94, 32, 0.05) 1em);
  --blue-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(0, 84, 166, 0.05) .5em, rgba(0, 84, 166, 0.05) 1em);

  // Shadows
  --text-shadow: 0 -.03em .03em rgba(0,0,0, .3), 0 .03em .03em rgba(255,255,255, .3);
  --text-shadow-old: 0 .07em .07em rgba(0,0,0,0.3);
  --on-white-text-shadow: 0 .07em .07em rgba(50,50,50,0.3);
  --text-shadow-heavy: 0 .07em .07em rgba(0,0,0,0.5);
  --text-shadow-heavier: 0 .07em .07em rgba(0,0,0,0.7);

  --box-shadow: .1em .1em .5em 0 rgba(50, 50, 50, 0.5);
  --hover-box-shadow: 0 .1em .1em 0 rgba(50, 50, 50, 0.5);
  --checkbox-checked-shadow: inset 0 .1em .5em 0 rgba(0, 0, 0, 0.2), inset 0 -.3em .5em 0 rgba(0, 0, 0, 0.2);
  --checkbox-checked-shadow-hover: 0 .1em .5em 0 rgba(50, 50, 50, 0.5), inset 0 .3em .5em 0 rgba(0, 0, 0, 0.2), inset 0 -.3em .5em 0 rgba(0, 0, 0, 0.2);
  --panel-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.5);
  --panel-shadow-light: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);
  --interior-shadow: 0 .3em .5em -.3em rgba(0, 0, 0, 0.2);
  --interior-shadow-inverse: 0 -.3em .5em 0 rgba(0, 0, 0, 0.2);
  --interior-shadows-inside: inset 0 .3em .5em 0 rgba(0, 0, 0, 0.2), inset 0 -.3em .5em 0 rgba(0, 0, 0, 0.2);
  --hexagon-shadow: 0 0 .5em rgba(0,0,0,0.6);
  --hexagon-shadow-disabled: 0 0 .5em rgba(0,0,0,0.2);


  --standard-measure: 33em;
  --wide-measure: 40em;
  --thin-measure: 25em;

  --canvas-color-standard: var(--ultralight);

  // Misc Values
  --default-font-family: "Helvetica Neue", Arial, serif;
  --default-font-size: 13pt;
  --border-radius: .2em;

  // Semantic colors
  --standard-color: var(--grey-dark);
  --placeholder-color: var(--grey-medium);

  --focus-color: var(--green);
  --focus-color-half: var(--green-half);

  --constructive-color: var(--green);
  --constructive-color-half: var(--green-half);

  --destructive-color: var(--red);
  --destructive-color-helf: var(--red-half);

  --hot-text-color: var(--ultralight);
  --required-color: var(--red);

  --accept-color: var(--green);
  --accept-color-half: var(--green-half);
  --accept-stripes: var(--green-stripes);

  --success-color: var(--green);
  --success-color-half: var(--green-half);
  --success-stripes: var(--green-stripes);

  --error-color: var(--red);
  --error-color-half: var(--red-half);
  --error-stripes: var(--red-stripes);

  --warning-color: var(--orange);
  --warning-color-half: var(--orange-half);
  --warning-stripes: var(--orange-stripes);

  --caution-color: var(--yellow);
  --caution-color-half: var(--yellow-half);
  --caution-stripes: var(--yellow-stripes);

  --disabled-base-color: var(--light);
  --disabled-base-color-light: var(--morelight);
  --disabled-highlight-color: var(--grey-medium);

  --paragraph-text-color: var(--grey-dark);
  --paragraph-measure: var(--standard-measure);
  --paragraph-shadow: var(--text-shadow);
  //--paragraph-shadow: -.02em 0 .07em rgba(0,0,0,.3), 0 -.02em .07em rgba(255,255,255,1);
  //--paragraph-shadow: 0 -.03em .03em rgba(0,0,0, .3), 0 .03em .03em rgba(255,255,255, .3);

  // Links
  --link-link-color: var(--focus-color);
  --link-active-color: var(--focus-color);
  --link-hover-color: var(--focus-color);
  --link-visited-color: var(--focus-color);
  --link-color: var(--focus-color);
  --link-text-shadow: var(--on-white-text-shadow);

  // Headers
  --elements-headers-h1-text-color: var(--grey-darkest);
  --elements-headers-h1-text-shadow: none;
  --elements-headers-h1-text-transform: none;
  --elements-headers-h1-background-color: transparent;
  --elements-headers-h1-border-color: var(--grey-darkest);

  --elements-headers-h2-text-color: var(--grey-darker);
  --elements-headers-h2-text-shadow: none;
  --elements-headers-h2-text-transform: none;
  --elements-headers-h2-background-color: transparent;
  --elements-headers-h2-border-color: var(--grey-medium);

  --elements-headers-h3-text-color: var(--grey-darker);
  --elements-headers-h3-text-shadow: none;
  --elements-headers-h3-text-transform: uppercase;
  --elements-headers-h3-background-color: transparent;
  --elements-headers-h3-border-color: var(--grey-light);

  --elements-headers-h4-text-color: var(--grey-dark);
  --elements-headers-h4-text-shadow: none;
  --elements-headers-h4-text-transform: uppercase;
  --elements-headers-h4-background-color: transparent;
  --elements-headers-h4-border-color: var(--grey-light);

  --elements-headers-h5-text-color: var(--grey-dark);
  --elements-headers-h5-text-shadow: none;
  --elements-headers-h5-text-transform: none;
  --elements-headers-h5-background-color: transparent;
  --elements-headers-h5-border-color: var(--grey-dark);

  --elements-headers-h6-text-color: var(--grey-medium);
  --elements-headers-h6-text-shadow: none;
  --elements-headers-h6-text-transform: none;
  --elements-headers-h6-background-color: transparent;
  --elements-headers-h6-border-color: var(--grey-medium);

  // Labels
  --label-color: var(--grey-dark);
  --label-text-shadow: var(--text-shadow);
  --label-required-marker-color: var(--required-color);
  --label-text-transform: none;

  // Button keys
  --button-border-radius: var(--border-radius);
  --button-default-color: var(--standard-color);
  --button-default-text-color: var(--button-default-color);
  --button-hover-text-color: var(--hot-text-color);
  --button-hover-highlight-color: var(--white-half);
  --button-hover-gradient: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
  //--button-hover-box-shadow: 0 .1em .5em 0 rgba(50, 50, 50, 0.5), inset 0 -.3em 0 0 var(--white-half);
  --button-hover-box-shadow: 0 .1em .5em 0 rgba(50, 50, 50, 0.5);


  //--button-circle-hover-box-shadow: 0 .1em .5em 0 rgba(50, 50, 50, 0.5), inset 0 -.1em 0 0 var(--button-hover-highlight-color), inset 0 -.1em 0 0 var(--button-hover-highlight-color);
  --button-circle-hover-box-shadow: 0 .1em .5em 0 rgba(50, 50, 50, 0.5);
  --button-font-family: var(--default-font-family);
  --button-text-shadow: var(--text-shadow);
  --button-disabled-color: var(--disabled-base-color);
  --button-disabled-text-color: var(--disabled-highlight-color);

  // Button menu elements
  --button-menu-box-shadow: var(--panel-shadow);
  --button-menu-background-color: var(--light);
  --button-menu-item-text-color: var(--button-default-color);
  --button-menu-item-text-shadow: none;
  --button-menu-item-hover-background-color: var(--button-default-color);
  --button-menu-item-hover-text-color: var(--hot-text-color);
  --button-menu-item-hover-text-shadow: var(--text-shadow);

  // Checkbox keys
  --checkbox-toggle-chrome-color: var(--light);
  --checkbox-toggle-chrome-hovermark-color: var(--focus-color);
  --checkbox-border-color: var(--grey-dark);
  --checkbox-focus-color: var(--focus-color);
  --checkbox-checked-border-color: var(--grey-dark);
  --checkbox-checkmark-color: var(--light);
  --checkbox-checkmark-checked-background-color: var(--checkbox-focus-color);
  --checkbox-checkmark-checked-border-color: var(--checkbox-checked-border-color);
  --checkbox-check-text-shadow: var(--text-shadow-heavier);

  // Growler keys
  --growler-core-color: var(--blue);
  --growler-max-width: 300px;
  --growler-box-shadow: var(--panel-shadow);
  --growler-default-text-color: var(--grey-darkest);
  --growler-default-background-color: var(--light);
  --growler-default-border-color: var(--growler-core-color);
  --growler-notitle-closebutton-color: var(--grey-medium);
  --growler-title-text-color: var(--light);
  --growler-title-closebutton-color: var(--growler-title-text-color);
  --growler-title-background-color: var(--growler-core-color);
  --growler-title-text-shadow: var(--text-shadow);

  // Dialog keys
  --dialog-background-color: var(--ultralight);
  --dialog-box-shadow: var(--panel-shadow);
  --dialog-header-background-color: var(--grey-dark);
  --dialog-header-text-color: var(--light);
  --dialog-header-text-shadow: var(--text-shadow);
  --dialog-header-border-color: var(--grey-darkest);
  --dialog-header-box-shadow: var(--interior-shadow);
  --dialog-window-mask-color: var(--white);
  --dialog-actions-box-shadow: var(--interior-shadow-inverse);

  // Instruction box keys
  --instructions-background-color: var(--morelight);
  --instructions-border-color: var(--light);
  --instructions-text-color: var(--grey-darkest);
  --instructions-text-shadow: var(--text-shadow);
  --instructions-icon-text-shadow: none;
  --instructions-icon-color: var(--grey-medium);

  // Results box keys
  --resultsbox-margin: 0;
  --resultsbox-background-color: var(--ultralight);
  --resultsbox-icon-color: var(--ultralight);
  --resultsbox-icon-tex-shadow: var(--text-shadow);
  --resultsbox-default-text-color: var(--grey-darkest);
  --resultsbox-text-shadow: var(--text-shadow);
  --resultsbox-header-text-color: var(--ultralight);
  --resultsbox-header-text-shadow: var(--text-shadow);
  --resultsbox-success-color-base: var(--success-color);
  --resultsbox-error-color-base: var(--error-color);
  --resultsbox-warning-color-base: var(--warning-color);
  --resultsbox-success-stripes: var(--success-stripes);
  --resultsbox-error-stripes: var(--error-stripes);
  --resultsbox-warning-stripes: var(--warning-stripes);

  // Form keys
  --form-background-color: transparent;
  --form-border-color: transparent;
  --form-side-padding: 0;
  --form-elements-top-padding: .5em;
  --form-elements-bottom-padding: .5em;
  --form-actions-top-padding: 0;
  --form-actions-bottom-padding: .5em;
  --form-actions-background-color: var(--ultralight);
  --form-actions-border-color: var(--light);

  --form-shade-background-color: var(--white-half);
  --form-shade-border-color: var(--white-half);
  --form-shade-icon-color: var(--blue);
  --form-shade-icon-shadow: var(--text-shadow);
  --form-shade-text-color: var(--blue);
  --form-shade-text-shadow: var(--text-shadow);

  // Input
  --input-default-background-color: var(--ultralight);
  --input-default-border-color: var(--grey-medium);//var(--grey-dark) --standard-color
  --input-default-text-color: var(--grey-darker);
  --input-default-text-shadow: none;
  --input-default-placeholder-color: var(--placeholder-color);

  --input-disabled-background-color: var(--disabled-base-color);
  --input-disabled-border-color: var(--disabled-highlight-color);
  --input-disabled-text-color: var(--disabled-highlight-color);
  --input-disabled-placeholder-color: var(--disabled-highlight-color);

  --input-focused-border-color: var(--focus-color);
  --input-focused-background-color: var(--grey-translucent);

  --input-subline-text-color: var(--grey-medium);
  --input-subline-warning-text-color: var(--warning-color);
  --input-subline-error-text-color: var(--error-color);

  --input-messages-text-color: var(--grey-darkest);
  --input-messages-warning-text-color: var(--grey-darkest);
  --input-messages-error-text-color: var(--error-color);

  --input-status-default-background-color: var(--grey-dark);
  --input-status-icon-color: var(--morelight);
  --input-status-icon-text-shadow: var(--text-shadow);
  --input-status-warning-background-color: var(--warning-color);
  --input-status-warning-icon-color: var(--input-status-icon-color);
  --input-status-warning-icon-text-shadow: var(--input-status-icon-text-shadow);
  --input-status-error-background-color: var(--error-color);
  --input-status-error-icon-color: var(--input-status-icon-color);
  --input-status-error-icon-text-shadow: var(--input-status-icon-text-shadow);
  --input-status-dirty-background-color: var(--standard-color);
  --input-status-dirty-icon-color: var(--input-status-icon-color);
  --input-status-dirty-icon-text-shadow: var(--input-status-icon-text-shadow);
  --input-status-active-background-color: var(--focus-color);
  --input-status-active-icon-color: var(--input-status-icon-color);
  --input-status-active-icon-text-shadow: var(--input-status-icon-text-shadow);

  // Select menu inputs
  --selectmenu-menu-background-color: var(--ultralight);
  --selectmenu-menu-alternate-background-color: var(--morelight);
  --selectmenu-menu-item-hover-background-color: var(--focus-color);
  --selectmenu-menu-item-hover-text-color: var(--hot-text-color);
  --selectmenu-menu-item-hover-text-shadow: var(--text-shadow);

  // TabBars
  --tabbar-box-shadow: var(--panel-shadow-light);
  --tabbar-background-color: var(--ultralight);
  --tabbar-interior-box-shadow: var(--interior-shadows-inside);
  --tabbar-border-radius: .5em;

  --tabbar-tab-box-shadow: none;
  --tabbar-tab-text-color: var(--grey-dark);
  --tabbar-tab-background-color: var(--light);
  --tabbar-tab-text-shadow: none;

  --tabbar-selected-tab-background-color: var(--ultralight);
  --tabbar-selected-tab-highlight-color: var(--focus-color);
  --tabbar-selected-tab-text-color: var(--focus-color);
  --tabbar-selected-tab-text-shadow: none;

  --tabbar-hover-tab-background-color: var(--focus-color);
  --tabbar-hover-tab-highlight-color: var(--focus-color);
  --tabbar-hover-tab-text-color: var(--light);
  --tabbar-hover-tab-text-shadow: var(--text-shadow);


}
