@font-face {
  font-family: 'cornflowerblue';
  src: url('../font/cornflowerblue.eot?81521491');
  src: url('../font/cornflowerblue.eot?81521491#iefix') format('embedded-opentype'),
       url('../font/cornflowerblue.woff2?81521491') format('woff2'),
       url('../font/cornflowerblue.woff?81521491') format('woff'),
       url('../font/cornflowerblue.ttf?81521491') format('truetype'),
       url('../font/cornflowerblue.svg?81521491#cornflowerblue') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cornflowerblue';
    src: url('../font/cornflowerblue.svg?81521491#cornflowerblue') format('svg');
  }
}
*/
[class^="cfb-"]:before, [class*="cfb-"]:before {
  font-family: "cornflowerblue";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.cfb-trashcan:before { content: '\e800'; } /* '' */
.cfb-calendar:before { content: '\e801'; } /* '' */
.cfb-map:before { content: '\e802'; } /* '' */
.cfb-legend:before { content: '\e803'; } /* '' */
.cfb-echx:before { content: '\e804'; } /* '' */
.cfb-chat:before { content: '\e805'; } /* '' */
.cfb-heart:before { content: '\e806'; } /* '' */
.cfb-no:before { content: '\e807'; } /* '' */
.cfb-circle-disc-chopped:before { content: '\e808'; } /* '' */
.cfb-circle:before { content: '\e809'; } /* '' */
.cfb-disc-chopped:before { content: '\e80a'; } /* '' */
.cfb-gear-complex:before { content: '\e80b'; } /* '' */
.cfb-gear:before { content: '\e80c'; } /* '' */
.cfb-globe:before { content: '\e80d'; } /* '' */
.cfb-help-circle:before { content: '\e80e'; } /* '' */
.cfb-lightbulb:before { content: '\e80f'; } /* '' */
.cfb-lock-open:before { content: '\e810'; } /* '' */
.cfb-magnify:before { content: '\e811'; } /* '' */
.cfb-menu:before { content: '\e812'; } /* '' */
.cfb-question:before { content: '\e813'; } /* '' */
.cfb-star:before { content: '\e814'; } /* '' */
.cfb-user:before { content: '\e815'; } /* '' */
.cfb-exclaim:before { content: '\e816'; } /* '' */
.cfb-shape-hex:before { content: '\e817'; } /* '' */
.cfb-shape-rounded-triangle:before { content: '\e818'; } /* '' */
.cfb-warn-circle:before { content: '\e819'; } /* '' */
.cfb-warn-hex:before { content: '\e81a'; } /* '' */
.cfb-warn-triangle:before { content: '\e81b'; } /* '' */
.cfb-eye:before { content: '\e81c'; } /* '' */
.cfb-user-circle:before { content: '\e81d'; } /* '' */
.cfb-disc-check:before { content: '\e81e'; } /* '' */
.cfb-spinner-circle:before { content: '\e81f'; } /* '' */
.cfb-lock-closed:before { content: '\e820'; } /* '' */
.cfb-image:before { content: '\e821'; } /* '' */
.cfb-folder:before { content: '\e822'; } /* '' */
.cfb-document:before { content: '\e823'; } /* '' */
.cfb-microphone:before { content: '\e824'; } /* '' */
.cfb-printer:before { content: '\e825'; } /* '' */
.cfb-tag:before { content: '\e826'; } /* '' */
.cfb-arrow-down-circle:before { content: '\e827'; } /* '' */
.cfb-arrow-up:before { content: '\e828'; } /* '' */
.cfb-arrow-right:before { content: '\e829'; } /* '' */
.cfb-arrow-left:before { content: '\e82a'; } /* '' */
.cfb-arrow-down:before { content: '\e82b'; } /* '' */
.cfb-check-circle-disc:before { content: '\e82c'; } /* '' */
.cfb-checkmark-circle:before { content: '\e82d'; } /* '' */
.cfb-chevron-down:before { content: '\e82e'; } /* '' */
.cfb-checkmark:before { content: '\e82f'; } /* '' */
.cfb-chevron-left:before { content: '\e830'; } /* '' */
.cfb-chevron-right:before { content: '\e831'; } /* '' */
.cfb-chevron-up:before { content: '\e832'; } /* '' */
.cfb-double-triangle-vertical:before { content: '\e833'; } /* '' */
.cfb-double-triangle-horizontal:before { content: '\e834'; } /* '' */
.cfb-echx-circle:before { content: '\e835'; } /* '' */
.cfb-echx-1:before { content: '\e836'; } /* '' */
.cfb-eye-slash:before { content: '\e837'; } /* '' */
.cfb-microphone-slash:before { content: '\e838'; } /* '' */
.cfb-minimize:before { content: '\e839'; } /* '' */
.cfb-minus-circle:before { content: '\e83a'; } /* '' */
.cfb-minus:before { content: '\e83b'; } /* '' */
.cfb-popout:before { content: '\e83c'; } /* '' */
.cfb-plus:before { content: '\e83d'; } /* '' */
.cfb-plus-circle:before { content: '\e83e'; } /* '' */
.cfb-pencil:before { content: '\e83f'; } /* '' */
.cfb-pencil-circle:before { content: '\e840'; } /* '' */
.cfb-refresh:before { content: '\e841'; } /* '' */
.cfb-speaker-high:before { content: '\e842'; } /* '' */
.cfb-speaker-low:before { content: '\e843'; } /* '' */
.cfb-speaker-medium:before { content: '\e844'; } /* '' */
.cfb-speaker-mute:before { content: '\e845'; } /* '' */
.cfb-speaker-slash:before { content: '\e846'; } /* '' */
.cfb-triangle-down-small:before { content: '\e847'; } /* '' */
.cfb-triangle-down:before { content: '\e848'; } /* '' */
.cfb-triangle-left-small:before { content: '\e849'; } /* '' */
.cfb-triangle-left:before { content: '\e84a'; } /* '' */
.cfb-triangle-right-small:before { content: '\e84b'; } /* '' */
.cfb-triangle-up:before { content: '\e84c'; } /* '' */
.cfb-triangle-up-small:before { content: '\e84d'; } /* '' */
.cfb-triangle-right:before { content: '\e84e'; } /* '' */
.cfb-download:before { content: '\e84f'; } /* '' */
.cfb-upload:before { content: '\e850'; } /* '' */
.cfb-arrow-down-circle-1:before { content: '\e851'; } /* '' */
.cfb-arrow-left-circle:before { content: '\e852'; } /* '' */
.cfb-arrow-right-circle:before { content: '\e853'; } /* '' */
.cfb-arrow-up-circle:before { content: '\e854'; } /* '' */
.cfb-triangle-down-circle:before { content: '\e855'; } /* '' */
.cfb-triangle-left-circle:before { content: '\e856'; } /* '' */
.cfb-triangle-right-circle:before { content: '\e857'; } /* '' */
.cfb-triangle-up-circle:before { content: '\e858'; } /* '' */
.cfb-flag-notched:before { content: '\e859'; } /* '' */
.cfb-flag-pointed:before { content: '\e85a'; } /* '' */
.cfb-flag-rectangle:before { content: '\e85b'; } /* '' */
.cfb-flag-notched-angle:before { content: '\e85c'; } /* '' */
.cfb-flag-pointed-angle:before { content: '\e85d'; } /* '' */
.cfb-flag-rectangle-angle:before { content: '\e85e'; } /* '' */
.cfb-table:before { content: '\e85f'; } /* '' */
.cfb-filter:before { content: '\e860'; } /* '' */
.cfb-clock:before { content: '\e861'; } /* '' */
.cfb-duplicate:before { content: '\e862'; } /* '' */
.cfb-dots-vertical:before { content: '\e863'; } /* '' */
.cfb-dots-horizontal:before { content: '\e864'; } /* '' */
.cfb-code:before { content: '\e865'; } /* '' */
.cfb-blockquote:before { content: '\e866'; } /* '' */
.cfb-superscript:before { content: '\e867'; } /* '' */
.cfb-subscript:before { content: '\e868'; } /* '' */
.cfb-indent:before { content: '\e869'; } /* '' */
.cfb-italic:before { content: '\e86a'; } /* '' */
.cfb-justify:before { content: '\e86b'; } /* '' */
.cfb-left:before { content: '\e86c'; } /* '' */
.cfb-envelope-flat:before { content: '\e871'; } /* '' */
.cfb-envelope-angle:before { content: '\e872'; } /* '' */
.cfb-bell:before { content: '\e873'; } /* '' */
.cfb-backgroundcolor:before { content: '\e876'; } /* '' */
.cfb-bold:before { content: '\e877'; } /* '' */
.cfb-center:before { content: '\e878'; } /* '' */
.cfb-fontcolor:before { content: '\e879'; } /* '' */
.cfb-notched-triangle-left:before { content: '\e87a'; } /* '' */
.cfb-notched-triangle-up:before { content: '\e87b'; } /* '' */
.cfb-notched-triangle-down:before { content: '\e87c'; } /* '' */
.cfb-notched-triangle-right:before { content: '\e87d'; } /* '' */
.cfb-ol:before { content: '\e87e'; } /* '' */
.cfb-outdent:before { content: '\e87f'; } /* '' */
.cfb-right:before { content: '\e880'; } /* '' */
.cfb-strike:before { content: '\e881'; } /* '' */
.cfb-ul:before { content: '\e882'; } /* '' */
.cfb-underline:before { content: '\e883'; } /* '' */
.cfb-maximize:before { content: '\e885'; } /* '' */
.cfb-short_window:before { content: '\e886'; } /* '' */
.cfb-tall_window:before { content: '\e887'; } /* '' */
.cfb-chevron-double-left:before { content: '\e888'; } /* '' */
.cfb-chevron-double-right:before { content: '\e889'; } /* '' */
.cfb-chevron-double-up:before { content: '\e88a'; } /* '' */
.cfb-chevron-double-down:before { content: '\e88b'; } /* '' */
.cfb-chevron-right-thin:before { content: '\e8d7'; } /* '' */
.cfb-chevron-left-thin:before { content: '\e8d8'; } /* '' */
.cfb-chevron-down-thin:before { content: '\e8d9'; } /* '' */
.cfb-chevron-up-thin:before { content: '\e8da'; } /* '' */
.cfb-star-open:before { content: '\e8dc'; } /* '' */
.cfb-star-full:before { content: '\e8dd'; } /* '' */
.cfb-undo:before { content: '\e8e2'; } /* '' */
