@font-face {
  font-family: 'cornflowerblue';
  src: url('../font/cornflowerblue.eot?50944973');
  src: url('../font/cornflowerblue.eot?50944973#iefix') format('embedded-opentype'),
       url('../font/cornflowerblue.woff2?50944973') format('woff2'),
       url('../font/cornflowerblue.woff?50944973') format('woff'),
       url('../font/cornflowerblue.ttf?50944973') format('truetype'),
       url('../font/cornflowerblue.svg?50944973#cornflowerblue') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cornflowerblue';
    src: url('../font/cornflowerblue.svg?50944973#cornflowerblue') format('svg');
  }
}
*/
 
 [class^="cfb-"]:before, [class*=" cfb-"]:before {
  font-family: "cornflowerblue";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.cfb-arrow-down-circle:before { content: '\21'; } /* '!' */
.cfb-arrow-up:before { content: '\22'; } /* '&quot;' */
.cfb-download:before { content: '\23'; } /* '#' */
.cfb-map:before { content: '\24'; } /* '$' */
.cfb-arrow-right:before { content: '\25'; } /* '%' */
.cfb-upload:before { content: '\26'; } /* '&amp;' */
.cfb-arrow-left:before { content: '\27'; } /* ''' */
.cfb-arrow-down-circle-1:before { content: '\28'; } /* '(' */
.cfb-calendar:before { content: '\29'; } /* ')' */
.cfb-trashcan:before { content: '\2a'; } /* '*' */
.cfb-tag:before { content: '\2b'; } /* '+' */
.cfb-legend:before { content: '\2c'; } /* ',' */
.cfb-echx:before { content: '\2d'; } /* '-' */
.cfb-arrow-down:before { content: '\2e'; } /* '.' */
.cfb-check-circle-disc:before { content: '\2f'; } /* '/' */
.cfb-checkmark-circle:before { content: '\30'; } /* '0' */
.cfb-chevron-down:before { content: '\31'; } /* '1' */
.cfb-checkmark:before { content: '\32'; } /* '2' */
.cfb-chevron-left:before { content: '\33'; } /* '3' */
.cfb-chevron-right:before { content: '\34'; } /* '4' */
.cfb-chevron-up:before { content: '\35'; } /* '5' */
.cfb-double-triangle-vertical:before { content: '\36'; } /* '6' */
.cfb-chat:before { content: '\37'; } /* '7' */
.cfb-heart:before { content: '\38'; } /* '8' */
.cfb-no:before { content: '\39'; } /* '9' */
.cfb-double-triangle-horizontal:before { content: '\3a'; } /* ':' */
.cfb-arrow-left-circle:before { content: '\3b'; } /* ';' */
.cfb-echx-circle:before { content: '\3c'; } /* '&lt;' */
.cfb-echx-1:before { content: '\3d'; } /* '=' */
.cfb-spinner-circle:before { content: '\3e'; } /* '&gt;' */
.cfb-circle-disc-chopped:before { content: '\3f'; } /* '?' */
.cfb-circle:before { content: '\40'; } /* '@' */
.cfb-disc-chopped:before { content: '\41'; } /* 'A' */
.cfb-gear-complex:before { content: '\42'; } /* 'B' */
.cfb-gear:before { content: '\43'; } /* 'C' */
.cfb-globe:before { content: '\44'; } /* 'D' */
.cfb-help-circle:before { content: '\45'; } /* 'E' */
.cfb-lightbulb:before { content: '\46'; } /* 'F' */
.cfb-lock-open:before { content: '\47'; } /* 'G' */
.cfb-magnify:before { content: '\48'; } /* 'H' */
.cfb-menu:before { content: '\49'; } /* 'I' */
.cfb-question:before { content: '\4a'; } /* 'J' */
.cfb-star:before { content: '\4b'; } /* 'K' */
.cfb-user-circle:before { content: '\4c'; } /* 'L' */
.cfb-user:before { content: '\4d'; } /* 'M' */
.cfb-exclaim:before { content: '\4e'; } /* 'N' */
.cfb-shape-hex:before { content: '\4f'; } /* 'O' */
.cfb-shape-rounded-triangle:before { content: '\50'; } /* 'P' */
.cfb-warn-circle:before { content: '\51'; } /* 'Q' */
.cfb-warn-hex:before { content: '\52'; } /* 'R' */
.cfb-warn-triangle:before { content: '\53'; } /* 'S' */
.cfb-eye-slash:before { content: '\54'; } /* 'T' */
.cfb-microphone-slash:before { content: '\55'; } /* 'U' */
.cfb-minimize:before { content: '\56'; } /* 'V' */
.cfb-eye:before { content: '\57'; } /* 'W' */
.cfb-disc-check:before { content: '\58'; } /* 'X' */
.cfb-minus-circle:before { content: '\59'; } /* 'Y' */
.cfb-minus:before { content: '\5a'; } /* 'Z' */
.cfb-popout:before { content: '\5b'; } /* '[' */
.cfb-plus:before { content: '\5c'; } /* '\' */
.cfb-plus-circle:before { content: '\5d'; } /* ']' */
.cfb-pencil:before { content: '\5e'; } /* '^' */
.cfb-pencil-circle:before { content: '\5f'; } /* '_' */
.cfb-refresh:before { content: '\60'; } /* '`' */
.cfb-speaker-high:before { content: '\61'; } /* 'a' */
.cfb-speaker-low:before { content: '\62'; } /* 'b' */
.cfb-printer:before { content: '\63'; } /* 'c' */
.cfb-speaker-medium:before { content: '\64'; } /* 'd' */
.cfb-microphone:before { content: '\65'; } /* 'e' */
.cfb-speaker-mute:before { content: '\66'; } /* 'f' */
.cfb-lock-closed:before { content: '\67'; } /* 'g' */
.cfb-image:before { content: '\68'; } /* 'h' */
.cfb-folder:before { content: '\69'; } /* 'i' */
.cfb-document:before { content: '\6a'; } /* 'j' */
.cfb-speaker-slash:before { content: '\6b'; } /* 'k' */
.cfb-triangle-down-small:before { content: '\6c'; } /* 'l' */
.cfb-triangle-down:before { content: '\6d'; } /* 'm' */
.cfb-triangle-left-small:before { content: '\6e'; } /* 'n' */
.cfb-triangle-left:before { content: '\6f'; } /* 'o' */
.cfb-triangle-right-small:before { content: '\70'; } /* 'p' */
.cfb-triangle-up:before { content: '\71'; } /* 'q' */
.cfb-triangle-up-small:before { content: '\72'; } /* 'r' */
.cfb-triangle-right:before { content: '\73'; } /* 's' */
.cfb-arrow-right-circle:before { content: '\74'; } /* 't' */
.cfb-arrow-up-circle:before { content: '\75'; } /* 'u' */
.cfb-triangle-down-circle:before { content: '\76'; } /* 'v' */
.cfb-triangle-left-circle:before { content: '\77'; } /* 'w' */
.cfb-triangle-right-circle:before { content: '\78'; } /* 'x' */
.cfb-triangle-up-circle:before { content: '\79'; } /* 'y' */
.cfb-flag-notched:before { content: '\7a'; } /* 'z' */
.cfb-flag-pointed:before { content: '\7b'; } /* '{' */
.cfb-flag-rectangle:before { content: '\7c'; } /* '|' */
.cfb-flag-notched-angle:before { content: '\7d'; } /* '}' */
.cfb-flag-pointed-angle:before { content: '\7e'; } /* '~' */
.cfb-flag-rectangle-angle:before { content: '\e800'; } /* '' */
.cfb-table:before { content: '\e801'; } /* '' */
.cfb-filter:before { content: '\e802'; } /* '' */
.cfb-clock:before { content: '\e803'; } /* '' */
.cfb-duplicate:before { content: '\e804'; } /* '' */
.cfb-dots-vertical:before { content: '\e805'; } /* '' */
.cfb-dots-horizontal:before { content: '\e806'; } /* '' */
.cfb-envelope-flat:before { content: '\e871'; } /* '' */
.cfb-envelope-angle:before { content: '\e872'; } /* '' */
.cfb-bell:before { content: '\e873'; } /* '' */
.cfb-backgroundcolor:before { content: '\e876'; } /* '' */
.cfb-bold:before { content: '\e877'; } /* '' */
.cfb-center:before { content: '\e878'; } /* '' */
.cfb-fontcolor:before { content: '\e879'; } /* '' */
.cfb-indent:before { content: '\e87a'; } /* '' */
.cfb-italic:before { content: '\e87b'; } /* '' */
.cfb-justify:before { content: '\e87c'; } /* '' */
.cfb-left:before { content: '\e87d'; } /* '' */
.cfb-ol:before { content: '\e87e'; } /* '' */
.cfb-outdent:before { content: '\e87f'; } /* '' */
.cfb-strike:before { content: '\e881'; } /* '' */
.cfb-ul:before { content: '\e882'; } /* '' */
.cfb-underline:before { content: '\e883'; } /* '' */