// Select menu drop-downs
div.selectmenu-menu {
  animation: cfb-fadein .5s;
  opacity: 1;
  position: absolute;
  z-index: 20000;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  ul.selectmenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--selectmenu-menu-background-color);
    border: .1em solid var(--input-default-border-color);
    border-top: none;
    padding: 0;
    overflow: auto;
    max-height: 10em;
    z-index: 201;
    position: absolute;
    margin: 0;
    box-shadow: var(--panel-shadow-light);
    width: 100%;
    transition: all .2s;
    li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin: 0;
      white-space: nowrap;
      padding: .5em 1em .5em 1.5em;
      > input[type='radio'] {
        display: none;
      }
      &:focus {
        outline: var(--selectmenu-menu-background-color) dashed .1em;
        outline-offset: -.3em;
        text-decoration: underline double;
      }
      &[aria-selected=true] {
        box-shadow: inset .5em 0 0 var(--input-focused-border-color);
      }
      &:nth-child(even) {
        background-color: var(--selectmenu-menu-alternate-background-color);
      }
      &:focus {
        background-color: var(--selectmenu-menu-item-hover-background-color);
        color: var(--selectmenu-menu-item-hover-text-color);
        &[aria-selected=true] {
        }
      }
      @include for-hover-only {
        &:hover {
          background-color: var(--selectmenu-menu-item-hover-background-color);
          color: var(--selectmenu-menu-item-hover-text-color);
        }
      }
    }
    &.vert {
      bottom: 2.5em;
      box-shadow: var(--panel-shadow-light-inverse);
      border-top: .1em solid var(--input-default-border-color);
      border-bottom: none;
    }
  }
  &[aria-hidden='true'] {
    height: 0;
    max-height: 0;
    box-shadow: none;
    border: none;
    display: none;
  }
}

// These are button menus
ul.button-menu,
div.button-menu,
form.button-menu {
  flex-direction: column;
  flex-wrap: nowrap;
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: visible;
  z-index: 20000;
  border-radius: var(--button-border-radius);
  background-color: var(--button-menu-background-color);
  color: var(--button-menu-item-text-color);
  filter: var(--panel-shadow-filter);
  &[aria-hidden='true'] {
    display: none;
  }
  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: .25em;
    top: -.7em;
    border-width: 0 .7em .7em .7em;
    border-style: solid;
    border-color: var(--button-menu-background-color) transparent;
  }
  &.southeast,
  &.se {
    &:before {
      left: .2em;
      top: -.7em;
    }
  }
  &.north,
  &.n,
  &.ne,
  &.northeast {
    &:before {
      bottom: -.7em;
      right: .2em;
      left: unset;
      top: unset;
      border-width: .7em .7em 0 .7em;
    }
  }
  &.nw,
  &.northwest {
    &:before {
      bottom: -.7em;
      left: .2em;
      top: unset;
      border-width: .7em .7em 0 .7em;
    }
  }
  &.west,
  &.w {
    &:before {
      left: unset;
      right: -.5em;
      bottom: unset;
      top: .5em;
      border-color: transparent var(--button-menu-background-color);
      border-width: .5em 0 .5em .5em;
    }
  }
  &.east,
  &.e {
    &:before {
      left: -.5em;
      bottom: unset;
      top: .5em;
      border-color: transparent var(--button-menu-background-color);
      border-width: .5em .5em .5em 0;
    }
  }
}
ul.button-menu {
  display: flex;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  li {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &:active,
    &:focus {
      background-color: var(--button-menu-item-hover-background-color);
      color: var(--button-menu-item-hover-text-color);
      text-shadow: var(--button-menu-item-hover-text-shadow);
      a {
        color: var(--button-menu-item-hover-text-color);
      }
    }
    @include for-hover-only {
      &:hover {
        background-color: var(--button-menu-item-hover-background-color);
        color: var(--button-menu-item-hover-text-color);
        text-shadow: var(--button-menu-item-hover-text-shadow);
        a {
          color: var(--button-menu-item-hover-text-color);
        }
      }
    }
    a {
      padding: 0.6em 1em 0.6em 1em;
      white-space: nowrap;
      background-color: transparent;
      font-size: 1em;
      color: var(--button-menu-item-text-color);
      text-shadow: var(--button-menu-item-text-shadow);
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
      &:active {
        color: var(--button-menu-item-hover-text-color);
        filter: none;
      }
      &:focus {
        margin: .3em;
        outline: var(--hot-text-color) dashed .1em;
        outline-offset: .2em;
        text-decoration: underline double;
      }
      span.icon {
        margin-right: 1em;
      }
    }
  }
}
form.button-menu {
  min-width: 20em;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  div.elements {
    text-align: unset;
    div.input-container {
      margin-top: 0;
    }
    div.select-container {
      margin-top: 0;
      ul.selectmenu {
        top: unset;
      }
    }
  }
  &.noactions {
    div.header {
      display: none;
    }
  }
}

