button {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  margin: .8em .4em .8em .4em;
  padding: .6em 1em .6em 1em;
  font-family: var(--button-font-family);
  font-weight: normal;
  font-size: 1em;
  line-height: 1;
  touch-action: manipulation;
  cursor: pointer;
  color: var(--button-default-text-color);
  text-shadow: var(--button-text-shadow);
  background-color: var(--button-default-color);
  border: none;
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  span.icon {
    margin: 0 .5em 0 0;
    &:before {
      margin: 0; // Generates padding issues otherwise
    }
    &.secondicon {
      margin: 0 0 0 .5em;
    }
  }
  &.righticon {
    flex-direction: row-reverse;
    span.icon {
      margin: 0 0 0 .5em;
    }
  }
  &.expander {
    transition: width .2s;
    span.text,
    span.secondicon {
      transition: all .2s;
      opacity: 1;
      width: 0;
      overflow: hidden;
    }
    &:focus,
    &:active,
    &[aria-expanded='true'] {
      span.text,
      span.secondicon {
        animation: cfb-expando-button .2s;
        opacity: 1;
        width: auto;
      }
    }
    @include for-hover-only {
      &:hover {
        span.text,
        span.secondicon {
          animation: cfb-expando-button .2s;
          opacity: 1;
          width: auto;
        }
      }
    }
  }
  &.hamburger {
    span.magichamburger {
      display: inline-block;
      width: 1em;
      height: 1em;
      span {
        width: 1em;
        height: .15em;
        background-color: var(--button-default-text-color);
        display: block;
        margin: 0;
        transition: transform 0.5s;
        border-radius: .1em;
        &:first-child {
          margin-top: 0;
        }
        &:nth-child(2) {
          margin: .25em auto .25em auto;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &[aria-expanded='true'] {
      span.magichamburger {
        span {
          &:first-child {
            width: 1.25em;
            transform: translateX(.1em) rotate(45deg);
            transform-origin: top left;
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            width: 1.25em;
            transform: translateX(.1em) rotate(-45deg);
            transform-origin: bottom left;
          }
        }
      }
    }
  }
  &.closebutton {
    --button-default-color: var(--hot-text-color);
    opacity: 0.5;
    box-shadow: none;
    margin-right: .5em;
    background: none;
    &:focus,
    &:active {
      color: var(--hot-text-color);
      background: none;
    }
    @include for-hover-only {
      &:hover {
        opacity: 1;
        color: var(--hot-text-color);
        background: none;
      }
    }
  }
  &.ghost {
    --button-border-color: var(--button-default-color);
    color: var(--button-default-color);
    background-color: transparent;
    box-shadow: inset -.1em -.1em 0 0 var(--button-border-color), inset .1em -.1em 0 0 var(--button-border-color), inset -.1em .1em 0 0 var(--button-border-color), inset .1em .1em 0 0 var(--button-border-color);
  }
  &:focus,
  &:active,
  &.focus,
  &.active {
    color: var(--button-hover-text-color);
    text-shadow: var(--button-text-shadow);
    background-color: var(--button-default-color);
    outline: none;
    background-image: var(--button-hover-gradient);
  }
  @include for-hover-only {
    &:hover,
    &.hover {
      color: var(--button-hover-text-color);
      text-shadow: var(--button-text-shadow);
      background-color: var(--button-default-color);
      outline: none;
      background-image: var(--button-hover-gradient);
      text-decoration: underline;
      box-shadow: var(--button-hover-box-shadow);
      filter: var(--button-hover-filter);
    }
  }
  &:focus,
  &.focus {
    outline: var(--button-default-color) dashed .1em;
    outline-offset: .2em;
    text-decoration: underline double;
  }
  &:active,
  &.active {
    box-shadow: var(--button-active-box-shadow);
    text-decoration: none;
    background-image: var(--button-active-gradient);
    filter: var(--button-active-filter);
    outline: none;
  }
  &.constructive {
    --button-default-color: var(--constructive-color);
  }
  &.destructive {
    --button-default-color: var(--destructive-color);
  }
  &:disabled {
    color: var(--button-disabled-text-color);
    background-color: var(--button-disabled-color);
    border-color: var(--button-disabled-color);
    cursor: not-allowed;
    text-shadow: none;
    box-shadow: none;
    pointer-events: none;
    &:hover,
    &:focus,
    &:active {
      color: var(--button-disabled-text-color);
      background-color: var(--button-disabled-color);
      border-color: var(--button-disabled-color);
      text-shadow: none;
      box-shadow: none;
    }
  }
  &.mute {
    color: var(--button-default-color);
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    &.constructive {
      color: var(--constructive-color);
      text-shadow: none;
    }
    &.destructive {
      color: var(--destructive-color);
      text-shadow: none;
    }
    &:active,
    &.active,
    &:focus,
    &.focus {
      color: var(--button-hover-text-color);
      text-shadow: var(--button-text-shadow);
      background-color: var(--button-default-color);
      box-shadow: var(--button-hover-box-shadow);
      &.constructive {
        background-color: var(--constructive-color);
      }
      &.destructive {
        background-color: var(--destructive-color);
      }
    }
    @include for-hover-only {
      &:hover,
      &.hover {
        text-decoration: underline;
        filter: brightness(120%);
        color: var(--button-hover-text-color);
        text-shadow: var(--button-text-shadow);
        background-color: var(--button-default-color);
        box-shadow: var(--button-hover-box-shadow);
        &.constructive {
          background-color: var(--constructive-color);
        }
        &.destructive {
          background-color: var(--destructive-color);
        }
      }
    }
    &:active,
    &.active {
      text-decoration: none;
      box-shadow: none;
    }
    &:focus,
    &.focus {
      outline: var(--button-default-color) dashed .1em;
      outline-offset: .2em;
      text-decoration: underline double;
    }
    &:disabled { // special disabled for mute styles
      color: var(--button-disabled-text-color);
      background-color: transparent;
      border-color: transparent;
      cursor: not-allowed;
      text-shadow: none;
      box-shadow: none;
      pointer-events: none;
      &:hover,
      &:focus,
      &:active {
        color: var(--button-disabled-color);
        background-color: transparent;
        border-color: transparent;
        text-shadow: none;
        box-shadow: none;
      }
    }
  }
  &.hot {
    color: var(--button-default-text-color);
    text-shadow: var(--button-text-shadow);
    background-color: var(--button-default-color);
    border-color: var(--button-default-color);
    &.constructive {
      background-color: var(--constructive-color);
      border-color: var(--constructive-color);
    }
    &.destructive {
      background-color: var(--destructive-color);
      border-color: var(--destructive-color);
    }
    &:disabled {
      color: var(--button-disabled-text-color);
      background-color: var(--button-disabled-color);
      border-color: var(--button-disabled-color);
      cursor: not-allowed;
      text-shadow: none;
      box-shadow: none;
      pointer-events: none;
      &:hover,
      &:focus,
      &:active {
        color: var(--button-disabled-text-color);
        background-color: var(--button-disabled-color);
        border-color: var(--button-disabled-color);
        text-shadow: none;
        box-shadow: none;
      }
    }
  }
  &.square,
  &.circle {
    padding: .5em;
    width: 2em;
    height: 2em;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span.icon {
      margin: 0;
      font-size: 1.2em;
    }
    span.secondicon,
    span.text {
      display: none;
    }
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
  &.circle {
    border: .1em solid var(--button-default-color);
    box-shadow: none;
    border-radius: 50%;
    &.mute {
      border: none;
    }
    &:hover,
    &:focus,
    &:active {
      box-shadow: var(--button-circle-hover-box-shadow);
    }
    &:disabled {
      box-shadow: none;
      border: none;
    }
  }
  &.micro {
    font-size: .6em;
  }
  &.small {
    font-size: .8em;
  }
  &.large {
    font-size: 1.2em;
    @include for-phone-only {
      font-size: 1em;
    }
  }
  &.fill {
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    @include for-phone-only {
      font-size: 1em;
    }
  }
  &.pill {
    border-radius: 1.5em;
    margin: 0;
    &.ghost {
      box-shadow: none;
      border: .1em solid var(--button-default-color);
    }
    &:hover,
    &:active,
    &:focus,
    &:disabled {
      border: none;
    }
  }
  &.hidden {
    display: none;
  }
  &.help,
  &.tagbutton {
    div.tooltip {
      display: none;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      align-content: flex-start;
      list-style-type: none;
      margin: 0;
      padding: .5em;
      position: absolute;
      left: -1em;
      bottom: 1.5em;
      overflow: visible;
      z-index: 220;
      border-radius: var(--tooltip-border-radius);
      background-color: var(--tooltip-background-color);
      color: var(--tooltip-text-color);
      text-shadow: var(--tooltip-text-shadow);
      box-shadow: var(--panel-shadow-light);
      &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        left: 1em;
        bottom: -.5em;
        border-width: .5em .5em 0 .5em;
        border-style: solid;
        border-color: var(--tooltip-background-color) transparent;
      }
      span.tipicon {
        font-size: 1.2em;
        margin-right: .5em;
      }
      div.helptext {
        max-width: 33em;
        min-width: 20em;
        white-space: normal;
        line-height: 1.2;
        text-align: left;
        a {
          color: var(--hot-text-color);
        }
      }
      button.closebutton {
        display: none;
      }
    }
    &[aria-expanded='true'],
    &.stayopen {
      div.tooltip {
        display: flex;
        animation: cfb-fadein-delay-half .2s;
      }
    }
    &.stayopen {
      div.tooltip {
        button.closebutton {
          display: inline-block;
        }
      }
    }
  }
  &.help {
    overflow: visible;
    display: inline-block;
    span.icon {
      margin: 0;
    }
    &[aria-expanded='true'],
    &.stayopen {
      div.tooltip {
        display: flex;
        animation: cfb-fadein-delay-half .2s;
      }
    }
    &.stayopen {
      div.tooltip {
        button.closebutton {
          display: inline-block;
        }
      }
    }
  }
  &.tagbutton {
    overflow: visible;
    font-size: .8em;
    padding: .2em 1em .2em 1em;
    span.tagicon {
      margin-right: 1em;
      margin-left: 0;
      border-radius: 50%;
      color: var(--button-default-color);
      background-color: var(--button-hover-text-color);
      padding: .2em;
    }
    div.tooltip {
      left: -1em;
      bottom: 2.5em;
      &:before {
        left: 1em;
        bottom: -.5em;
      }
    }
    &.righticon {
      padding-right: .2em;
      span.tagicon {
        margin-right: 0;
        margin-left: 1em;
      }
    }
  }
  &.naked,
  &.link {
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    background-image: none;
    height: auto;
    width: auto;
    transition: brightness .5s;
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: transparent;
      background-image: none;
      color: var(--button-default-color);
    }
    @include for-hover-only {
      &:hover,
      &.hover {
        background-color: transparent;
        background-image: none;
        color: var(--button-default-color);
      }
    }
  }
  &.naked {
    color: var(--button-default-color);
  }
  &.link {
    color: var(--link-color);
    text-shadow: var(--link-text-shadow);
    text-decoration: underline;
    @include for-hover-only {
      &:hover,
      &.hover {
        color: var(--link-color);
        filter: brightness(120%);
        text-decoration: underline double;
      }
    }
    &:active,
    &.active {
      color: var(--link-color);
    }
    &:focus,
    &.focus {
      color: var(--link-color);
      text-decoration: underline double;
    }
    &:disabled {
      color: var(--button-disabled-text-color);
      text-shadow: none;
    }
  }
  &.menu {
    overflow: visible;
    &.square,
    &.circle {
      ul,
      form {
        font-size: 1em;
      }
    }
    ul,
    form {
      flex-direction: column;
      flex-wrap: nowrap;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 2.5em;
      min-width: 50%;
      overflow: visible;
      z-index: 220;
      border-radius: var(--button-border-radius);
      border: .1em solid var(--button-menu-background-color);
      background-color: var(--button-menu-background-color);
      color: var(--button-menu-item-text-color);
      box-shadow: var(--button-menu-box-shadow);
      li {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &:active,
        &:focus {
          background-color: var(--button-menu-item-hover-background-color);
          color: var(--button-menu-item-hover-text-color);
          text-shadow: var(--button-menu-item-hover-text-shadow);
          a {
            color: var(--button-menu-item-hover-text-color);
          }
        }
        @include for-hover-only {
          &:hover {
            background-color: var(--button-menu-item-hover-background-color);
            color: var(--button-menu-item-hover-text-color);
            text-shadow: var(--button-menu-item-hover-text-shadow);
            a {
              color: var(--button-menu-item-hover-text-color);
            }
          }
        }
        a {
          padding: 0.6em 1em 0.6em 1em;
          white-space: nowrap;
          background-color: transparent;
          font-size: 1em;
          color: var(--button-menu-item-text-color);
          text-shadow: var(--button-menu-item-text-shadow);
          cursor: pointer;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex-grow: 1;
          &:active {
            color: var(--button-menu-item-hover-text-color);
            filter: none;
          }
          &:focus {
            margin: .3em;
            outline: var(--hot-text-color) dashed .1em;
            outline-offset: .2em;
            text-decoration: underline double;
          }
          span.icon {
            margin-right: 1em;
          }
        }
      }
      &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: .7em;
        top: -.8em;
        border-width: 0 .7em .7em .7em;
        border-style: solid;
        border-color: var(--button-menu-background-color) transparent;
      }
      &[aria-hidden='true'] {
        display: none;
      }
    }
    form {
      min-width: 20em;
      div.elements {
        text-align: unset;
        div.input-container {
          margin-top: 0;
        }
        div.select-container {
          margin-top: 0;
          ul.selectmenu {
            top: unset;
          }
        }
      }
      &.noactions {
        div.header {
          display: none;
        }
      }
    }
    &[aria-expanded='true'] {
      color: var(--button-default-text-color);
      text-shadow: var(--button-text-shadow);
      background-color: var(--button-default-color);
      box-shadow: var(--hover-box-shadow);
      outline: none;
      text-decoration: none;
      ul {
        display: flex;
      }
    }
  }

}


