div.datagrid-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 80vh;
  overflow: visible;
  padding: 0;
  background-color: var(--datagrid-background-color);
  h3 {
    --panel-text-color: var(--datagrid-title-text-color);
    background-color: var(--datagrid-title-background-color);
  }
  div.grid-info,
  div.grid-filterinfo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 0 1em 0 1em;
    justify-content: flex-end;
  }
  div.grid-info {
    z-index: 900;
    flex-grow: 1;
    height: 3em;
    min-height: 3em;
    div.countbox {
      margin-right: auto;
      white-space: nowrap;
      padding-right: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      label {
        display: inline-block;
        margin: 0 .5em 0 0;
      }
      div.activity {
        margin-left: .5em;
        color: var(--focus-color-half);
        > span.icon {
          display: inline-block;
          animation: cfb-localspin 2s infinite linear;
        }
        &[aria-hidden=true] {
          display: none;
        }
      }
    }
    button:last-child {
      margin-right: 0;
    }
  }
  div.grid-filterinfo {
    display: none;
    background-color: var(--datagrid-filterinfo-background-color);
    label {
      margin: 0 .5em 0 0;
    }
    div.grid-filtertags {
      flex-grow: 2;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: flex-start;
      justify-content: flex-start;
      button.tagbutton {
        margin: .5em;
      }
    }
    &[aria-expanded='true'] {
      display: flex;
    }
  }
  div.grid-wrapper {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 2;
    min-height: 50vh;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    &.shaded {
      overflow: hidden;
      table.grid {
        filter: blur(3px);
      }
    }
  }
  table.grid {
    width: 100%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    position: relative;
    z-index: 800;
    thead {
      tr {
        th {
          cursor: pointer;
          padding: 0;
          color: var(--datagrid-gridheader-text-color);
          background-color: var(--datagrid-gridheader-background-color);
          text-align: left;
          font-weight: normal;
          position: sticky;
          vertical-align: top;
          top: 0;
          z-index: 105;
          div.th {
            padding: .75em 1.5em .75em 1em;
            position: relative;
            white-space:nowrap;
            &:before {
              position: absolute;
              right: .5em;
              margin: 0;
              flex-direction: column;
              font-size: .7em;
              justify-content: center;
              align-items: center;
              transition: all .2s;
              color: var(--datagrid-gridheader-color);
              opacity: 0;
            }
          }
          &:focus,
          &:active,
          &.focus,
          &.active {
            color: var(--datagrid-gridheader-hover-text-color);
            text-shadow: var(--datagrid-gridheader-hover-text-shadow);
            background-color: var(--datagrid-gridheader-hover-background-color);
            outline: none;
          }
          @include for-hover-only {
            &:hover,
            &.hover {
              outline: none;
              text-decoration: underline;
              &:not(.mechanical) {
                color: var(--datagrid-gridheader-hover-text-color);
                text-shadow: var(--datagrid-gridheader-hover-text-shadow);
                background-color: var(--datagrid-gridheader-hover-background-color);
              }
            }
          }
          &:active,
          &.active {
            text-decoration: none;
            box-shadow: none;
          }
          &:focus,
          &.focus {
            outline: var(--hot-text-color) dashed .1em;
            outline-offset: -.3em;
            text-decoration: underline double;
          }
          &.mechanical {
            z-index: 106;
          }
          &[data-sort='asc'],
          &[data-sort='desc']{
            div.th {
              box-shadow: inset 0px -.2em 0 0 var(--datagrid-gridheader-sort-highlight-color);
              &:before {
                opacity: 1;
              }
            }
          }
          &[data-sort='desc'] {
            div.th {
              &:before {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
    tbody {
      tr {
        background-color: var(--datagrid-grid-background-color);
        color: var(--datagrid-grid-text-color);
        box-shadow: inset 0 -.05em 0 0 var(--datagrid-line-color), inset 0 .05em 0 0 var(--datagrid-line-color);
        td {
          padding: 1em;
          white-space: nowrap;
          &.italic {
            font-style: oblique;
          }
          &.smaller {
            font-size: .8em;
          }
          &.mechanical {
            background-color: var(--datagrid-grid-mechanical-background-color);
            z-index: 102;
            opacity: 1;
          }
        }
        &:nth-child(even) {
          background-color: var(--datagrid-grid-alternate-background-color);
          td {
            &.mechanical {
              background-color: var(--datagrid-grid-mechanical-background-color);
            }
          }
        }
        &.hidden,
        &.filtered,
        &[data-search-hidden=true] {
          display: none;
        }
        &[data-matched-filters] {
          &[data-search-hidden=true] {
            display: none;
          }
        }
        button {
          background-color: transparent;
          @include for-hover-only {
            &:hover {
              background-image: none;
              box-shadow: none;
            }
          }
          &.menu {
            &[aria-expanded=true] {
              --button-border-color: var(--focus-color);
              --button-default-color: var(--focus-color);
              --button-default-text-color: var(--focus-color);
              opacity: 1;
              background-image: none;
              box-shadow: var(--button-ghost-box-shadow);
            }
          }
        }
        &:focus-within {
          button {
            box-shadow: none;
            background-color: transparent;
          }
        }
      }
    }
    th,
    td {
      &.hidden {
        display: none;
      }
      &.duplicate {
        opacity: .2;
      }
      &.resize {
        resize: horizontal;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.nowrap {
        white-space: nowrap;
      }
      &.right,
      &.number,
      &.time {
        text-align: right;
        > div {
          padding: .75em 1em .75em 1.5em;
          &:before {
            right: unset;
            left: 0.5em;
          }
        }
      }
      &.imageurl {
        text-align: center;
        padding: 0;
        vertical-align: middle;
        a {
          height: 2em;
          min-height: 2em;
          img {
            height: 2em;
          }
        }
      }
      &.center {
        text-align: center;
      }
      &.mechanical {
        transition: width .2s;
        resize: none;
        position: sticky;
        left: 0;
        &.selector {
          overflow: hidden;
          text-align: center;
          vertical-align: middle;
          width: 0;
          max-width: 0;
          padding: 0;
          --checkbox-size: 2em;
          --checkbox-font-size: 2em;
          input {
            display: none;
          }
        }
        &.actions {
          padding: 0 1em 0 1em;
          button {
            font-size: .8em;
            opacity: .5;
            margin: 0;
            &:focus {
              opacity: 1;
              box-shadow: none;
              background-color: transparent;
            }
            @include for-hover-only {
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &.multiselecting {
      th,
      td {
        &.selector {
          padding: 0 1em 0 1em;
          width: auto;
          max-width: unset;
          display: table-cell;
          input {
            display: inline-block;
          }
        }
        &.actions {
          width: 0;
          max-width: 0;
          padding: 0;
          button {
            display: none;
          }
        }
      }
    }
    &.selectable {
      tbody {
        tr {
          cursor: pointer;
          @include for-hover-only {
            &:hover {
              background-color: var(--datagrid-grid-hover-background-color);
              color: var(--datagrid-grid-hover-text-color);
              text-shadow: var(--datagrid-grid-hover-text-shadow);
              > td {
                opacity: 1;
                background-color: var(--datagrid-grid-hover-background-color);
                box-shadow: none;
                &.mechanical {
                  input[type='checkbox'] {
                    --checkbox-checked-checkmark-hover-text-color: var(--hot-text-color);
                    --checkbox-checked-checkmark-text-color: var(--hot-text-color);
                    --checkbox-checkmark-text-color: var(--hot-text-color);
                    border-color: var(--hot-text-color);
                  }
                }
              }
            }
          }
          &:focus {
            outline: var(--datagrid-grid-selected-background-color) dashed .1em;
            outline-offset: -.3em;
            > td {
              opacity: 1;
            }
          }
          &[aria-selected=true] {
            background-color: var(--datagrid-grid-multiselected-selected-background-color);
            color: var(--datagrid-grid-multiselected-selected-text-color);
            > td {
              opacity: 1;
            }
            &:focus {
              outline: var(--datagrid-grid-selected-text-color) dashed .1em;
            }
          }
        }
      }
      &:not(.multiselecting) {
        tbody {
          tr {
            @include for-hover-only {
              &:hover {
                background-color: var(--datagrid-grid-hover-background-color);
                color: var(--datagrid-grid-hover-text-color);
                text-shadow: var(--datagrid-grid-hover-text-shadow);
                td {
                  button {
                    --button-default-color: var(--hot-text-color);
                    --button-default-text-color: var(--hot-text-color);
                    --button-border-color: var(--hot-text-color);
                  }
                }
              }
            }
            &:focus {
              outline: var(--datagrid-grid-selected-background-color) dashed .1em;
            }
            &[aria-selected=true] {
              background-color: var(--datagrid-grid-selected-background-color);
              color: var(--datagrid-grid-selected-text-color);
              box-shadow: none;
              &:focus {
                outline: var(--datagrid-grid-selected-text-color) dashed .1em;
              }
              > td {
                &.mechanical {

                }
              }
            }
          }
        }
      }
    }
    &.schoriz {
      td.mechanical,
      th.mechanical {
        box-shadow: .1em 0 .1em -.05em rgba(0, 0, 0, 0.25)
      }
    }
    &.scvert {
      thead {
        tr.header {
          th {
            //box-shadow: 0 .2em .1em -.05em rgba(0, 0, 0, 0.25)
            //box-shadow: 0 .3em .1em -.001em rgba(0, 0, 0, 0.25);
            //box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
          }
        }
      }
    }
  }
  div.messages {
    &.hidden {
      display: none;
    }
    div.messagebox {
      div.box.warnings {
        --color-base: var(--datagrid-messagebox-color-base);
        --stripe-base: var(--datagrid-messagebox-stripes-base);
        h4 {
          display: none;
          background-color: transparent;
          color: var(--color-base);
        }
        div.lbox {
          border-color: transparent;
        }
      }
    }
  }
  &[aria-expanded=false] {
    div.grid-info,
    div.grid-actions,
    div.grid-filterinfo,
    div.grid-wrapper,
    div.messagebox {
      display: none;
    }
  }
}

div.datagrid-configurator {
  padding: 2em;
  ul.elements {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    li {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      div.description {
        padding: .5em 0 .5em 0;
        font-size: .8em;
      }
    }
  }
  &.column {
    ul.elements {
      li {
        margin-bottom: 1em;
        div.checkbox {
          margin: 0;
        }
        div.description {
          padding: .5em 1em .5em 3em;
        }
      }
    }
  }
  &.filter {
  }
}