div.datagrid-container {

  --datagrid-header-background-color: var(--light);
  --datagrid-header-text-color: var(--grey-darkest);
  --datagrid-header-grid-text-color: var(--grey-darker);
  --datagrid-header-hover-text-shadow: var(--text-shadow);
  --datagrid-header-hover-text-color: var(--hot-text-color);
  --datagrid-header-sort-highlight-color: var(--focus-color);
  --datagrid-header-hover-background-color: var(--focus-color);

  --datagrid-grid-color: transparent;
  --datagrid-grid-text-color: var(--grey-darkest);
  --datagrid-grid-selected-background-color: var(--focus-color);
  --datagrid-grid-selected-text-color: var(--hot-text-color);

  --datagrid-grid-multiselected-selected-background-color: var(--focus-color-quarter);
  --datagrid-grid-multiselected-selected-text-color: var(--grey-darkest);

  --datagrid-grid-background-color: var(--ultralight);
  --datagrid-grid-alternate-background-color: var(--grey-translucent);
  --datagrid-grid-hover-background-color: var(--focus-color-half);
  --datagrid-grid-hover-text-color: var(--hot-text-color);
  --datagrid-grid-hover-text-shadow: var(--text-shadow);

  --datagrid-searchresults-noresults-color-base: var(--grey-darkest);
  --datagrid-searchresults-noresults-stripes-base: var(--grey-translucent);


  max-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  div.grid-actions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: center;
    justify-content: flex-end;
    button:first-child {
      align-self: flex-start;
      margin-right: auto;
    }
  }
  div.grid-wrapper {
    overflow: auto;
  }
  table.grid {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    width: 100%;
    thead {
      tr {
        th {
          cursor: pointer;
          padding: 0;
          color: var(--datagrid-header-text-color);
          background-color: var(--datagrid-header-background-color);
          text-align: left;
          font-weight: normal;
          position: sticky;
          vertical-align: top;
          top: 0;
          z-index: 10;
          div {
            padding: .5em 1.5em .5em 1em;
            position: relative;
            white-space:nowrap;
            &:before {
              position: absolute;
              right: .5em;
              margin: 0;
              flex-direction: column;
              font-size: 70%;
              justify-content: center;
              align-items: center;
              transition: all .2s;
              color: var(--datagrid-header-color);
              opacity: 0;
            }
          }
          &:focus,
          &:active,
          &.focus,
          &.active {
            color: var(--datagrid-header-hover-text-color);
            text-shadow: var(--datagrid-header-hover-text-shadow);
            background-color: var(--datagrid-header-hover-background-color);
            outline: none;
          }
          @include for-hover-only {
            &:hover,
            &.hover {
              outline: none;
              text-decoration: underline;
              &:not(.selector) {
                color: var(--datagrid-header-hover-text-color);
                text-shadow: var(--datagrid-header-hover-text-shadow);
                background-color: var(--datagrid-header-hover-background-color);
              }
            }
          }
          &:active,
          &.active {
            text-decoration: none;
            box-shadow: none;
          }
          &:focus,
          &.focus {
            outline: var(--hot-text-color) dashed .1em;
            outline-offset: -.3em;
            text-decoration: underline double;
          }
          &[data-sort='asc'],
          &[data-sort='desc']{
            div {
              box-shadow: inset 0px -.2em 0 0 var(--datagrid-header-sort-highlight-color);
              &:before {
                opacity: 1;
              }
            }
          }
          &[data-sort='desc'] {
            div {
              &:before {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
    tbody {
      tr {
        background-color: var(--datagrid-grid-background-color);
        color: var(--datagrid-grid-text-color);
        td {
          padding: .5em 1em .5em 1em;
          //overflow: hidden;
          //text-overflow: ellipsis;
          white-space: nowrap;
          &.italic {
            font-style: oblique;
          }
          &.smaller {
            font-size: 80%;
          }
        }
        &:nth-child(even) {
          background-color: var(--datagrid-grid-alternate-background-color);
        }
        &.hidden {
          display: none;
        }
      }
    }
    th,
    td {
      &.resize {
        resize: horizontal;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.nowrap {
        white-space: nowrap;
      }
      &.right,
      &.number,
      &.time {
        text-align: right;
      }
      &.center {
        text-align: center;
      }
      &.selector {
        transition: all .2s;
        resize: none;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        //display: none;
        width: 0;
        max-width: 0;
        padding: 0;
        --checkbox-size: 2em;
        input {
          display: none;
        }
      }
    }
    &.multiselecting {
      th,
      td {
        &.selector {
          padding: 0 1em 0 1em;
          width: auto;
          max-width: unset;
          display: table-cell;
          input {
            display: inline-block;
          }
        }
      }
    }
    &.selectable {
      tbody {
        tr {
          cursor: pointer;
          @include for-hover-only {
            &:hover {
              background-color: var(--datagrid-grid-hover-background-color);
              color: var(--datagrid-grid-hover-text-color);
              text-shadow: var(--datagrid-grid-hover-text-shadow);
            }
          }
          &:focus {
            outline: var(--datagrid-grid-selected-background-color) dashed .1em;
            outline-offset: -.3em;
          }
          &[aria-selected=true] {
            background-color: var(--datagrid-grid-multiselected-selected-background-color);
            color: var(--datagrid-grid-multiselected-selected-text-color);
            &:focus {
              outline: var(--datagrid-grid-selected-text-color) dashed .1em;
            }
          }
        }
      }
      &:not(.multiselecting) {
        tbody {
          tr {
            @include for-hover-only {
              &:hover {
                background-color: var(--datagrid-grid-hover-background-color);
                color: var(--datagrid-grid-hover-text-color);
                text-shadow: var(--datagrid-grid-hover-text-shadow);
              }
            }
            &:focus {
              outline: var(--datagrid-grid-selected-background-color) dashed .1em;
            }
            &[aria-selected=true] {
              background-color: var(--datagrid-grid-selected-background-color);
              color: var(--datagrid-grid-selected-text-color);
              &:focus {
                outline: var(--datagrid-grid-selected-text-color) dashed .1em;
              }
            }
          }
        }
      }
    }
  }
  div.messagebox {

    &.hidden {
      display: none;
    }
    div.box.warnings {
      --color-base: var(--datagrid-searchresults-noresults-color-base);
      --stripe-base: var(--datagrid-searchresults-noresults-stripes-base);
      h4 {
        display: none;
        background-color: transparent;
        color: var(--color-base);
      }
      div.lbox {
        border-color: transparent;
      }
    }
  }
}