body.modalopen {
  height: 100vh;
  overflow-y: hidden;
  @include for-phone-only {
    overflow-y: scroll;
  }
}
div.window-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2001;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  div.dialog {
    background-color: var(--dialog-background-color);
    padding: 0;
    text-align: left;
    max-height: 90%;
    min-width: 25em;
    margin: 2em auto;
    position: relative;
    border-radius: var(--dialog-border-radius);
    overflow: hidden;
    box-shadow: var(--dialog-box-shadow);
    flex-grow: 0;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    transition: all 0.2s;
    animation-duration: .2s;
    animation-name: cfb-pushup;
    z-index: 2002;
    h2 {
      background-color: var(--dialog-header-background-color);
      color: var(--dialog-header-text-color);
      text-shadow: var(--dialog-header-text-shadow);
      margin: 0;
      font-weight: normal;
      font-size: 1.5em;
      padding: .5em 1em .5em 1.5em;
      position: relative;
      width: 100%;
      border-bottom: .1em solid var(--dialog-header-border-color);
      box-shadow: var(--dialog-header-box-shadow);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      z-index: 2003;
      &:after {
        display: none;
      }
      button.closebutton {
        position: relative;
        color: var(--dialog-header-text-color);
        text-shadow: var(--dialog-header-text-shadow);
      }
    }
    div.content {
      margin: 0;
      overflow: auto;
      z-index: 2005;
    }
    div.actions {
      position: relative;
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      flex-direction: row;
      align-items: flex-start;
      align-content: center;
      justify-content: space-between;
      height: 5em;
      min-height: 5em;
      max-height: 5em;
      overflow: auto;
      z-index: 9;
      padding: .5em 1.5em .5em 1.5em;
      background-color: var(--form-actions-background-color);
      border-top: .1em solid var(--form-actions-border-color);
      button {
        margin-right: 1em;
        &.fill {
          margin: 0;
        }
      }
      button:first-child {
        margin-left: 0;
      }
      button:last-child:not(:only-of-type) {
        align-self: flex-end;
        margin-left: auto;
        margin-right: 1em;
        &:first-child {
          margin-left: 0;
        }
        &:last-child:not(:only-of-type) {
          align-self: flex-end;
          margin-left: auto;
          margin-right: 1em;
        }
      }

    }
    &.isform {
      div.content {
        margin: 0;
        padding: 0;
        form {
          position: relative;
          margin: 0;
          border: 0;
          padding: 0;
          div.contentbox {
            position: relative;
            flex-grow: 1;
            max-height: 30%;
            padding: .5em 1.5em .5em 1.5em;
            overflow: visible;
            z-index: 10;
            div.header,
            div.elements {
              padding: 0;
            }
          }
          div.actions {
            padding: .5em 1.5em .5em 1.5em;
            position: relative;
            flex-grow: 0;
            flex-shrink: 0;
            height: 5em;
            min-height: 5em;
            max-height: 5em;
            overflow: auto;
            z-index: 9;
          }
        }
      }
    }
    @include for-phone-only {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      height: auto;
      min-height: unset;
      max-height: 100vh;
    }
  }
  div.trailer {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 100%;
    color: var(--white-half);
    pointer-events: auto;
    @include for-phone-only {
      padding: .5em;
    }
  }
}

div.window-mask {
  background-color: var(--dialog-window-mask-color);
  opacity: var(--dialog-window-mask-opacity);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}
