input[type="file"] {
  width: 0.001em;
  height: 0.001em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
div.file-container {
  div.wrap {
    &:after {
      display: none;
    }
  }
  div.trigger {
    transition: all .2s;
    box-sizing: border-box;
    outline: none;
    position: relative;
    font-family: inherit;
    width: 100%;
    margin: 0;
    font-size: 105%;
    background-color: var(--input-default-background-color);
    border: .1em solid var(--input-default-border-color);
    padding: .5em 1em .5em 1.5em;
    border-radius: .1em;
    color: var(--input-default-placeholder-color);
    font-weight: normal;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
    &.files {
      color: var(--input-default-text-color);
      text-shadow:var(--input-default-text-shadow);
    }
    &:before {
      position: absolute;
      right: 3.5em;
      top: .7em;
      margin: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--input-default-placeholder-color);
    }
    &:focus {
      border-color: var(--input-focused-border-color);
      background-color: var(--input-focused-background-color);
      box-shadow: inset .5em 0 0 var(--input-focused-border-color);
      &::placeholder {
        opacity: 0.3;
      }
    }
    &.mute {
      background-color: var(--input-mute-background-color);
      border-top: none;
      border-left: none;
      border-right: none;
      padding: .5em 1em .5em 1.5em;
      &:focus {
        border-bottom-color: var(--focus-color);
        background-color: var(--input-focused-background-color);
        box-shadow: inset 0px -.2em 0 0 var(--focus-color);
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
  &.mute {
    label {
      opacity: 1;
    }
  }
  &.disabled {
    label {
      text-shadow: none;
    }
    div.trigger {
      border-color: var(--input-disabled-border-color);
      background-color: var(--input-disabled-background-color);
      color: var(--input-disabled-text-color);
      cursor: not-allowed;
      text-shadow:none;
      &:active,
      &:focus {
        border-color: var(--input-disabled-border-color);
        background-color: var(--input-disabled-background-color);
        color: var(--input-disabled-text-color);
        box-shadow: none;
        &:before {
          color: var(--input-disabled-text-color);
        }
      }
      @media(hover: hover) and (pointer: fine) {
        &:hover {
          border-color: var(--input-disabled-border-color);
          background-color: var(--input-disabled-background-color);
          color: var(--input-disabled-text-color);
          box-shadow: none;
          &:before {
            color: var(--input-disabled-text-color);
          }
        }
      }
    }
  }
}