:root {
  // Form keys
  --form-background-color: transparent;
  --form-border-color: transparent;
  --form-actions-background-color: var(--morelight);
  --form-actions-border-color: var(--light);
}
form {
  margin: 0;
  position: relative;
  border: .1em solid var(--form-border-color);
  background-color: var(--form-background-color);
  display: block;
  padding: 0;
  &.shaded {
    overflow: hidden;
    div.loading-shade {
      display: flex;
    }
    div.header,
    div.elements,
    div.passiveactions,
    div.actions {
      filter: blur(3px);
    }
  }
  div.header {
    flex-grow: 1;
    padding: .5em 1.5em .5em 1.5em;
    div.instructions {
      margin: 1rem 0 1rem 0;
    }
  }
  div.elements {
    padding: .5em 1.5em .5em 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 2;
    box-sizing: border-box;
    div.input-container,
    div.textarea-container {
      margin: 1rem 0 1rem 0;
    }
  }
  div.actions,
  div.passiveactions {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
    background-color: var(--form-actions-background-color);
    border-top: .1em solid var(--form-actions-border-color);
    padding: .5em 1.5em .5em 1.5em;
    button {
      margin-right: 1rem;
      &.fill {
        margin: 0;
      }
    }
    button:first-child {
      margin-left: 0;
    }
  }
  div.passiveactions {
    display: none;
  }
  &.passive {
    div.actions {
      display: none;
    }
    div.passiveactions {
      display: flex;
    }
  }
}
