div.panel {
  transition: all .2s ease-in-out;
  text-shadow: var(--panel-text-shadow);
  color: var(--panel-text-color);
  background-color: var(--panel-background-color);
  margin: 0;
  padding: var(--panel-padding);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  div.titlebox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    h3 {
      margin: 0;
      cursor: pointer;
      border-bottom: .1em var(--panel-text-color);
      color: var(--panel-text-color);
      button.togglebutton {
        --button-default-color: var(--panel-text-color);
        margin: 0 .5em 0 0;
        box-shadow: none;
        width: 1em;
        height: 1em;
        opacity: 1;
        border: none;
        font-size: .85em;
        &:focus,
        &:active {
          opacity: 1;
          background: none;
          box-shadow: none;
        }
        @include for-hover-only {
          &:hover {
            opacity: 1;
            background: none;
            box-shadow: none;
          }
        }
      }
    }
  }
  div.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    transition: all .2s;
  }
  &[aria-hidden=true] {
    display: none;
  }
  &[aria-expanded=false] {
    div.titlebox {
      h3 {
        margin: 0;
      }
      button.closebutton {
        transform: rotate(-90deg);
        &:focus,
        &:active {
          color: var(--panel-text-color);
        }
        @include for-hover-only {
          &:hover {
            color: var(--panel-text-color);
          }
        }
      }
    }
    div.content {
      display: none;
    }
    &:active,
    &:focus {

    }
    @include for-hover-only {
      &:hover {

      }
    }
  }
  &.floating {
    position: absolute;
    z-index: 1000;
    border-radius: var(--panel-border-radius);
    box-shadow: var(--panel-box-shadow);
  }
  // Styles
  &.ghost {
    opacity: .5;
    &:hover,
    &:focus,
    &:focus-within {
      opacity: 1;
    }
  }
  &.invisible {
    background-color: transparent;
    box-shadow: none;
  }
  // Locations
  &.top-left {
    top: 1em;
    left: 1em;
  }
  &.top-right {
    top: 1em;
    right: 1em;
  }
  &.bottom-left {
    bottom: 1em;
    left: 1em;
  }
  &.bottom-right {
    bottom: 1em;
    right: 1em;
  }
  &.top-center {
    top: 1em;
    right: 1em;
    left: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  &.bottom-center {
    bottom: 1em;
    right: 1em;
    left: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}
