div.searchcontrol {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  --button-default-color: var(--input-default-border-color);
  input {
    height: 2.1em;
    width: 0;
    padding: 0;
    border-color: transparent;
    background-color: transparent;
  }
  button {
    margin-left: 0;
  }
  &.open,
  &:focus-within {
    input {
      width: auto;
      border-radius: 0;
      border-top-left-radius: var(--input-border-radius);
      border-bottom-left-radius: var(--input-border-radius);
      border-right: none;
      padding: var(--input-default-padding);
      background-color: var(--input-default-background-color);
      &:focus {
        border-color: var(--input-focused-border-color);
      }
    }
    button {
      border-radius: 0;
      border-top-right-radius: var(--input-border-radius);
      border-bottom-right-radius: var(--input-border-radius);
      box-shadow: inset -.1em -.1em 0 0 var(--button-default-color), inset .1em -.1em 0 0 var(--button-default-color), inset -.1em .1em 0 0 var(--button-default-color), inset .1em .1em 0 0 var(--button-default-color);
      &:hover {
        box-shadow: none;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  &:focus-within {

  }
}