div.select-container {
  position: relative;
  &.disabled {
    label {
      text-shadow: none;
    }
    div[role='listbox'] {
      display: none;
    }
  }
  div.wrap {
    display: block;
    position: relative;
    input.trigger {

    }
    &:before {
      cursor: pointer;
    }
    &[aria-expanded="true"],
    &:focus-within {
      input.trigger {
        border-color: var(--input-focused-border-color);
        background-color: var(--input-focused-background-color);
        box-shadow: var(--input-focus-box-shadow);
      }
    }
    &[aria-expanded="true"] {
      &:before {
        transform: rotate(180deg);
      }
    }
  }
  &.mute {
    label {
      opacity: 1;
    }
    &[aria-expanded="true"],
    &:focus-within {
      input.trigger {
        border-bottom-color: var(--focus-color);
        background-color: var(--input-focused-background-color);
        box-shadow: var(--input-mute-focus-box-shadow);
      }
    }

  }
  &.disabled {
    input.trigger {
      &:before {
        opacity: .5;
      }
    }
    &.mute {
      input.trigger {
        background-color: var(--input-mute-disabled-background-color);
      }
    }
  }
}

div.selectmenu-menu {
  animation: cfb-fadein .5s;
  opacity: 1;
  position: absolute;
  z-index: 20000;
  ul.selectmenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--selectmenu-menu-background-color);
    border: .1em solid var(--input-default-border-color);
    border-top: none;
    padding: 0;
    overflow: auto;
    max-height: 10em;
    z-index: 201;
    position: absolute;
    margin: 0;
    box-shadow: var(--panel-shadow-light);
    width: 100%;
    transition: all .2s;
    li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin: 0;
      white-space: nowrap;
      padding: .5em 1em .5em 1.5em;
      > input[type='radio'] {
        display: none;
      }
      &:focus {
        outline: var(--selectmenu-menu-background-color) dashed .1em;
        outline-offset: -.3em;
        text-decoration: underline double;
      }
      &[aria-selected=true] {
        box-shadow: inset .5em 0 0 var(--input-focused-border-color);
      }
      &:nth-child(even) {
        background-color: var(--selectmenu-menu-alternate-background-color);
      }
      &:focus {
        background-color: var(--selectmenu-menu-item-hover-background-color);
        color: var(--selectmenu-menu-item-hover-text-color);
        &[aria-selected=true] {
        }
      }
      @include for-hover-only {
        &:hover {
          background-color: var(--selectmenu-menu-item-hover-background-color);
          color: var(--selectmenu-menu-item-hover-text-color);
        }
      }
    }
    &.vert {
      bottom: 2.5em;
      box-shadow: var(--panel-shadow-light-inverse);
      border-top: .1em solid var(--input-default-border-color);
      border-bottom: none;
    }
  }
  &[aria-hidden='true'] {
    height: 0;
    max-height: 0;
    box-shadow: none;
    border: none;
    display: none;
  }
}

