div.select-container {
  position: relative;
  &.disabled {
    label {
      text-shadow: none;
    }
    div[role='listbox'] {
      display: none;
    }
  }
  div.wrap {
    display: block;
    position: relative;
    input.trigger {

    }
    &:before {
      cursor: pointer;
    }
    &[aria-expanded="true"],
    &:focus-within {
      input.trigger {
        border-color: var(--input-focused-border-color);
        background-color: var(--input-focused-background-color);
        box-shadow: var(--input-focus-box-shadow);
      }
    }
    &[aria-expanded="true"] {
      &:before {
        transform: rotate(180deg);
      }
    }
  }
  &.mute {
    label {
      opacity: 1;
    }
    &[aria-expanded="true"],
    &:focus-within {
      input.trigger {
        border-bottom-color: var(--focus-color);
        background-color: var(--input-focused-background-color);
        box-shadow: var(--input-mute-focus-box-shadow);
      }
    }

  }
  &.disabled {
    input.trigger {
      &:before {
        opacity: .5;
      }
    }
    &.mute {
      input.trigger {
        background-color: var(--input-mute-disabled-background-color);
      }
    }
  }
}
// div.selectmenu-menu is described in _BodyLevel.scss
