div.shade {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
  background-color: var(--form-shade-background-color);
  border: .1em solid var(--form-shade-border-color);
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  span.icon {
    display: block;
    color: var(--form-shade-icon-color);
    font-size: 100pt;
    text-shadow: var(--form-shade-icon-shadow);
    margin-top:-1em;
    animation: cfb-localspin 2s linear infinite;
    &:before {
      line-height: normal;
    }
  }
  div.spinnertext {
    color: var(--form-shade-text-color);
    font-size: 200%;
    text-shadow: var(--form-shade-text-shadow);
  }
}
form {
  margin: 0;
  position: relative;
  border: .1em solid var(--form-border-color);
  background-color: var(--form-background-color);
  display: block;
  padding: 0;
  &.shaded {
    overflow: hidden;
    div.shade {
      display: flex;
    }
    div.header,
    div.elements,
    div.passiveactions,
    div.actions {
      filter: blur(3px);
    }
  }
  div.header {
    flex-grow: 1;
    padding: .5em 1.5em .5em 1.5em;
    div.instructions {
      margin: 1em 0 1em 0;
    }
  }
  div.elements {
    padding: .5em 1.5em .5em 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 2;
    box-sizing: border-box;
    div.input-container,
    div.textarea-container {
      margin: 1em 0 1em 0;
    }
  }
  div.actions,
  div.passiveactions {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--form-actions-background-color);
    border-top: .1em solid var(--form-actions-border-color);
    padding: .5em 1.5em .5em 1.5em;
    button {
      margin-right: 1em;
      &.fill {
        margin: 0;
      }
    }
    button:first-child {
      margin-left: 0;
    }
    button:last-child:not(:only-of-type) {
      align-self: flex-end;
      margin-left: auto;
      margin-right: 1em;
      &:first-child {
        margin-left: 0;
      }
      &:last-child:not(:only-of-type) {
        align-self: flex-end;
        margin-left: auto;
        margin-right: 1em;
      }
    }
  }
  div.passiveactions {
    display: none;
  }
  &.passive {
    div.actions {
      display: none;
    }
    div.passiveactions {
      display: flex;
    }
  }
}

div.spinner.spin {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  position: relative;
  margin: 1em 0 1em 0;
  border: .75em solid var(--form-shade-spinner-downcolor);
  border-top-color: var(--form-shade-spinner-color);
  animation: cfb-localspin 1.1s infinite linear;
}

div.spinner.bounce {
  width: 4em;
  height: 4em;
  position: relative;
  margin: -2em 0 4em 0;
  &:before,
  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--form-shade-spinner-color);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: cfb-spinner-bounce 2.0s infinite ease-in-out;
  }
  &:after {
    animation-delay: -1.0s;
  }
}

