ul.tabbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  border-radius: var(--tabbar-border-radius);
  z-index: 2;
  background-color: var(--tabbar-background-color);
  box-shadow: var(--tabbar-box-shadow);
  overflow: visible;
  padding: 0;
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    margin: 0;
    padding: 0;
    position: relative;
    height: var(--tabbar-tab-height);
    min-height: var(--tabbar-tab-height);
    max-height: var(--tabbar-tab-height);
    &.mobileonly {
      display: none;
      @include for-phone-only {
        display: flex;
      }
    }
    &:focus-within {
      > a {
        background-color: var(--focus-color-half-solid);
        color: var(--tabbar-hover-tab-text-color);
        text-shadow: var(--tabbar-hover-tab-text-shadow);
      }
    }
    > a {
      padding: 0 1em 0 1em;
      white-space: nowrap;
      background-color: var(--tabbar-tab-background-color);
      color: var(--tabbar-tab-text-color);
      text-shadow: var(--tabbar-tab-text-shadow);
      cursor: pointer;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-grow: 1;
      font-size: 1.1em;
      transition: all .1s linear;
      &[aria-selected="true"] {
        background-color: var(--tabbar-selected-tab-background-color);
        box-shadow: inset 0px -.3em 0 0 var(--tabbar-selected-tab-highlight-color);
        color: var(--tabbar-selected-tab-text-color);
        text-shadow: var(--tabbar-selected-tab-text-shadow);
      }
      &:active,
      &:focus {
        color: var(--tabbar-hover-tab-text-color);
        background-color: var(--tabbar-hover-tab-background-color);
        text-shadow: var(--tabbar-hover-tab-text-shadow);
        filter: none;
      }
      &:focus {
        outline: var(--hot-text-color) dashed .1em;
        outline-offset: -.3em;
        text-decoration: underline double;
        @include for-hover-only {
          &:hover {
            outline-color: var(--ultralight);
          }
        }
      }
      > span.icon {
        margin-right: .5em;
        &.secondicon{
          margin-right: 0;
        }
      }
    }
    @include for-hover-only {
      &:hover {
        > a {
          color: var(--tabbar-hover-tab-text-color);
          background-color: var(--tabbar-hover-tab-background-color);
          text-shadow: var(--tabbar-hover-tab-text-shadow);
          filter: none;
        }
      }
    }
    &[aria-selected="true"] {
      box-shadow: inset 0 -.3em 0 0 var(--tabbar-selected-tab-highlight-color);
      color: var(--tabbar-hover-tab-text-color);
      text-shadow: var(--tabbar-selected-tab-text-shadow);
      @include for-hover-only {
        &:hover {
          color: var(--tabbar-hover-tab-text-color);
          text-shadow: var(--tabbar-hover-tab-text-shadow);
        }
      }
    }
    ul.submenu {
      display: none;
      width: 100%;
      position: absolute;
      left: 0;
      top: 3em;
      overflow: visible;
      padding: 0;
      list-style-type: none;
      border-radius: var(--tabbar-border-radius);
      z-index: 3;
      background-color: var(--tabbar-subtab-background-color);
      --tabbar-tab-background-color: var(--tabbar-subtab-background-color);
      box-shadow: none;
      filter: var(--panel-shadow-filter);
      &:before {
        display: none;
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 1.15em;
        top: -.7em;
        border-width: 0 .7em .7em .7em;
        border-style: solid;
        border-color: var(--tabbar-subtab-background-color) transparent;
      }
      > li {
        align-items: flex-start;
        margin: 0;
        > a {

        }
      }
    }
    &:focus-within {
      ul.submenu {
        display: block;
        &:before {
          display: block;
        }
      }
    }
  }
  &.vertical {
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0;
    height: unset;
    min-height: unset;
    max-height: unset;
    > li {
      margin: 0;
      > a {
        padding: .5em 1em .5em 1em;
        justify-content: flex-start;
        &:focus {
          margin: 0;
          outline: var(--ultralight) dashed .1em;
          outline-offset: -.3em;
          text-decoration: underline double;
          @include for-hover-only {
            &:hover {
              outline-color: var(--ultralight);
            }
          }
        }
      }
      > ul.submenu {
        display: block;
      }
    }
  }
}
nav.tablist-container,
div.tablist-container {
  z-index: 5000;
  &.responsive {
    position: relative;
    overflow: visible;
    div.responsivebox {
      display: none;
    }
    @include for-phone-only {
      position: sticky;
      top: 0;
      z-index: 500;
      display: flex;
      background-color: var(--tabbar-collapsed-background-color);
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      vertical-align: top;
      box-shadow: var(--tabbar-box-shadow);
      div.responsivebox {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: var(--tabbar-collapsed-height);
        min-height: var(--tabbar-collapsed-height);
        max-height: var(--tabbar-collapsed-height);
        width: 100%;
        background-color: var(--tabbar-collapsed-background-color);
        > button.hamburger {
          margin: 0;
          width: var(--tabbar-collapsed-height);
          height: var(--tabbar-collapsed-height);
          border-radius: 0;
          padding: 0;
          font-size: 1em;
          box-shadow: none;
          background-color: transparent;
          > span.magichamburger {
            width: 2em;
            height: 2em;
            span {
              width: 2em;
              height: .3em;
              background-color: var(--tabbar-collapsed-button-color);
              border-radius: .1em;
              &:first-child {
                margin-top: .1em;
              }
              &:nth-child(2) {
                margin: .4em auto .4em auto;
              }
              &:last-child {
                margin-bottom: .1em;
              }
            }
          }
          &:focus {
            background-color: var(--tabbar-collapsed-open-menu-color);
            outline: var(--tabbar-collapsed-button-color) dashed .2em;
            outline-offset: -.3em;
            filter: none;
          }
          &[aria-expanded='true'] {
            background-color: var(--tabbar-collapsed-open-menu-color);
            filter: none;
            > span.magichamburger {
              span {
                &:first-child {
                  width: 2.1em;
                  transform: translateX(.4em) rotate(45deg);
                  transform-origin: top left;
                }
                &:nth-child(2) {
                  opacity: 0;
                }
                &:last-child {
                  width: 2.1em;
                  transform: translateX(.4em) rotate(-45deg);
                  transform-origin: bottom left;
                }
              }
            }
          }
        }
        div.menutitle {
          font-size: 1.5em;
          padding: 0 .5em 0 .5em;
          color: var(--tabbar-collapsed-title-color);
        }
      }
      ul.tabbar {
        box-shadow: none;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 0;
        height: 0;
        min-height: 0;
        max-height: 0;
        background-color: var(--tabbar-collapsed-open-menu-color);
        width: 100%;
        transition: all 0.1s;
        padding: 0 0 0 4em;
        li {
          margin: 0;
          width: 100%;
          display: none;
          height: unset;
          max-height: unset;
          > a {
            width: 100%;
            height: 2em;
            min-height: 2em;
            max-height: 2em;
            font-size: 1em;
            padding: .5em 1em .5em 0;
            justify-content: flex-start;
            &[aria-selected="true"] {
              box-shadow: inset .5em 0 0 var(--tabbar-selected-tab-highlight-color);
            }
          }
        }
      }
      &[aria-expanded="true"] {
        min-height: 90vh;
        max-height: 90vh;
        bottom: 0;
        ul.tabbar {
          height: auto;
          min-height: unset;
          max-height: unset;
          overflow: scroll;
          > li {
            display: block;
            min-height: unset;
            ul.submenu {
              border-top: .1em solid var(--tabbar-collapsed-open-background-color);
              display: block;
              justify-content: flex-end;
              position: relative;
              top: unset;
              background-color: unset;
              filter: none;
              > li {
                display: block;
                min-height: unset;
                > a {
                  background-color: unset;
                  justify-content: flex-end;
                }
              }
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
