
/*
  We want to use variables so that they can be re-themed
 */
:root {
  // Raw colors
  --cornflowerblue: rgb(100, 149, 237); // #6495ED
  --darkblue: rgb(0, 84, 166); // #0054a6
  --blue: var(--cornflowerblue); // #6495ED
  --red: rgb(145, 0, 0); // #910000
  --orange: rgb(255, 153, 0); // #ff9900
  --yellow: rgb(255, 221, 27); // #ffdd1b
  --green: rgb(0, 94, 32); // #005e20
  --tan: rgb(234, 220, 188); // #eadcbc
  --purple: rgb(86, 59, 103); // #563b67

  --white: #fff;
  --ultralight: #fdfdfd;
  --bright: #eee;
  --morelight: #f3f3f3;
  --sublight: #e5e5e5;
  --light: #ddd;
  --grey-light: #ccc;
  --grey-medium: rgb(153, 153, 153); // #999
  --grey-dark: rgb(102, 102, 102); // #666
  --grey-meddark: rgb(85, 85, 85); // #555
  --grey-darker: rgb(68, 68, 68); // #444
  --grey-darkest: rgb(34, 34, 34); // #222;
  --black: #000;

  // Half opacity colors
  --white-threequarter: rgba(255, 255, 255, 0.75); // #fff
  --white-half: rgba(255, 255, 255, 0.5); // #fff
  --white-quarter: rgba(255, 255, 255, 0.25); // #fff
  --white-translucent: rgba(255, 255, 255, 0.1); // #fff
  --grey-threequarter: rgba(153, 153, 153, 0.75); // #999
  --grey-half: rgba(153, 153, 153, 0.5); // #999
  --grey-quarter: rgba(153, 153, 153, 0.25); // #999
  --grey-translucent: rgba(153, 153, 153, 0.1); // #999
  --black-threequarter: rgba(0, 0, 0, 0.75); // #000
  --black-half: rgba(0, 0, 0, 0.5); // #000
  --black-quarter: rgba(0, 0, 0, 0.25); // #000
  --black-translucent: rgba(0, 0, 0, 0.1); // #000
  --blue-threequarter: rgba(100, 149, 237, 0.75); // #6495ED
  --blue-half: rgba(100, 149, 237, 0.5); // #6495ED
  --blue-quarter: rgba(100, 149, 237, 0.25); // #6495ED
  --blue-translucent: rgba(100, 149, 237, 0.1); // #6495ED
  --darkblue-threequarter: rgba(0, 84, 166, 0.75); // #0054a6
  --darkblue-half: rgba(0, 84, 166, 0.5); // #0054a6
  --darkblue-quarter: rgba(0, 84, 166, 0.25); // #0054a6
  --darkblue-translucent: rgba(0, 84, 166, 0.1); // #0054a6
  --green-threequarter: rgba(0, 94, 32, 0.75); // #005e20
  --green-half: rgba(0, 94, 32, 0.5); // #005e20
  --green-quarter: rgba(0, 94, 32, 0.25); // #005e20
  --green-translucent: rgba(0, 94, 32, 0.1); // #005e20
  --red-threequarter: rgba(145, 0, 0, 0.75); // #910000
  --red-half: rgba(145, 0, 0, 0.5); // #910000
  --red-quarter: rgba(145, 0, 0, 0.25); // #910000
  --red-translucent: rgba(145, 0, 0, 0.1); // #910000
  --orange-threequarter: rgba(255, 153, 0, 0.75); // #ff9900
  --orange-half: rgba(255, 153, 0, 0.5); // #ff9900
  --orange-quarter: rgba(255, 153, 0, 0.25); // #ff9900
  --orange-translucent: rgba(255, 153, 0, 0.1); // #ff9900
  --yellow-threequarter: rgba(255, 221, 27, 0.75); // #ffdd1b
  --yellow-half: rgba(255, 221, 27, 0.5); // #ffdd1b
  --yellow-quarter: rgba(255, 221, 27, 0.25); // #ffdd1b
  --yellow-translucent: rgba(255, 221, 27, 0.1); // #ffdd1b
  --purple-threequarter: rgba(86, 59, 103, 0.75); // #563b67
  --purple-half: rgba(86, 59, 103, 0.5); // #563b67
  --purple-quarter: rgba(86, 59, 103, 0.25); // #563b67
  --purple-translucent: rgba(86, 59, 103, 0.1); // #563b67



  // Stripes
  --red-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(145, 0, 0, 0.05) .5em, rgba(145, 0, 0, 0.05) 1em);
  --orange-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(255, 153, 0, 0.1) .5em, rgba(255, 153, 0, 0.1) 1em);
  --yellow-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(51, 89, 100, 0.05) .5em, rgba(51, 89, 100, 0.05) 1em);
  --green-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(0, 94, 32, 0.05) .5em, rgba(0, 94, 32, 0.05) 1em);
  --blue-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(100, 149, 237, 0.05) .5em, rgba(100, 149, 237, 0.05) 1em);
  --purple-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(86, 59, 103, 0.05) .5em, rgba(86, 59, 103, 0.05) 1em);
  --grey-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(153, 153, 153, 0.05) .5em, rgba(153, 153, 153, 0.05) 1em);
  --dark-grey-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(102, 102, 102, 0.05) .5em, rgba(102, 102, 102, 0.05) 1em);
  --darker-grey-stripes: repeating-linear-gradient(-45deg, transparent, transparent .5em, rgba(68, 68, 68, 0.05) .5em, rgba(68, 68, 68, 0.05) 1em);

  --fontstack-serif: "Times New Roman", Times, serif;
  --fontstack-sansserif: "Helvetica Neue", Arial, serif;
  --fontstack-monospace: "Lucida Console", Monaco, monospace;

  // Shadows
  --text-shadow-heavy: 0 -.03em .03em rgba(0,0,0, 1), 0 .03em .03em rgba(255,255,255, 1);
  --text-shadow-light: 0 -.03em .03em rgba(0,0,0, .3), 0 .03em .03em rgba(255,255,255, .3);
  --text-shadow: var(--text-shadow-light);
  --text-shadow-singular: 0 -.03em .03em rgba(0,0,0, .3);
  --on-white-text-shadow: 0 .03em .03em rgba(50,50,50,0.3);
  --text-shadow-heavier: 0 .07em .07em rgba(0,0,0,0.7);

  --box-shadow: .1em .1em .5em 0 rgba(50, 50, 50, 0.5);
  --hover-box-shadow: 0 .1em .1em 0 rgba(50, 50, 50, 0.5);
  --panel-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.4);
  --panel-shadow-light: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);
  --panel-shadow-light-inverse: 0 -.5em .5em 0 rgba(0, 0, 0, 0.2);
  --interior-shadow: 0 .3em .5em -.3em rgba(0, 0, 0, 0.2);
  --interior-shadow-inverse: 0 -.3em .5em 0 rgba(0, 0, 0, 0.2);
  --interior-shadows-inside: inset 0 .3em .5em 0 rgba(0, 0, 0, 0.2), inset 0 -.3em .5em 0 rgba(0, 0, 0, 0.2);

  --wide-measure: 40em;
  --thin-measure: 25em;

  --body-background-color: var(--grey-darkest);
  --canvas-color-primary: var(--ultralight);
  --canvas-color-secondary: var(--morelight);
  --canvas-color-tertiary: var(--light);
  --canvas-color-callout-lightweight: var(--blue-translucent);

  // Misc Values
  --default-font-family: var(--fontstack-sansserif);
  --default-font-size: 13pt;
  --border-radius: .2em;

  // Semantic colors
  --standard-color: var(--grey-dark);
  --placeholder-color: var(--grey-medium);

  --highlight-color: var(--darkblue);
  --focus-color: var(--green);
  --focus-color-half: var(--green-half);
  --focus-color-quarter: var(--green-quarter);
  --focus-color-translucent: var(--green-translucent);

  --constructive-color: var(--green);
  --constructive-color-half: var(--green-half);
  --constructive-color-quarter: var(--green-quarter);
  --constructive-color-translucent: var(--green-translucent);

  --destructive-color: var(--red);
  --destructive-color-helf: var(--red-half);
  --destructive-color-quarter: var(--red-quarter);
  --destructive-color-translucent: var(--red-translucent);

  --hot-text-color: var(--ultralight);
  --required-color: var(--red);

  --accept-color: var(--green);
  --accept-color-half: var(--green-half);
  --accept-color-quarter: var(--green-quarter);
  --accept-color-translucent: var(--green-translucent);
  --accept-stripes: var(--green-stripes);

  --success-color: var(--green);
  --success-color-half: var(--green-half);
  --success-color-quarter: var(--green-quarter);
  --success-color-translucent: var(--green-translucent);
  --success-stripes: var(--green-stripes);

  --error-color: var(--red);
  --error-color-half: var(--red-half);
  --error-color-quarter: var(--red-quarter);
  --error-color-translucent: var(--red-translucent);
  --error-stripes: var(--red-stripes);

  --warning-color: var(--orange);
  --warning-color-half: var(--orange-half);
  --warning-color-quarter: var(--orange-quarter);
  --warning-color-translucent: var(--orange-translucent);
  --warning-stripes: var(--orange-stripes);

  --caution-color: var(--yellow);
  --caution-color-half: var(--yellow-half);
  --caution-color-quarter: var(--yellow-quarter);
  --caution-color-translucent: var(--yellow-translucent);
  --caution-stripes: var(--yellow-stripes);

  --disabled-base-color: var(--light);
  --disabled-base-color-light: var(--morelight);
  --disabled-highlight-color: var(--grey-medium);
  --disabled-color-half: var(--grey-half);
  --disabled-color-quarter: var(--grey-quarter);
  --disabled-color-translucent: var(--grey-translucent);

  // Aside
  --aside-text-color: var(--paragraph-text-color);
  --aside-text-shadow: var(--text-shadow);
  --aside-background-color: var(--canvas-color-callout-lightweight);
  --aside-border-color: var(--blue);

  // Blockquote
  --blockquote-text-color: var(--blue);
  --blockquote-text-shadow: var(--text-shadow);
  --blockquote-background-color: var(--canvas-color-callout-lightweight);
  --blockquote-border-color: var(--blue);

  // Button keys
  --button-box-shadow: 0 .1em .2em 0 rgba(50, 50, 50, 0.5);
  --button-hover-box-shadow: 0 .1em .5em 0 rgba(50, 50, 50, 0.7);
  --button-active-box-shadow: 0 .1em .1em 0 rgba(50, 50, 50, 0.5);
  --button-border-radius: var(--border-radius);
  --button-default-color: var(--darkblue);

  //--button-default-text-color: var(--button-default-color);
  --button-default-text-color: var(--hot-text-color);
  --button-hover-text-color: var(--hot-text-color);
  --button-hover-highlight-color: var(--white-half);
  --button-hover-gradient: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
  --button-hover-filter: brightness(120%);
  --button-active-gradient: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
  --button-active-filter: brightness(90%);

  --button-circle-hover-box-shadow: 0 .1em .5em 0 rgba(50, 50, 50, 0.5);
  --button-font-family: var(--default-font-family);
  --button-text-shadow: var(--text-shadow);
  --button-disabled-color: var(--disabled-base-color);
  --button-disabled-text-color: var(--disabled-highlight-color);

  // Button menu elements
  --button-menu-box-shadow: var(--panel-shadow);
  --button-menu-background-color: var(--ultralight);
  --button-menu-item-text-color: var(--button-default-color);
  --button-menu-item-text-shadow: none;
  --button-menu-item-hover-background-color: var(--button-default-color);
  --button-menu-item-hover-text-color: var(--hot-text-color);
  --button-menu-item-hover-text-shadow: var(--text-shadow);

  // Checkbox keys
  --checkbox-size: 2.4em;
  --checkbox-toggle-size: 1.6em;
  --checkbox-toggle-offset: 0.2em;
  --checkbox-switch-width: 6em;
  --checkbox-switch-height: 2.8em;
  --checkbox-switch-toggle-size: 2em;
  --checkbox-switch-offset: .2em;

  --checkbox-checked-border-color: var(--input-default-border-color);
  --checkbox-checked-background-color: var(--input-default-background-color);
  --checkbox-checked-checkmark-border-color: var(--checkbox-checked-border-color);
  --checkbox-checked-checkmark-text-color: var(--focus-color);

  --checkbox-focus-color: var(--focus-color);
  --checkbox-focus-color-translucent: var(--focus-color-translucent);
  --checkbox-border-color: var(--input-default-border-color);
  --checkbox-background-color: var(--input-default-background-color);
  --checkbox-toggle-chrome-color: var(--light);
  --checkbox-toggle-chrome-hovermark-color: var(--focus-color);
  --checkbox-toggle-background-color: var(--grey-medium);

  --checkbox-checkmark-text-color: var(--grey-darkest);
  --checkbox-checkmark-text-shadow: var(--text-shadow);

  // Code
  --code-background-color: var(--canvas-color-callout-lightweight);
  --code-text-color: var(--paragraph-text-color);
  --code-text-shadow: var(--text-shadow);
  --code-font-family: var(--fontstack-monospace);

  // Dialog keys
  --dialog-background-color: var(--ultralight);
  --dialog-border-radius: var(--border-radius);
  --dialog-box-shadow: var(--panel-shadow);
  --dialog-header-background-color: var(--grey-dark);
  --dialog-header-text-color: var(--ultralight);
  --dialog-header-text-shadow: var(--text-shadow);
  --dialog-header-border-color: var(--grey-darkest);
  --dialog-header-box-shadow: var(--interior-shadow);
  --dialog-window-mask-color: var(--white);
  --dialog-window-mask-opacity: .25;
  --dialog-actions-box-shadow: var(--interior-shadow-inverse);

  // Figure
  --figure-text-color: var(--grey-dark);
  --figure-text-shadow: var(--text-shadow);
  --figure-background-color: var(--canvas-color-secondary);

  // Form keys
  --form-background-color: transparent;
  --form-border-color: transparent;
  --form-actions-background-color: var(--morelight);
  --form-actions-border-color: var(--light);

  --form-shade-background-color: var(--white-half);
  --form-shade-border-color: var(--white-half);
  --form-shade-spinner-color: var(--blue);
  --form-shade-spinner-downcolor: var(--light);
  --form-shade-text-color: var(--blue);
  --form-shade-text-shadow: var(--text-shadow);

  // Growler keys
  --growlbox-max-width: 22em;
  --growler-core-color: var(--blue);
  --growler-max-width: 20em;
  --growler-border-radius: var(--border-radius);
  --growler-box-shadow: var(--panel-shadow);
  --growler-text-color: var(--grey-darkest);
  --growler-text-shadow: var(--text-shadow);
  --growler-default-background-color: var(--ultralight);
  --growler-default-border-color: var(--growler-core-color);
  --growler-header-text-color: var(--ultralight);
  --growler-header-text-shadow: var(--text-shadow);
  --growler-header-background-color: var(--growler-core-color);

  // Headers //--grey-meddark
  --headers-h1-text-color: var(--grey-meddark);
  --headers-h1-text-shadow: none;
  --headers-h1-text-transform: uppercase;
  --headers-h1-background-color: transparent;
  --headers-h1-border-color: var(--grey-medium);

  --headers-h2-text-color: var(--grey-meddark);
  --headers-h2-text-shadow: none;
  --headers-h2-text-transform: uppercase;
  --headers-h2-background-color: transparent;
  --headers-h2-border-color: var(--grey-medium);

  --headers-h3-text-color: var(--grey-darker);
  --headers-h3-text-shadow: none;
  --headers-h3-text-transform: uppercase;
  --headers-h3-background-color: transparent;
  --headers-h3-border-color: var(--grey-medium);

  --headers-h4-text-color: var(--grey-darker);
  --headers-h4-text-shadow: none;
  --headers-h4-text-transform: uppercase;
  --headers-h4-background-color: transparent;
  --headers-h4-border-color: var(--grey-medium);

  --headers-h5-text-color: var(--grey-darkest);
  --headers-h5-text-shadow: none;
  --headers-h5-text-transform: uppercase;
  --headers-h5-background-color: transparent;
  --headers-h5-border-color: var(--grey-medium);

  --headers-h6-text-color: var(--grey-darkest);
  --headers-h6-text-shadow: none;
  --headers-h6-text-transform: uppercase;
  --headers-h6-background-color: transparent;
  --headers-h6-border-color: var(--grey-medium);

  // Horizontal rules
  --hr-background-color: transparent;
  --hr-border-color: var(--grey-medium);

  // Input
  --input-default-padding: .5em 1em .5em 1.5em;
  --input-border-radius: .1em;

  --input-default-background-color: var(--grey-translucent);
  --input-default-border-color: var(--standard-color);
  --input-default-text-color: var(--grey-darker);
  --input-default-text-shadow: none;
  --input-default-placeholder-color: var(--placeholder-color);

  --input-disabled-background-color: var(--disabled-base-color);
  --input-disabled-border-color: var(--disabled-highlight-color);
  --input-disabled-text-color: var(--disabled-highlight-color);
  --input-disabled-placeholder-color: var(--disabled-highlight-color);

  --input-focused-border-color: var(--focus-color);
  --input-focused-background-color: var(--focus-color-translucent);

  --input-mute-background-color: var(--grey-translucent);
  --input-mute-disabled-background-color: var(--light);
  --input-mute-focus-background-color: var(--grey-quarter);

  --input-subline-text-color: var(--grey-medium);
  --input-subline-warning-text-color: var(--warning-color);
  --input-subline-error-text-color: var(--error-color);

  --input-messages-background-color: transparent;
  --input-messages-text-color: var(--grey-darkest);
  --input-messages-warning-text-color: var(--grey-darkest);
  --input-messages-error-text-color: var(--error-color);

  --input-status-default-background-color: var(--grey-dark);
  --input-status-icon-color: var(--morelight);
  --input-status-icon-text-shadow: var(--text-shadow);
  --input-status-warning-background-color: var(--warning-color);
  --input-status-warning-icon-color: var(--input-status-icon-color);
  --input-status-warning-icon-text-shadow: var(--input-status-icon-text-shadow);
  --input-status-error-background-color: var(--error-color);
  --input-status-error-icon-color: var(--input-status-icon-color);
  --input-status-error-icon-text-shadow: var(--input-status-icon-text-shadow);
  --input-status-valid-background-color: transparent;
  --input-status-valid-icon-color: var(--success-color-half);
  --input-status-valid-icon-text-shadow: none;
  --input-status-active-background-color: var(--focus-color);
  --input-status-active-icon-color: var(--input-status-icon-color);
  --input-status-active-icon-text-shadow: var(--input-status-icon-text-shadow);

  --input-passivebox-background-color: transparent;
  --input-passivebox-text-color: var(--grey-dark);
  --input-passivebox-text-shadow: var(--text-shadow);

  // Instruction box keys
  --instructions-background-color: var(--morelight);
  --instructions-border-color: var(--light);
  --instructions-text-color: var(--grey-darkest);
  --instructions-text-shadow: var(--text-shadow);
  --instructions-icon-text-shadow: none;
  --instructions-icon-color: var(--grey-medium);

  // Labels
  --label-color: var(--darkblue);
  --label-text-shadow: var(--text-shadow);
  --label-required-marker-color: var(--required-color);
  --label-text-transform: none;

  // Links
  --link-link-color: var(--focus-color);
  --link-active-color: var(--focus-color);
  --link-hover-color: var(--focus-color);
  --link-visited-color: var(--focus-color);
  --link-color: var(--focus-color);
  --link-text-shadow: var(--on-white-text-shadow);


  // Panels
  --panel-max-width: 22em;
  --panel-border-radius: var(--border-radius);
  --panel-background-color: var(--canvas-color-secondary);
  --panel-box-shadow: var(--panel-shadow);
  --panel-text-color: var(--grey-darkest);
  --panel-text-shadow: var(--text-shadow);
  --panel-padding: .5em 1em .5em 1em;
  --panel-closed-hover-background-color: var(--focus-color);
  --panel-closed-hover-text-color: var(--hot-text-color);

  // Paragraph
  --paragraph-text-color: var(--grey-dark);
  --paragraph-measure: auto;
  --paragraph-shadow: var(--text-shadow);
  --paragraph-font-family: var(--fontstack-sansserif);

  // Progressmeter
  --progressmeter-simple-background-color: var(--ultralight);
  --progressmeter-simple-background-image: var(--darker-grey-stripes);
  --progressmeter-simple-border-color: var(--grey-light);
  --progressmeter-simple-marker-color: var(--blue);
  --progressmeter-simple-progress-background-color: var(--blue-half);
  --progressmeter-simple-progress-box-shadow: .2em 0 .5em -.1em rgba(0, 0, 0, 0.2);
  --progressmeter-simple-progress-background-image: var(--blue-stripes);
  --progressmeter-simple-decal-text-color: var(--grey-dark);
  --progressmeter-simple-decal-text-shadow: var(--text-shadow-heavy);

  --progressmeter-radial-background-color: transparent;
  --progressmeter-radial-stroke-color: var(--darkblue);
  --progressmeter-radial-gutter-color: var(--blue-quarter);
  --progressmeter-radial-decal-text-color: var(--grey-dark);
  --progressmeter-radial-decal-text-shadow: var(--text-shadow-heavy);
  --progressmeter-radial-tick-color: var(--hot-text-color);

  // Sup
  --sup-text-color: var(--paragraph-text-color);
  --sup-text-shadow: var(--paragraph-text-shadow);

  // Radios inherit a lot from --checkbox-
  --radio-size: 2.2em;
  --radio-toggle-size: 1.25em;
  --radio-toggle-offset: 0.3em;
  --radio-element-label-color: var(--grey-darker);
  --radio-element-label-text-shadow: var(--text-shadow);

  // Results box keys
  --resultsbox-margin: 0;
  --resultsbox-background-color: var(--ultralight);
  --resultsbox-icon-color: var(--ultralight);
  --resultsbox-icon-tex-shadow: var(--text-shadow);
  --resultsbox-default-text-color: var(--grey-darkest);
  --resultsbox-text-shadow: var(--text-shadow);
  --resultsbox-header-text-color: var(--ultralight);
  --resultsbox-header-text-shadow: var(--text-shadow);
  --resultsbox-success-color-base: var(--success-color);
  --resultsbox-error-color-base: var(--error-color);
  --resultsbox-warning-color-base: var(--warning-color);
  --resultsbox-success-stripes: var(--success-stripes);
  --resultsbox-error-stripes: var(--error-stripes);
  --resultsbox-warning-stripes: var(--warning-stripes);

  // Select menu inputs
  --selectmenu-menu-background-color: var(--ultralight);
  --selectmenu-menu-alternate-background-color: var(--grey-translucent);
  --selectmenu-menu-item-hover-background-color: var(--focus-color);
  --selectmenu-menu-item-hover-text-color: var(--hot-text-color);
  --selectmenu-menu-item-hover-text-shadow: var(--text-shadow);

  // TabBars
  --tabbar-box-shadow: var(--panel-shadow-light);
  --tabbar-background-color: var(--ultralight);
  --tabbar-interior-box-shadow: var(--interior-shadows-inside);
  --tabbar-border-radius: var(--border-radius);

  --tabbar-tab-box-shadow: none;
  --tabbar-tab-text-color: var(--grey-dark);
  --tabbar-tab-background-color: var(--ultralight);
  --tabbar-tab-text-shadow: none;

  --tabbar-selected-tab-background-color: var(--ultralight);
  --tabbar-selected-tab-highlight-color: var(--focus-color);
  --tabbar-selected-tab-text-color: var(--focus-color);
  --tabbar-selected-tab-text-shadow: none;

  --tabbar-hover-tab-background-color: var(--focus-color);
  --tabbar-hover-tab-highlight-color: var(--focus-color);
  --tabbar-hover-tab-text-color: var(--ultralight);
  --tabbar-hover-tab-text-shadow: var(--text-shadow);

  --tabbar-collapsed-height: 3.5em;
  --tabbar-collapsed-background-color: var(--tabbar-background-color);
  --tabbar-collapsed-open-background-color: var(--bright);
  --tabbar-collapsed-button-color: var(--tabbar-selected-tab-highlight-color);
  --tabbar-collapsed-open-menu-color: var(--tabbar-background-color);
  --tabbar-collapsed-title-color: var(--grey-meddark);

  // Tooltip
  --tooltip-border-radius: var(--border-radius);
  --tooltip-background-color: var(--grey-darkest);
  --tooltip-text-color: var(--ultralight);
  --tooltip-text-shadow: var(--text-shadow);
  --tooltip-box-shadow: var(--panel-shadow);
}
