div.column-configurator {
  padding: 2rem;
  ul.column-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    > li {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-bottom: 1rem;
      div.checkbox {
        margin: 0;
      }
      div.description {
        padding: .5rem 1rem .5rem 3rem;
        font-size: .8em;
      }
    }
  }
}