div.datagrid-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: visible;
  padding: 0;
  background-color: var(--canvas-color-primary);
  h3 {
    --panel-text-color: var(--colors-standard);
    background-color: var(--canvas-color-secondary);
  }
  div.grid-info,
  div.grid-filterinfo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 0 1rem;
    justify-content: flex-end;
    opacity: 1;
    transition: height, max-height, min-height, opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }
  div.grid-info {
    z-index: 900;
    flex-grow: 1;
    height: 3rem;
    min-height: 3rem;
    align-content: flex-end;
    div.countbox {
      margin-right: auto;
      white-space: nowrap;
      padding-right: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      label {
        display: inline-block;
        margin: 0 .5rem 0 0;
      }
      div.activity {
        margin-left: .5rem;
        color: var(--focus-color-half);
        > span.icon {
          display: inline-block;
          animation: cfb-localspin 2s infinite linear;
        }
        &[aria-hidden=true] {
          display: none;
        }
      }
    }
    div.searchcontrol {

    }
    button:last-child {
      margin-right: 0;
    }
    @include for-phone-only {
      flex-wrap: wrap;
      height: unset;
      min-height: unset;
      padding: .5rem 0;
      div.searchcontrol {
        order: -1;
        margin-bottom: .5rem;
        margin-left: 0;
        align-self: center;
        input {
          width: auto;
          border-radius: var(--border-radius) 0 0 var(--border-radius);
          padding: var(--input-default-padding);
          background-color: var(--canvas-color-secondary);
        }
        button {
          --button-border-color: var(--colors-affordance);
          box-shadow: inset -.1em -.1em 0 0 var(--colors-affordance), inset .1em -.1em 0 0 var(--colors-affordance), inset -.1em .1em 0 0 var(--colors-affordance), inset .1em .1em 0 0 var(--colors-affordance);
          border-radius: 0 var(--border-radius) var(--border-radius) 0;
          padding-left: .5rem;
          padding-right: .5rem;
        }
      }
      button {
        margin: 0;
        padding: .6rem;
        &.filter {
          span.icon {
            margin: 0;
          }
          span.text {
            display: none;
          }
        }
      }
    }
  }
  div.grid-filterinfo {
    display: none;
    background-color: var(--canvas-color-secondary);
    label {
      margin: 0 .5rem 0 0;
    }
    div.grid-filtertags {
      flex-grow: 2;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: flex-start;
      justify-content: flex-start;
      button.tagbutton {
        margin: .5rem;
      }
    }
    &[aria-expanded='true'] {
      display: flex;
    }
  }
  div.grid-wrapper {
    overflow: auto;
    position: relative;
    width: 100%;
    max-height: 30rem;
    height: auto;
    flex-grow: 2;
    transition: height, max-height, min-height;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    table.grid {
      opacity: 1;
      transition: opacity .4s ease-in-out;
    }
    &.shaded {
      overflow: hidden;
      table.grid {
        filter: blur(3px);
      }
    }
  }
  table.grid {
    width: 100%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    position: relative;
    z-index: 800;
    > thead {
      tr {
        th {
          cursor: pointer;
          padding: 0;
          color: var(--colors-standard);
          background-color: var(--canvas-color-tertiary);
          text-align: left;
          font-weight: normal;
          position: sticky;
          vertical-align: top;
          top: 0;
          z-index: 105;
          div.th {
            padding: .75em 1.5em .75em 1em;
            position: relative;
            white-space:nowrap;
            &:before {
              position: absolute;
              right: .5em;
              margin: 0;
              flex-direction: column;
              font-size: .7em;
              justify-content: center;
              align-items: center;
              transition: all .2s;
              color: var(--colors-standard);
              opacity: 0;
            }
          }
          &:focus,
          &:active,
          &.focus,
          &.active {
            color: var(--colors-affordance);
            text-shadow: var(--text-shadow);
            background-color: var(--canvas-color-secondary);
            outline: none;
          }
          @include for-hover-only {
            &:hover {
              outline: none;
              text-decoration: underline;
              &:not(.mechanical) {
                color: var(--colors-text-hot);
                text-shadow: var(--text-shadow);
                background-color: var(--colors-affordance);
                div.th {
                  &:before {
                    color: var(--colors-text-hot);
                  }
                }
              }
            }
          }
          &:active,
          &.active {
            text-decoration: none;
            box-shadow: none;
          }
          &:focus,
          &.focus {
            outline: var(--colors-text-hot) dashed .1em;
            outline-offset: -.3em;
            text-decoration: underline double;
          }
          &.mechanical {

            z-index: 106;
          }
          &[data-sort='asc'],
          &[data-sort='desc']{
            div.th {
              box-shadow: inset 0 -.2em 0 0 var(--colors-focus);
              &:before {
                opacity: 1;
              }
            }
            @include for-hover-only {
              &:hover {
                div.th {
                  box-shadow: none;
                }
              }
            }

          }
          &[data-sort='desc'] {
            div.th {
              &:before {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
    > tbody {
      background-color: var(--canvas-color-primary);
      tr {
        color: var(--colors-standard);
        //transition: background-color 1s;
        box-shadow: inset 0 -.05em 0 0 var(--canvas-color-tertiary), inset 0 .05em 0 0 var(--canvas-color-tertiary);
        td {
          padding: 1rem;
          white-space: nowrap;
          button {
            background-color: transparent;
            @include for-hover-only {
              &:hover {
                background-image: none;
                box-shadow: none;
              }
            }
            &.menu {
              &[aria-expanded=true] {
                --button-border-color: var(--colors-affordance);
                --button-default-color: var(--colors-affordance);
                --button-default-text-color: var(--colors-affordance);
                opacity: 1;
                background-image: none;
                box-shadow: inset -.1em -.1em 0 0 var(--button-border-color), inset .1em -.1em 0 0 var(--button-border-color), inset -.1em .1em 0 0 var(--button-border-color), inset .1em .1em 0 0 var(--button-border-color);
              }
            }
          }
          &.code {
            font-family: var(--fontstack-monospace);
            color: var(--colors-highlight);
            text-shadow: var(--text-shadow);
            white-space: nowrap;
          }
          &.italic {
            font-style: oblique;
          }
          &.smaller {
            font-size: .8em;
          }
          &.mechanical {
            background-color: var(--canvas-color-secondary);
            z-index: 102;
            opacity: 1;
            box-shadow: inset 0 -.05em 0 0 var(--canvas-color-tertiary), inset 0 .05em 0 0 var(--canvas-color-tertiary);
          }
        }
        &:nth-child(even) {
          background-color: rgba(var(--canvas-color-secondary-rgb), .8);
        }
        &.hidden,
        &.filtered,
        &[data-search-hidden=true] {
          display: none;
        }
        &[data-matched-filters] {
          &[data-search-hidden=true] {
            display: none;
          }
        }
        &:focus-within {
          button {
            box-shadow: none;
            background-color: transparent;
          }
        }
        &.updated {
          animation: cfb-row-update 8s;
        }
      }
    }
    th,
    td {
      &.hidden {
        display: none;
      }
      &.duplicate {
        opacity: .2;
      }
      &.resize {
        resize: horizontal;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.nowrap {
        white-space: nowrap;
      }
      &.right,
      &.number,
      &.time {
        text-align: right;
        > div {
          padding: .75rem 1rem .75rem 1.5rem;
          &:before {
            right: unset;
            left: 0.5rem;
          }
        }
      }
      &.imageurl {
        text-align: center;
        padding: 0;
        vertical-align: middle;
        a {
          height: 2em;
          min-height: 2em;
          img {
            height: 2em;
          }
        }
      }
      &.center {
        text-align: center;
      }
      &.mechanical {
        transition: width .2s;
        resize: none;
        position: sticky;
        min-width: 1em;
        text-align: center;
        left: 0;
        &.selector {
          overflow: hidden;
          text-align: center;
          vertical-align: middle;
          width: 0;
          max-width: 0;
          padding: 0;
          --checkbox-size: 1.5em;
          --checkbox-font-size: 1.5em;
          input {
            display: none;
          }
        }
        &.actions {
          padding: 0;
          button {
            width: 100%;
            height: 100%;
            font-size: 1em;
            opacity: .5;
            margin: 0;
            &:focus {
              opacity: 1;
              box-shadow: none;
              background-color: transparent;
            }
            @include for-hover-only {
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &.multiselecting {
      th,
      td {
        &.selector {
          padding: 0 1rem 0 1rem;
          width: auto;
          max-width: unset;
          display: table-cell;
          input {
            display: inline-block;
          }
        }
        &.actions {
          width: 0;
          max-width: 0;
          padding: 0;
          button {
            display: none;
          }
        }
      }
    }
    &.selectable {
      tbody {
        tr {
          cursor: pointer;
          @include for-hover-only {
            &:hover {
              background-color: rgba(var(--colors-affordance-rgb), .5);
              color: var(--colors-text-hot);
              text-shadow: var(--text-shadow);
              > td {
                opacity: 1;
                box-shadow: none;
                &.mechanical {
                  background-color: var(--colors-affordance);
                  input[type='checkbox'] {
                    --checkbox-checked-checkmark-hover-text-color: var(--colors-text-hot);
                    --checkbox-checked-checkmark-text-color: var(--colors-text-hot);
                    --checkbox-checkmark-text-color: var(--colors-text-hot);
                    border-color: var(--colors-text-hot);
                  }
                  button {
                    color: var(--colors-text-hot);
                  }
                }
              }
            }
          }
          &:focus,
          &:focus-within {
            background-color: rgba(var(--colors-affordance-rgb), .5);
            color: var(--colors-text-hot);
            text-shadow: var(--text-shadow);
            outline: var(--colors-text-hot) dashed .1rem;
            outline-offset: -.3em;
            > td {
              opacity: 1;
              &.mechanical {
                background-color: var(--colors-affordance);
                outline: var(--colors-text-hot) dashed .1rem;
                outline-offset: -.3em;
              }
            }
          }
          &[aria-selected=true] {
            background-color: var(--colors-focus);
            color: var(--colors-text-hot);
            > td {
              opacity: 1;
              &.mechanical {
                background-color: var(--colors-focus);
                button {
                  color: var(--colors-text-hot);
                  opacity: 1;
                }
              }
            }
            &:focus {
              background-color: var(--colors-focus);
              outline: var(--colors-text-hot) dashed .1rem;
            }
            @include for-hover-only {
              &:hover {
                background-color: var(--colors-affordance);
                color: var(--colors-text-hot);
                text-shadow: var(--text-shadow);
                > td {
                  opacity: 1;
                  box-shadow: none;
                  &.mechanical {
                    background-color: var(--colors-affordance);
                  }
                }
              }
            }
          }
        }
      }
    }
    &.schoriz {
      td.mechanical,
      th.mechanical {
        box-shadow: .1rem 0 .1rem -.05rem rgba(0, 0, 0, 0.5);
      }
    }
    &.scvert {
      thead {
        tr.header {
          th {
            box-shadow: inset 0 -.1rem 0 0 rgba(0, 0, 0, 0.5);
          }
        }
      }
      &.schoriz {
        th.mechanical {
          box-shadow: .1rem 0 .1rem -.05rem rgba(0, 0, 0, 0.5), inset 0 -.1rem 0 0 rgba(0, 0, 0, 0.5);

        }
      }
    }
  }
  div.messages {
    &.hidden {
      display: none;
    }
    div.messagebox2 { // XXX FIX
      div.box.warnings {
        --color-base: var(--datagrid-messagebox-color-base);
        --stripe-base: var(--datagrid-messagebox-stripes-base);
        h4 {
          display: none;
          background-color: transparent;
          color: var(--color-base);
        }
        div.lbox {
          border-color: transparent;
        }
      }
    }
  }
  &[aria-expanded=false] {
    div.grid-info,
    div.grid-actions,
    div.grid-filterinfo {
      max-height: 0;
      min-height: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
    div.grid-wrapper {
      max-height: 0;
      min-height: 0;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      table.grid {
        opacity: 0;
      }
    }
  }
}

@keyframes cfb-row-update {
  0% { background-color: var(--canvas-color-primary); }
  10% { background-color: var(--canvas-color-highlight); }
  80% { background-color: var(--canvas-color-highlight); }
  100% { background-color: var(--canvas-color-primary); }
}
