div.datalist-container {
  --header-background-color: var(--canvas-color-secondary);
  --list-header-color: var(--colors-affordance);
  --icon-size: 3rem;
  --thumbnail-size: 5rem;
  overflow: hidden;
  max-height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  >div.listheader {
    position: sticky;
    z-index: 202;
    top: 0;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem .5rem 0 .5rem;
    background-color: var(--header-background-color);
    box-shadow: 0 .3em .5em -.3em rgba(0, 0, 0, 0.5);
    >div {
      border-bottom-color: var(--canvas-color-tertiary);
      margin: 0;
      padding: .2rem .5rem;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      >label {
        margin: 0;
        font-size: .6rem;
        cursor: pointer;
      }
    }
    >div.space {
      width: var(--icon-size);
      border-bottom-color: transparent;
    }
    >div.iconspace {
      width: 2rem;
      border-bottom-color: transparent;
    }
    >div.thumbspace {
      width: var(--thumbnail-size);
      border-bottom-color: transparent;
    }
    >div.label {
      //border: .1rem solid transparent;
      box-shadow: inset 0 0 0 0 var(--colors-affordance);
      transition: box-shadow .5s;
      >label {
        color: var(--list-header-color);
      }
      &.user,
      &.text,
      &.name,
      &.displayname,
      &.subject,
      &.title {
        justify-content: flex-start;
        flex-grow: 2;
      }
      @include for-hover-only {
        &:hover {
          box-shadow: inset 0 -.2em 0 0 var(--colors-hightlight);
        }
      }
      &[data-sorted='asc'],
      &[data-sorted='desc']{
        box-shadow: inset 0 -.1em 0 0 var(--colors-focus);
        @include for-hover-only {
          &:hover {
            box-shadow: inset 0 -.2em 0 0 var(--colors-affordance);
          }
        }
      }
    }
  }
  >ul.datalist {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    z-index: 200;
    flex-grow: 2;
    //background-color: var(--canvas-color-secondary);
    >li {
      border-top: .01rem solid var(--canvas-color-tertiary);
      border-bottom: .01rem solid var(--canvas-color-secondary);
      //background-color: rgba(var(--canvas-color-primary-rgb), .5);
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      align-items: flex-start;
      padding:.5rem;
      margin: 0;
      z-index: 200;
      transition: box-shadow .5s,
      background-image .5s;
      background-image: var(--stripe-accent-null);
      box-shadow: 0 -.3em .5em -.3em rgba(0, 0, 0, 0),
      0 .3em .5em -.3em rgba(0, 0, 0, 0);
      &.clickable {
        cursor: pointer;
      }
      &:first-child {
        margin-top: 0;
      }
      div.type {
        width: var(--image-size);
      }
      &.iconspace {
        width: 2rem;
      }
      >button,
      a.button {
        margin: 0 .5rem;
      }
      >div.thumbnail {
        margin: 0;
        width: var(--thumbnail-size);
        min-width: var(--thumbnail-size);
        height: var(--thumbnail-size);
        min-height: var(--thumbnail-size);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: .1rem;
        &.hero {
          background-position: center center;
        }
        &.logo {
          background-size: contain;
          background-position: center center;
          border-radius: 0;
        }
      }
      >div.details,
      >div.column {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: stretch;
        justify-content: flex-start;
        flex-grow: 1;
        margin: 0 0.5rem;
        >div.topline,
        >div.payload,
        >div.meta {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: baseline;
          align-content: baseline;
          >label.entitytype {
            font-size: .8rem;
            margin: 0 .5rem 0 0;
            color: var(--colors-text-hot);
          }
        }
        >div.meta {
          font-size: .8rem;
        }
        >div.topline {
          label {
            font-weight: 100;
            margin: 0;
            display: inline-block;
            &.name {
              font-size: 1.2rem;
            }
          }
        }
        >div.payload {

        }
        label {
          margin: 0;
          display: inline-block;
        }
        div.joindate,
        div.createdate {
          >label {
            margin-right: .5rem;
          }
        }
        a.name,
        span.subject {
          font-size: 1.2rem;
          font-weight: 400;
        }
        span.secondary {
          display: flex;
          flex-direction: row;
          align-content: stretch;
          align-items: stretch;
          justify-content: space-evenly;
          font-size: .9rem;
        }
        span.date {
          font-size: .9rem;
          font-style: oblique;
          text-align: right;
        }
      }
      >div.actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-end;
        justify-content: space-between;
        button,
        a.button {
          font-size: .8rem;
          margin-bottom: .5rem;
          //opacity: 0.7;
          box-shadow: none;
          &:last-child {
            margin-bottom: 0;
          }
          @include for-hover-only {
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      &:focus {
        outline: var(--colors-text-default) dashed .1rem;
        outline-offset: -.2rem;
        text-decoration: underline double;
      }
      &[aria-selected="true"] {
        box-shadow: inset .5em 0 0 0 rgb(var(--colors-focus-rgb));
        button.activebutton,
        a.button.activebutton {
          display: none;
        }
      }
      @include for-hover-only {
        &:hover {
          outline: none;
          z-index: 201;
        }
      }
      &.noentriestext {
        >div.noentries {
          margin: 0;
          font-size: 2rem;
          opacity: .5;
          font-style: oblique;
        }
        @include for-hover-only {
          &:hover {
            outline: none;
            background-image: none;
            background-color: transparent;
          }
        }
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      /* offset-x | offset-y | blur-radius | spread-radius | color */
      box-shadow: inset 0 -.3em .5em -.3em rgba(0, 0, 0, 0.5);
    }
  }
  &.scrolled {
    >div.listheader{
      box-shadow: 0 .5em .5em -.3em rgba(0, 0, 0, 0.7);
    }
  }
}
