div.datalist-container {
  --list-header-color: var(--colors-affordance);
  --icon-size: 3rem;
  --avatar-size: 4rem;
  --thumbnail-size: 5rem;
  overflow: hidden;
  max-height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  >div.datainfo {
    div.searchcontrol {
      margin: 0 1rem;
    }
  }
  >div.tablewrapper >table >thead >tr.listheader {
    >th {
      padding: 0 .5rem;
    }
  }


  >div.listheader,
  >div.tablewrapper >table >thead >tr.listheader {
    position: relative;
    z-index: 203;
    background-color: var(--canvas-color-tertiary);
    box-shadow: var(--shadows-smooth-dn-small);
    >div.label {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
    }
    >div.label,
    >th.label {
      margin: 0;
      padding: .2rem .5rem;
      text-align: left;
      cursor: pointer;
      box-shadow: inset 0 0 0 0 var(--colors-affordance);
      transition: box-shadow .5s;
      >label {
        margin: 0;
        font-size: .7rem;
        cursor: pointer;
        color: var(--list-header-color);
      }
      &.center {
        text-align: center;
        >label {
          justify-content: center;
        }
      }
      &.right {
        text-align: right;
        >label {
          justify-content: flex-end;
        }
      }
      &[data-column="name"],
      &[data-column="label"],
      &[data-column="displayname"],
      &[data-column="subject"],
      &[data-column="title"],
      &[data-column="text"] {
        justify-self: flex-start;
        margin-right: auto;
        flex-grow: 2;
      }
      @include for-hover-only {
        &:hover {
          background-color: var(--canvas-color-highlight);
          box-shadow: inset 0 -.2rem 0 0 var(--colors-highlight);
        }
      }
      &[data-sorted='asc'],
      &[data-sorted='desc']{
        box-shadow: inset 0 -.1em 0 0 var(--colors-focus);
        @include for-hover-only {
          &:hover {
            box-shadow: inset 0 -.2em 0 0 var(--colors-affordance);
          }
        }
      }
    }
  }
  >div.listheader {
    position: relative;
    z-index: 203;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: stretch;
    padding: 0 .5rem;
    background-color: var(--canvas-color-tertiary);
    box-shadow: var(--shadows-smooth-dn-small);
    >div.spacer {
      justify-self: flex-start;
      margin-right: auto;
      &.size-thumbnail {
        width: var(--thumbnail-size);
      }
      &.size-icon {
        width: var(--icon-size);
      }
      &.size-avatar {
        width: var(--avatar-size);
      }
    }
    >div.label {
      margin: 0;
      padding: .2rem .5rem;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      box-shadow: inset 0 0 0 0 var(--colors-affordance);
      transition: box-shadow .5s;
      >label {
        margin: 0;
        font-size: .7rem;
        cursor: pointer;
        color: var(--list-header-color);
      }
      &[data-column="name"],
      &[data-column="label"],
      &[data-column="displayname"],
      &[data-column="subject"],
      &[data-column="title"],
      &[data-column="text"] {
        justify-self: flex-start;
        margin-right: auto;
        flex-grow: 2;
      }
      @include for-hover-only {
        &:hover {
          background-color: var(--canvas-color-highlight);
          box-shadow: inset 0 -.2rem 0 0 var(--colors-highlight);
        }
      }
      &[data-sorted='asc'],
      &[data-sorted='desc']{
        box-shadow: inset 0 -.1rem 0 0 var(--colors-focus);
        @include for-hover-only {
          &:hover {
            box-shadow: inset 0 -.2rem 0 0 var(--colors-affordance);
          }
        }
      }
    }
  }
  >div.tablewrapper {
    overflow: auto;
    position: relative;
    width: 100%;
    height: auto;
    flex-grow: 2;
    >table {
      border-spacing: 0;
      width: 100%;
      >thead {
        z-index: 250;
        >tr {
          >th {
            position: sticky;
            top: 0;
            z-index: 255;
            background-color: var(--canvas-color-tertiary);
            div.th {
              position: relative;
              white-space:nowrap;
              &:before {
                position: absolute;
                right: .5em;
                margin: 0;
                flex-direction: column;
                font-size: .7em;
                justify-content: center;
                align-items: center;
                transition: all .2s;
                color: var(--colors-standard);
                opacity: 0;
              }
            }
            &:focus,
            &:active,
            &.focus,
            &.active {
              color: var(--colors-affordance);
              text-shadow: var(--text-shadow);
              background-color: var(--canvas-color-secondary);
              outline: none;
            }
            &.mechanical {
              pointer-events: none;
            }
            @include for-hover-only {
              &:hover {
                outline: none;
                text-decoration: underline;
                &:not(.mechanical) {
                  color: var(--colors-text-hot);
                  text-shadow: var(--text-shadow);
                  background-color: var(--colors-affordance);
                  div.th {
                    &:before {
                      color: var(--colors-text-hot);
                    }
                  }
                }
              }
            }
            &:active,
            &.active {
              text-decoration: none;
              box-shadow: none;
            }
            &:focus,
            &.focus {
              outline: var(--colors-text-hot) dashed .1em;
              outline-offset: -.3em;
              text-decoration: underline double;
            }
            &.mechanical {
              z-index: 500;
            }
            &[data-sort='asc'],
            &[data-sort='desc']{
              div.th {
                box-shadow: inset 0 -.2em 0 0 var(--colors-focus);
                &:before {
                  opacity: 1;
                }
              }
              @include for-hover-only {
                &:hover {
                  div.th {
                    box-shadow: none;
                  }
                }
              }

            }
            &[data-sort='desc'] {
              div.th {
                &:before {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
    }
  }
  >ul.datalist,
  >div.tablewrapper >table >tbody.datalist {
    position: relative;
    z-index: 200;
    list-style-type: none;
    padding: 0;
    overflow: auto;
    flex-grow: 2;
    >li {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      align-items: stretch;
      padding:.5rem;
    }
    >li,
    >tr {
      --hover-side-shadow-color: var(--colors-affordance);
      --hover-side-shadow: inset .4rem 0 0 0 var(--hover-side-shadow-color);
      --hover-side-shadow-null: inset 0 0 0 0 var(--hover-side-shadow-color);
      --hover-shadow: var(--shadows-smooth-up), var(--shadows-smooth-dn), var(--hover-side-shadow);
      position: relative;
      z-index: 201;
      margin: 0;
      transition: box-shadow .5s,
      background-color .5s;
      box-shadow: var(--hover-shadow-null);
      &.clickable {
        cursor: pointer;
      }
      &:first-child {
        margin-top: 0;
      }
      >td {
        padding:.5rem;
        &.center {
          text-align: center;
        }
        &.right {
          text-align: right;
        }
      }
      >div.thumbnail {
        align-self: center;
        margin: 0;
        width: var(--thumbnail-size);
        min-width: var(--thumbnail-size);
        height: var(--thumbnail-size);
        min-height: var(--thumbnail-size);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: .1rem;
        &.hero {
          background-position: center center;
        }
        &.icon {
          width: var(--icon-size);
          min-width: var(--icon-size);
          height: var(--icon-size);
          min-height: var(--icon-size);
        }
        &.logo {
          background-size: contain;
          background-position: center center;
          border-radius: 0;
        }
        &.avatar {
          margin: 0;
          width: var(--avatar-size);
          min-width: var(--avatar-size);
          height: var(--avatar-size);
          min-height: var(--avatar-size);
          background-size: cover;
          border-radius: 50%;
        }
      }
      >div.column { }
      >div.actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        flex-grow: 0;
        min-width: 15rem;
        >button,
        >a.button {
          margin: 0;
          margin-bottom: .5rem;
          font-size: .8rem;
          box-shadow: none;
          &:last-child { margin-bottom: 0; }
          @include for-hover-only {
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      &:focus {
        z-index: 202;
        outline: rgba(var(--colors-affordance-rgb), 0.5) dashed .15rem;
        outline-offset: -.3rem;
        background-color: var(--canvas-color-primary);
        box-shadow: var(--hover-shadow);
        a,
        button {
          text-decoration: underline double;
        }
        &:last-child {
          box-shadow: var(--hover-shadow-last);
        }
      }
      &[aria-selected="true"] {
        --hover-side-shadow-color: var(--colors-focus);
        box-shadow: var(--hover-side-shadow);
      }
      @include for-hover-only {
        &:hover {
          outline: none;
          background-color: var(--canvas-color-primary);
          z-index: 202;
          box-shadow: var(--hover-shadow);
        }
      }
      &.noentriestext {
        >div.noentries {
          margin: 0;
          font-size: 2rem;
          opacity: .5;
          font-style: oblique;
        }
        @include for-hover-only {
          &:hover {
            outline: none;
            z-index: 202;
            background-image: none;
            background-color: transparent;
          }
        }
      }
      &.hidden,
      &.filtered,
      &[data-search-hidden=true] {
        display: none;
      }
      &[data-matched-filters] {
        &[data-search-hidden=true] {
          display: none;
        }
      }
    }
    &.hidden {
      display: none;
    }
  }
  >div.footer {
    box-shadow: var(--shadows-smooth-up-small);
  }
  th,
  td {
    text-align: left;
    &.center {
      text-align: center;
    }
    &.right {
      text-align: right;
    }
  }
  &.scrolled {
    >div.listheader {
      box-shadow: 0 .5em .5em -.3em rgba(0, 0, 0, 0.7);
    }
  }
}

div.column {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0 0.5rem;
  >label {
    margin: 0;
    &[data-target="none"] {
      color: var(--colors-text-default);
    }
  }
  >div { // These end up being rows
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    align-content: baseline;
    >* { // Columns per row
      margin: 0 .5rem;
      >label { // secondary labels, not primary labels
        font-size: .6rem;
        margin: 0 .2rem 0 0;
        color: var(--colors-highlight);
        display: inline-block;
      }
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        justify-self: flex-start;
        margin-right: auto;
        margin-left: 0;
      }
    }
  }
  // Datatype styles
  [data-column="filesize"],
  [data-column="dimensions"] {
    font-size: .9rem;
  }
  [data-column="name"],
  [data-column="subject"],
  [data-column="label"],
  [data-column="subject"] {
    font-size: 1.2rem;
    font-weight: 400;
  }
  [data-column="createdate"],
  [data-column="updatedate"],
  [data-column="date"] {
    font-size: .9rem;
  }
}
