div.filter-configurator {
  padding: 2rem;
  ul.filter-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    > li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      div.primeselector {
        margin-left: 0;
        cursor: pointer;
      }
      div.comparator {
        cursor: pointer;
      }
      div.valueinput {
      }
      div.validmarker {
        opacity: 0;
        background-color: transparent;
        text-align: center;
        vertical-align: middle;
        line-height: 1em;
        font-size: 20pt;
        text-shadow: var(--text-shadow);
        color: var(--colors-success);
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        > span.icon {
          &:before {
            margin: 0;
          }
        }
      }
      button.filterkiller {
        margin-right: 0;
      }
      &[data-valid='true'] {
        div.validmarker {
          opacity: 1;
        }
      }
      @include for-phone-only {
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        div.primeselector,
        div.comparator,
        div.valueinput {
          margin-left: 0;
          min-width: 75%;
        }
        div.comparator {
          margin-top: .5rem;
          margin-bottom: .5rem;
        }
        div.valueinput {
          margin-right: 0;
        }
        div.validmarker {
          width: 0;
        }
        button.filterkiller {
          margin: 0;
        }
        &[data-valid='true'] {
          div.validmarker {
            opacity: 1;
            width: auto;
          }
        }
      }
    }
  }
  div.filter-actions {
    display: flex;
    flex-direction: row;
    button:first-child {
      margin-left: 0;
    }
  }
}