div.chart-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-content: stretch;
  >div.topbar {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    >label {
      margin: 0;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
  >div.c {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    >div.yaxis {
      flex-grow: 0;
      width: 1.5rem;
      display: block;
      position: relative;
      >label {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        font-size: .8rem;
        text-transform: uppercase;
        transform: rotate(90deg);
        transform-origin: bottom left;
        white-space: nowrap;
      }
    }
    >svg {
      flex-grow: 2;
    }
  }
  >div.xaxis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    >label {
      margin: 0;
      font-size: .8rem;
      text-transform: uppercase;
    }
  }
  svg {
    .bar {
      fill: var(--chart-bar-fillcolor);
      transition: fill .2s;
      @include for-hover-only {
        &:hover {
          fill: var(--chart-bar-overcolor);
        }
      }
    }
    .axis--x path {
      display: none;
    }
    .axis {
      line {
        stroke: var(--grey-dark);
        stroke-width: 0.5;
        shape-rendering: crispEdges;
      }
      path {
        stroke: var(--grey-dark);
        stroke-width: 0.7;
        shape-rendering: crispEdges;
      }
      text {
        fill: var(--grey-darker);
        //fill: var(--colors-standard);
        font-family: Georgia;
        font-family: var(--default-font-family);
        text-transform: uppercase;
        font-size: 120%;
      }
    }
    path.chart-line {
      fill: none;
      stroke: var(--red);
      stroke-dasharray: 6;
      stroke-width: 2;

      &.line-0 {
        fill: none;
        stroke: var(--red);
      }
      &.line-1 {
        fill: none;
        stroke: var(--red);
        stroke-dasharray: 2;
      }
      &.line-2 {
        fill: none;
        stroke: var(--red);
        stroke-dasharray: 6;
      }
    }
    circle {
      &.point {
        stroke: none;
        fill: var(--grey-dark);
      }
      &.pointhover {
        fill: var(--colors-focus);
      }
    }
  }
}


div.d3tooltip {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-size: 1.5rem;
  animation: cfb-fadein .5s;
  opacity: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: .5rem .75rem;
  min-height: 2.7rem;
  overflow: visible;
  z-index: 21000;
  border-radius: var(--border-radius);
  background-color: var(--canvas-color-highlight);
  color: var(--colors-standard);
  text-shadow: var(--text-shadow);
  filter: var(--shadows-dropshadow-filter);
}
