button,
input[type='submit'],
input[type='reset'],
a.button {
  --colors-local: var(--colors-affordance);
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  transition: color .2s,
              background-color .2s,
              box-shadow .5s;
  margin: .8em .4em .8em .4em;
  padding: .6em 1em .6em 1em;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 1em;
  line-height: 1;
  touch-action: manipulation;
  cursor: pointer;
  color: var(--colors-text-hot);
  background-color: var(--colors-local);
  text-shadow: var(--text-shadow);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 .1em .2em 0 rgba(var(--grey-darker-rgb), 0.5);;
  >span.icon {
    margin: 0 .5em 0 0;
    &:before {
      margin: 0; // Generates padding issues otherwise
    }
    &.secondicon {
      margin: 0 0 0 .5em;
    }
  }
  @include for-hover-only {
    &:hover,
    &.hover {
      outline: none;
      background-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
      text-decoration: underline;
      box-shadow: 0 .1em .5em 0 rgba(var(--grey-darker-rgb), 0.7);
      filter: brightness(120%);
    }
  }
  &:focus,
  &.focus {
    outline: var(--colors-local) dashed .1rem;
    outline-offset: .2em;
    text-decoration: underline double;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
  }
  &:active,
  &.active {
    box-shadow: 0 .1em .1em 0 rgba(var(--grey-darker-rgb), 0.5);
    text-decoration: none;
    background-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);;
    filter: brightness(90%);
    outline: none;
  }
  &:disabled {
    opacity: .5;
    filter: grayscale(50%);
    cursor: not-allowed;
    text-shadow: none;
    box-shadow: none;
    pointer-events: none;
  }

  &.constructive {
    --colors-local: var(--colors-constructive);
  }
  &.destructive {
    --colors-local: var(--colors-destructive);
  }

  &.righticon {
    flex-direction: row-reverse;
    span.icon {
      margin: 0 0 0 .5em;
    }
  }
  &.expander {
    transition: width .2s;
    span.text,
    span.secondicon {
      transition: all .2s;
      opacity: 1;
      width: 0;
      overflow: hidden;
    }
    &:focus,
    &:active,
    &[aria-expanded='true'] {
      span.text,
      span.secondicon {
        animation: cfb-expando-button .2s;
        opacity: 1;
        width: auto;
      }
    }
    @include for-hover-only {
      &:hover {
        span.text,
        span.secondicon {
          animation: cfb-expando-button .2s;
          opacity: 1;
          width: auto;
        }
      }
    }
  }
  &.hamburger {
    --colors-local: var(--colors-text-hot);
    span.magichamburger {
      display: inline-block;
      width: 1em;
      > span {
        width: 1em;
        height: .2em;
        background-color: var(--colors-local);
        display: block;
        margin: 0;
        transition: all 0.5s;
        border-radius: .1em;
        &:first-child {
          transform: translateX(0) rotate(0);
          transform-origin: top left;
        }
        &:nth-child(2) {
          width: 1em;
          margin: .2em auto .2em auto;
        }
        &:last-child {
          transform: translateX(0) rotate(0);
          transform-origin: bottom left;
        }
      }
    }
    &.mute {
      --colors-local: var(--colors-affordance);
    }
    &[aria-expanded='true'] {
      span.magichamburger {
        span {
          &:first-child {
            width: 1.25em;
            transform: translateX(.15em) rotate(45deg);
            transform-origin: top left;
          }
          &:nth-child(2) {
            width: .1em;
          }
          &:last-child {
            width: 1.25em;
            transform: translateX(.15em) rotate(-45deg);
            transform-origin: bottom left;
          }
        }
      }
    }
  }
  &.ghost {
    --button-border-color: var(--colors-local);
    box-shadow: inset -.1em -.1em 0 0 var(--button-border-color), inset .1em -.1em 0 0 var(--button-border-color), inset -.1em .1em 0 0 var(--button-border-color), inset .1em .1em 0 0 var(--button-border-color);
    color: var(--colors-local);
    background-color: transparent;
    &:focus,
    &.focus,
    &:active,
    &.active {
      color: var(--colors-text-hot);
      background-color: var(--colors-local);
      text-shadow: var(--text-shadow);
      box-shadow: 0 .1em .5em 0 rgba(var(--grey-darker-rgb), 0.7);
    }
    @include for-hover-only {
      &:hover,
      &.hover {
        color: var(--colors-text-hot);
        background-color: var(--colors-local);
        text-shadow: var(--text-shadow);
        box-shadow: 0 .1em .5em 0 rgba(var(--grey-darker-rgb), 0.7);
      }
    }
  }
  &.mute {
    color: var(--colors-local);
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    &.constructive,
    &.destructive {
      text-shadow: none;
    }
    &:active,
    &.active,
    &:focus,
    &.focus {
      box-shadow: 0 .1em .5em 0 rgba(var(--grey-darker-rgb), 0.7);
    }
    @include for-hover-only {
      &:hover,
      &.hover {
        text-decoration: underline;
        filter: brightness(120%);
        box-shadow: 0 .1em .5em 0 rgba(var(--grey-darker-rgb), 0.7);
      }
    }

    &:focus,
    &.focus,
    &:active,
    &.active {
      color: var(--colors-text-hot);
      background-color: var(--colors-local);
      text-shadow: var(--text-shadow);
    }
    @include for-hover-only {
      &:hover,
      &.hover {
        color: var(--colors-text-hot);
        background-color: var(--colors-local);
        text-shadow: var(--text-shadow);
      }
    }
    &:active,
    &.active {
      text-decoration: none;
      box-shadow: none;
    }
    &:focus,
    &.focus {
      outline: var(--button-default-color) dashed .1em;
      outline-offset: .2em;
      text-decoration: underline double;
    }

  }
  &.square,
  &.circle {
    padding: .5em;
    width: 2em;
    height: 2em;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span.icon {
      margin: 0;
      font-size: 1.2em;
    }
    span.secondicon,
    span.text {
      display: none;
    }
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
  &.circle {
    border: .1em solid var(--colors-local);
    box-shadow: none;
    border-radius: 50%;
    &.mute {
      border: none;
    }
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 .1em .5em 0 rgba(50, 50, 50, 0.5);
    }
    &:disabled {
      box-shadow: none;
      border: none;
    }
  }
  &.pill {
    border-radius: 1.5em;
    margin: 0;
    &.ghost {
      box-shadow: none;
      border: .1em solid var(--colors-local);
    }
    &:hover,
    &:active,
    &:focus,
    &:disabled {
      border: none;
    }
  }
  &.naked,
  &.link {
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    background-image: none;
    height: auto;
    width: auto;
    transition: brightness .5s;
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: transparent;
      background-image: none;
      color: var(--colors-local);
    }
    @include for-hover-only {
      &:hover,
      &.hover {
        background-color: transparent;
        background-image: none;
        color: var(--colors-local);
      }
    }
  }
  &.naked {
    color: var(--colors-local);
  }
  &.link {
    color: var(--colors-affordance);
    text-shadow: var(--text-shadow);
    text-decoration: underline;
    @include for-hover-only {
      &:hover,
      &.hover {
        color: var(--colors-affordance);
        filter: brightness(120%);
        text-decoration: underline double;
      }
    }
    &:active,
    &.active {
      color: var(--colors-affordance);
    }
    &:focus,
    &.focus {
      color: var(--colors-affordance);
      text-decoration: underline double;
    }
    &:disabled {
      text-shadow: none;
    }
  }
  &.micro {
    font-size: .6em;
  }
  &.small {
    font-size: .8em;
  }
  &.large {
    font-size: 1.2em;
    @include for-phone-only {
      font-size: 1em;
    }
  }
  &.fill {
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    @include for-phone-only {
      font-size: 1em;
    }
  }

  &.image {
    --image-width: 2rem;
    --image-height: 2rem;
    width: var(--image-width);
    min-width: var(--image-width);
    height: var(--image-height);
    min-height: var(--image-height);
    background-size: cover;
  }
  &[aria-hidden="true"],
  &.hidden {
    display: none;
  }
  &.closebutton,
  &.togglebutton {
    --button-default-color: var(--colors-text-hot);
    opacity: 0.5;
    box-shadow: none;
    background: none;
    flex-direction: row-reverse;
    align-content: center;
    transition: opacity .5s;
    span.text {
      font-size: 1rem;
      opacity: 0;
    }
    span.icon {
      font-size: 1rem;
    }
    &:focus,
    &:active {
      color: var(--colors-text-hot);
      background: none;
    }
    &:focus {
      span.text {
        opacity: 1;
        display: inline-block;
      }
    }
    @include for-hover-only {
      &:hover {
        opacity: 1;
        color: var(--colors-text-hot);
        background: none;
        span.text {
          opacity: 1;
          display: inline-block;
        }
      }
    }
  }
  &.headerbutton {
    justify-content: flex-start;
    width: 100%;
    box-shadow: none;
    background: none;
    >span.icon {
      flex-grow: 0;
      margin-right: .5rem;
    }
    >span.text {
      flex-grow: 2;
    }
    >span.secondicon {
      flex-grow: 0;
      opacity: 0.5;
      margin-right: 0;
      margin-left: auto;
      align-self: flex-end;
    }
    @include for-hover-only {
      &:hover {
        span.secondicon {
          opacity: 1;
        }
      }
    }
  }
  &.help {
    overflow: visible;
    display: inline-block;
    span.icon {
      margin: 0;
    }
    &[aria-expanded='true'],
    &.stayopen {
      div.tooltip {
        display: flex;
        animation: cfb-fadein-delay-half .2s;
      }
    }
    &.stayopen {
      div.tooltip {
        button.closebutton {
          display: inline-block;
        }
      }
    }
  }
  &.tagbutton {
    overflow: visible;
    font-size: .8em;
    padding: .2em 1em .2em 1em;
    span.tagicon {
      margin-right: 1em;
      margin-left: 0;
      border-radius: 50%;
      color: var(--colors-local);
      background-color: var(--colors-text-hot);
      padding: .2em;
    }
    div.tooltip {
      left: -1em;
      bottom: 2.5em;
      &:before {
        left: 1em;
        bottom: -.5em;
      }
    }
    &.righticon {
      padding-right: .2em;
      span.tagicon {
        margin-right: 0;
        margin-left: 1em;
      }
    }
  }
  &.menu {
    overflow: visible;
    &.square,
    &.circle {
      ul,
      form,
      div {
        &.menu {
          font-size: 1em;
          &:before {
            right: .25em;
          }
        }
      }
    }
    &[aria-expanded='true'] {
      color: var(--colors-text-hot);
      text-shadow: var(--text-shadow);
      background-color: var(--colors-local);
      box-shadow: 0 .1em .5em 0 rgba(var(--grey-darker-rgb), 0.7);
      outline: none;
      text-decoration: none;
      ul.menu {
        display: flex;
      }
    }
  }
  >span.badge {
    position: absolute;
    left: .5rem;
    bottom: .5rem;
    background-color: var(--red);
    border: .1rem solid var(--colors-highlight);
    color: var(--colors-highlight);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
// various .button-menu elements is described in _ButtonMenuBodyLevel.scss
