*[data-menuid] {
  --menu-bg-color: var(--canvas-color-secondary);
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  flex-direction: column;
  flex-wrap: nowrap;
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: visible;
  border-radius: var(--border-radius);
  background-color: var(--menu-bg-color);
  color: var(--colors-affordance);
  box-shadow: var(--dialog-box-shadow);
  z-index: 20000;
  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: .25rem;
    top: -.7rem;
    border-width: 0 .7rem .7rem .7rem;
    border-style: solid;
    border-color: var(--menu-bg-color) transparent;
  }
  &[aria-hidden='true'] {
    display: none;
  }
  &[data-gravity="s"] {
    &:before {
      right: calc((100% / 2) - .7rem);
    }
  }
  &[data-gravity="se"] {
    &:before {
      left: .2rem;
      top: -.7rem;
    }
  }
  &[data-gravity="n"],
  &[data-gravity="ne"] {
    &:before {
      bottom: -.7rem;
      left: .2rem;
      top: unset;
      border-width: .7rem .7rem 0 .7rem;
    }
  }
  &[data-gravity="ne"] {
    &:before {
      right: .2rem;
      left: unset;
    }
  }
  &[data-gravity="nw"] {
    &:before {
      bottom: -.7rem;
      left: .2rem;
      top: unset;
      border-width: .7rem .7rem 0 .7rem;
    }
  }
  &[data-gravity="w"] {
    &:before {
      left: unset;
      right: -.5rem;
      bottom: unset;
      top: .5rem;
      border-color: transparent var(--menu-bg-color);
      border-width: .5rem 0 .5rem .5rem;
    }
  }
  &[data-gravity="e"] {
    &:before {
      left: -.5rem;
      bottom: unset;
      top: .5rem;
      border-color: transparent var(--menu-bg-color);
      border-width: .5rem .5rem .5rem 0;
    }
  }
}
ul[data-menuid] {
  display: flex;
  padding: .5rem 0;
  li {
    --link-color: var(--colors-affordance);
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    &:active,
    &:focus {
      --link-color: var(--colors-text-hot);
      background-color: var(--colors-affordance);
      color: var(--colors-text-hot);
      text-shadow: var(--text-shadow);
    }
    @include for-hover-only {
      &:hover {
        --link-color: var(--colors-text-hot);
        background-color: var(--colors-affordance);
        color: var(--colors-text-hot);
        text-shadow: var(--text-shadow);
      }
    }
    a {
      --colors-affordance: var(--link-color);
      padding: 0.5rem 1rem;
      white-space: nowrap;
      background-color: transparent;
      font-size: 1rem;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
      &:focus {
        outline: var(--colors-text-hot) dashed .1rem;
        outline-offset: .2rem;
        text-decoration: underline double;
      }
      span.icon {
        margin-right: 1rem;
      }
    }
  }
}
form[data-menuid] {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  min-width: 20em;
  div.elements {
    text-align: unset;
    div.input-container {
      margin-top: 0;
    }
    div.select-container {
      margin-top: 0;
      ul.selectmenu {
        top: unset;
      }
    }
  }
  &.noactions {
    div.header {
      display: none;
    }
  }
}
