div.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1rem;
  position: relative;
  box-sizing: border-box;
  label {
    display: inline-block;
    margin: 0 0 0 .5rem;
    flex-grow: 2;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin: 0;
  }
  >div.passivebox {
    display: none;
  }
  &.leftside {
    label {
      margin: 0 .5rem 0 .5rem;
    }
  }
  &.passive {
    justify-content: flex-start;
    > input {
      display: none;
    }
    >label {
      flex-grow: 0;
      margin: 0 1rem 0 0;
    }
    >div.passivebox {
      flex-grow: 0;
      width: auto;
      display: inline-block;
    }
  }

}
div.checkbox-container,
div.radiogroup-container {
  &.disabled {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent .5rem, rgba(var(--input-status-color-rgb), 0.05) .5rem, rgba(var(--input-status-color-rgb), 0.05) 1rem);
    cursor: not-allowed;
    text-shadow: none;
    pointer-events: none;
    label {
      opacity: .5;
      text-shadow: none;
    }
  }
}
div.radiogroup-container {
  label {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    button.help,
    &:after {
      opacity: 1;
      transition: opacity .2s;
    }
    > span.mutehelp {
      opacity: 1;
      transition: opacity .2s;
      font-size: .75em;
      color: var(--colors-text-default);
      margin-left: .5rem;
      &:before {
        margin-right: .5rem;
        content: '-';
      }
    }
  }
  ul.radiogroup {
    list-style-type: none;
    li.radio {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin: .5rem 0 .5rem 0;
      input[type="radio"] {
        display: inline-block;
        margin: 0;
      }
      label {
        display: inline-block;
        margin: 0 0 0 .5rem;
        @include for-hover-only {
          &:hover {
            text-decoration: underline double;
          }
        }
        &.required {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  &.required {
    ul.radiogroup {
      li.radio {
        label {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  &.passive {
    ul.radiogroup {
      display: none;
    }
  }
}
div.colorselector-container {
  ul.colorselector {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-inline-start: 0;
    flex-wrap: wrap;
    li.radio {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: center;
      margin: 0 .5rem 0 0;
      &:first-child {
        margin-left: 0;
      }
      input[type="radio"] {
        //display: none;
        &::after {
          background-color: var(--colors-highlight);
          border-color: var(--colors-highlight);
        }
      }
      label {
        margin: 0;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        color: var(--grey-darkest);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        span.swatch {
          border: .1rem solid var(--colors-highlight);
          width: 1.5rem;
          height: 1.5rem;
          display: inline-block;
          border-radius: 50%;
        }
      }
      label { display: none; }
      &[aria-selected="true"] {
        input[type="radio"] {
          background-color: var(--colors-highlight);
          border: .1rem dotted var(--colors-highlight);
          &:after {
            display: inline-block;
            opacity: .5;
          }
        }
      }
    }
  }
  &.required {
    ul.radiogroup {
      li.radio {
        label {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  &.passive {
    ul.radiogroup {
      display: none;
    }
  }
}


@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
:root {
  --checkbox-size: 1.2rem; // Total box size
  --cb-border-width: .05rem; // Not overly relevant, as this is a box-shadow
  --checkbox-toggle-offset: .2rem; //
  --checkbox-toggle-size: .8rem;
  --checkbox-font-size: var(--checkbox-size); // For the checkmark symbol
}
input[type="checkbox"],
input[type="radio"] {
  transition: all .2s;
  box-sizing: border-box;
  background-color: var(--canvas-color-secondary);
  //border: var(--cb-border-width) solid var(--input-border-color);
  box-shadow: inset 0 0 0 var(--cb-border-width) var(--input-border-color);

  border-radius: var(--border-radius);
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  max-width: var(--checkbox-size);
  max-height: var(--checkbox-size);
  &:after {
    display: none;
    box-sizing: border-box;
    content: '';
    width: var(--checkbox-toggle-size);
    height: var(--checkbox-toggle-size);
    max-width: var(--checkbox-toggle-size);
    max-height: var(--checkbox-toggle-size);
    background-color: var(--input-border-color);
    position: absolute;

    top: var(--checkbox-toggle-offset);
    left: var(--checkbox-toggle-offset);
    //border: var(--cb-border-width) solid var(--input-border-color);
    border-radius: var(--input-border-color);
    box-shadow: none;
  }
  &:before {
    display: none;
    font-family: "cornflowerblue", serif;
    line-height: var(--checkbox-font-size);
    content: '\e82f';
    font-size: var(--checkbox-font-size);
    position: absolute;
    left: 0;
    top: -.05rem;
    color: var(--colors-text-hot);
    text-shadow: var(--text-shadow);
  }
  &:checked {
    border-color: var(--input-border-color);
    background-color: var(--input-border-color);
    &:before {
      opacity: 1;
      display: inline-block;
      color: var(--colors-text-hot);
    }
    &:focus {
      border-color: var(--colors-affordance);
      background-color: var(--colors-affordance);
      &:before {
        opacity: 1;
        display: inline-block;
        color: var(--colors-text-hot);
      }
    }
    @include for-hover-only {
      &:hover {
        border-color: var(--colors-affordance);
        background-color: var(--colors-affordance);
        &:before {
          color: var(--colors-text-hot);
        }
      }
    }
  }
  &:focus,
  &:active{
    border-color: var(--colors-affordance);
    background-color: rgba(var(--colors-affordance-rgb), 0.5);
    box-shadow: 0 .1rem .1rem 0 rgba(50, 50, 50, 0.5);
  }
  &:focus,
  &.focus {
    outline-width: .1rem;
    outline-style: dashed;
    outline-color: var(--colors-affordance);
    outline-offset: .2rem;
  }
  @include for-hover-only {
    &:hover {
      border-color: var(--colors-affordance);
      background-color: rgba(var(--colors-affordance-rgb), 0.5);
      box-shadow: 0 .1rem .1rem 0 rgba(50, 50, 50, 0.5);
    }
  }
  &:focus,
  &:hover {
    &:checked {
      &:before {
        opacity: 1;
      }
    }
  }
  &[type="radio"],
  &.square,
  &.round {
    &:before,
    &:checked:before {
      display: none;
    }
    &:checked {
      background-color: rgba(var(--input-border-color-rgb), 0.1);
    }
    &:checked {
      &:after {
        display: block;
      }
      &:focus,
      &:hover {
        &:after {
          background-color: var(--colors-text-hot);
          border: .4rem solid var(--colors-affordance);
        }
      }
    }
    @include for-hover-only {
      &:hover {
        &:before {
          display: none;
        }
        &:after {
          display: block;
          background-color: transparent;
          border: .2em dotted var(--colors-text-hot);
        }
        &:checked {
          &:before {
            display: none;
          }
          &:after {
            background-color: var(--colors-text-hot);
            border: .3rem solid var(--colors-affordance);
          }
        }
      }
    }
  }
  &[type="radio"],
  &.round {
    border-radius: 50%;
    &:checked,
    &:focus,
    &:active,
    &:hover {
      &:after {
        border-radius: 50%;
      }
    }
  }
  &.toggle,
  &.switch {
    height: var(--checkbox-size);
    max-height: var(--checkbox-size);
    width: calc(var(--checkbox-size) * 2.2);
    max-width: calc(var(--checkbox-size) * 2.2);
    background-color: rgba(var(--input-border-color-rgb), 0.1);
    &:hover,
    &:focus,
    &:active,
    &:checked {
      &:before {
        display: none;
      }
    }
    &:after {
      display: block;
      box-sizing: border-box;
      content: '';
      width: var(--checkbox-toggle-size);
      height: var(--checkbox-toggle-size);
      max-width: var(--checkbox-toggle-size);;
      max-height: var(--checkbox-toggle-size);;
      position: absolute;
      left: var(--checkbox-toggle-offset);
      top: var(--checkbox-toggle-offset);

      border: .3em solid var(--input-border-color);
      background-color: var(--input-border-color);

      box-shadow: none;
      transition: all .2s;
    }
    &:checked {
      &:before { display: none; }
      &:after {
        border: .3em solid var(--input-border-color);
        left: auto;
        right: var(--checkbox-toggle-offset);
      }
    }
    &:focus,
    &:active {
      background-color: var(--colors-affordance);
      &:after {
        border-color: var(--colors-text-hot);
        background-color: var(--colors-affordance);
      }
    }
    @include for-hover-only {
      &:hover {
        background-color: var(--colors-affordance);
        &:after {
          border-color: var(--colors-text-hot);
          background-color: var(--colors-affordance);
        }
      }
    }
  }
  &.toggle {
    border-radius: 1.5em;
    &:after,
    &:checked:after {
      border-radius: 50%;
    }
  }
  &[aria-hidden="true"] {
    display: none;
  }
}
input[type=checkbox],
input[type=checkbox] + label,
input[type=checkbox]:checked + label,
input[type=radio],
input[type=radio] + label,
input[type=radio]:checked + label {
  &[aria-disabled="true"],
  &:disabled {
    opacity: .5;
    cursor: not-allowed;
    box-shadow: none !important;
    pointer-events: none;
    outline: none;
    text-decoration: none;
    &:before,
    &:after,
    &:checked:before,
    &:checked:after {
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }
}
