:root {

  // Checkbox keys
  --checkbox-size: 2.4em;
  --checkbox-font-size:  3em;
  --checkbox-toggle-size: 1.6em;
  --checkbox-toggle-offset: 0.2em;
  --checkbox-switch-width: 6em;
  --checkbox-switch-height: 2.8em;
  --checkbox-switch-toggle-size: 2em;
  --checkbox-switch-offset: .2em;

  --checkbox-checked-border-color: var(--input-default-border-color);
  --checkbox-checked-background-color: var(--focus-color);
  --checkbox-checked-checkmark-border-color: var(--checkbox-checked-border-color);
  --checkbox-checked-checkmark-text-color: var(--ultralight);
  --checkbox-checked-checkmark-hover-text-color: var(--focus-color);

  --checkbox-focus-color: var(--focus-color);
  --checkbox-focus-color-translucent: var(--focus-color-translucent);
  --checkbox-border-color: var(--input-default-border-color);
  --checkbox-background-color: var(--input-default-background-color);
  --checkbox-toggle-chrome-color: var(--light);
  --checkbox-toggle-chrome-hovermark-color: var(--focus-color);
  --checkbox-toggle-background-color: var(--grey-medium);

  --checkbox-checkmark-text-color: var(--grey-darkest);
  --checkbox-checkmark-text-shadow: var(--text-shadow);

  // Radios inherit a lot from --checkbox-
  --radio-size: 2.2em;
  --radio-toggle-size: 1.25em;
  --radio-toggle-offset: 0.3em;
  --radio-element-label-color: var(--grey-darker);
  --radio-element-label-text-shadow: var(--text-shadow);
}
div.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1rem;
  position: relative;
  box-sizing: border-box;
  label {
    display: inline-block;
    margin: 0 .5rem 0 .5rem;
    flex-grow: 2;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin-left: .5rem;
    margin-right: 0;
  }
  &.rightside {
    input[type="checkbox"],
    input[type="radio"] {
      margin-left: 0;
      margin-right: .5rem;
    }
  }
}
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
input[type="checkbox"],
input[type="radio"] {
  transition: all .2s;
  box-sizing: border-box;
  background-color: var(--checkbox-background-color);
  border: .2em solid var(--checkbox-border-color);
  border-radius: var(--border-radius);
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  max-width: var(--checkbox-size);
  max-height: var(--checkbox-size);
  &:after {
    display: none;
    box-sizing: border-box;
    content: '';
    width: var(--checkbox-toggle-size);
    height: var(--checkbox-toggle-size);
    max-width: var(--checkbox-toggle-size);
    max-height: var(--checkbox-toggle-size);
    background-color: var(--checkbox-toggle-chrome-color);
    position: absolute;
    left: var(--checkbox-toggle-offset);
    top: var(--checkbox-toggle-offset);
    border: .5em solid var(--checkbox-toggle-chrome-color);
    border-radius: var(--border-radius);
    box-shadow: var(--hover-box-shadow);
  }
  &:before {
    display: none;
    font-family: "cornflowerblue", serif;
    line-height: 1em;
    content: '\32';
    font-size: var(--checkbox-font-size);
    position: absolute;
    left: -5%;
    bottom: -10%;
    color: var(--checkbox-checkmark-text-color);
    text-shadow: var(--checkbox-checkmark-text-shadow);
  }
  &:checked {
    border-color: var(--checkbox-checked-border-color);
    background-color: var(--checkbox-checked-background-color);
    &:before {
      opacity: 1;
      display: inline-block;
      color: var(--checkbox-checked-checkmark-text-color);
    }
    &:focus {
      background-color: var(--checkbox-checked-background-color);
      &:before {
        opacity: 1;
        display: inline-block;
        color: var(--checkbox-checked-checkmark-text-color);
      }
    }
    @include for-hover-only {
      &:hover {
        background-color: var(--checkbox-focus-color-translucent);
        &:before {
          color: var(--checkbox-checked-checkmark-hover-text-color);
        }
      }
    }
  }
  &:focus,
  &.focus {
      outline-width: .2em;
      outline-style: dashed;
      outline-color: var(--focus-color);
      outline-offset: .3em;
  }
  &:focus,
  &:active{
    border-color: var(--checkbox-border-color);
    background-color: var(--checkbox-focus-color-translucent);
    box-shadow: var(--hover-box-shadow);
  }
  @include for-hover-only {
    &:hover {
      border-color: var(--checkbox-focus-color);
      background-color: var(--checkbox-focus-color-translucent);
      box-shadow: var(--hover-box-shadow);
      &:before {
        display: inline-block;
        opacity: 0.2;
      }
    }
  }
  &:focus,
  &:hover {
    &:checked {
      &:before {
        opacity: 1;
      }
    }
  }
  &.square,
  &.round {
    &:before,
    &:checked:before {
      display: none;
    }
    &:checked {
      background-color: var(--checkbox-focus-color);
    }
    @include for-hover-only {
      &:hover {
        border-color: var(--checkbox-checked-border-color);
        background-color: var(--checkbox-focus-color);
        box-shadow: var(--hover-box-shadow);
        &:before {
          display: none;
        }
        &:after {
          display: block;
          background-color: transparent;
          border: .2em dotted var(--checkbox-toggle-chrome-color);
        }
        &:checked {
          border-color: var(--checkbox-border-color);
          box-shadow: var(--checkbox-checked-shadow);
          background-color: var(--checkbox-focus-color);
          &:before {
            display: none;
          }
          &:after {
            background-color: var(--checkbox-toggle-chrome-hovermark-color);
            border: .5em solid var(--checkbox-toggle-chrome-color);
          }
        }
      }
    }
    &:checked {
      &:after {
        display: block;
      }
    }
  }
  &.round {
    border-radius: 50%;
    &:checked,
    &:focus,
    &:active,
    &:hover {
      &:after {
        border-radius: 50%;
      }
    }
  }
  &.toggle,
  &.switch {
    width: var(--checkbox-switch-width);
    max-width: var(--checkbox-switch-width);
    height: var(--checkbox-switch-height);
    max-height: var(--checkbox-switch-height);
    background-color: var(--checkbox-toggle-background-color);
    box-shadow: var(--checkbox-checked-shadow);
    &:hover,
    &:focus,
    &:active,
    &:checked {
      &:before {
        display: none;
      }
    }
    &:after {
      display: block;
      box-sizing: border-box;
      content: '';
      width: var(--checkbox-switch-toggle-size);
      height: var(--checkbox-switch-toggle-size);
      max-width: var(--checkbox-switch-toggle-size);;
      max-height: var(--checkbox-switch-toggle-size);;
      position: absolute;
      left: var(--checkbox-switch-offset);
      top: var(--checkbox-switch-offset);
      border: .7em solid var(--checkbox-toggle-chrome-color);
      background-color: var(--checkbox-toggle-chrome-color);
      box-shadow: var(--hover-box-shadow);
      transition: all .2s;
    }
    @include for-hover-only {
      &:hover,
      &:hover:checked {
        border-color: var(--focus-color);
        &:before {
          display: none;
        }
        &:after {
          background-color: var(--checkbox-toggle-chrome-hovermark-color);
        }
      }
    }
    &:checked {
      border-color: var(--grey-light);
      background-color: var(--focus-color);
      &:before { display: none; }
      &:after {
        border: .7em solid var(--checkbox-toggle-chrome-color);
        left: auto;
        right: var(--checkbox-switch-offset);
      }
    }
  }
  &.toggle {
    border-radius: 1.5em;
    &:after,
    &:checked:after {
      border-radius: 50%;
    }
  }
}
input[type=checkbox],
input[type=checkbox] + label,
input[type=checkbox]:checked + label {
  &:disabled {
    color: var(--disabled-highlight-color) !important;
    background-color: var(--disabled-base-color) !important;
    border-color: var(--disabled-highlight-color) !important;
    cursor: not-allowed;
    box-shadow: none !important;
    pointer-events: none;
    outline: none;
    text-decoration: none;
    &:before,
    &:after {
      box-shadow: none !important;
      text-shadow: none !important;
    }
    &:checked:before {
      display: none;
    }
    &:checked:after {
      background-color: var(--disabled-highlight-color);
      border-color: var(--disabled-highlight-color);
      box-shadow: none;
    }
    &:focus,
    &:active {
      color: var(--disabled-highlight-color) !important;
      background-color: var(--disabled-base-color) !important;
      border-color: var(--disabled-highlight-color) !important;
      box-shadow: none;
      outline: none;
      text-decoration: none;
      &:before,
      &:after {
        box-shadow: none !important;
        text-shadow: none !important;
      }
      &:before {
        display:none;
      }
      &:checked:before {
        display:none;
      }
      &:checked:after {
        opacity: 1;
        background-color: var(--disabled-highlight-color);
        border-color: var(--disabled-highlight-color);
        box-shadow: none;
      }
    }
    @include for-hover-only {
      &:hover {
        color: var(--disabled-highlight-color) !important;
        background-color: var(--disabled-base-color) !important;
        border-color: var(--disabled-highlight-color) !important;
        box-shadow: none;
        outline: none;
        text-decoration: none;
        &:before,
        &:after {
          box-shadow: none !important;
          text-shadow: none !important;
        }
        &:before {
          display:none;
        }
        &:checked:before {
          display:none;
        }
        &:checked:after {
          opacity: 1;
          background-color: var(--disabled-highlight-color);
          border-color: var(--disabled-highlight-color);
          box-shadow: none;
        }
      }
    }
  }
}
input[type="radio"] {
  border-radius: 50%;
  width: var(--radio-size);
  height: var(--radio-size);
  max-width: var(--radio-size);
  max-height: var(--radio-size);
  &:before,
  &:checked:before {
    display: none;
  }
  &:after {
    width: var(--radio-toggle-size);
    height: var(--radio-toggle-size);
    max-width: var(--radio-toggle-size);
    max-height: var(--radio-toggle-size);
    left: var(--radio-toggle-offset);
    top: var(--radio-toggle-offset);
    border: .2em solid var(--checkbox-toggle-chrome-color);
  }
  &:checked,
  &:focus,
  &:active {
    &:after {
      border-radius: 50%;
    }
  }
  @include for-hover-only {
    &:hover {
      border-color: var(--checkbox-focus-color);
      background-color: var(--checkbox-focus-color);
      box-shadow: var(--hover-box-shadow);
      &:before {
        display: none;
      }
      &:after {
        border-radius: 50%;
        display: block;
        background-color: transparent;
        border: .2em dotted var(--checkbox-toggle-chrome-color);
      }
      &:checked {
        border-color: var(--checkbox-border-color);
        box-shadow: var(--checkbox-checked-shadow);
        background-color: var(--checkbox-focus-color);
        &:before {
          display: none;
        }
        &:after {
          background-color: var(--checkbox-toggle-chrome-hovermark-color);
          border: .4em solid var(--checkbox-toggle-chrome-color);
        }
      }
    }
  }
  &:checked {
    &:after {
      display: block;
    }
  }
}
input[type=radio],
input[type=radio] + label,
input[type=radio]:checked + label {
  &:disabled {
    color: var(--disabled-highlight-color) !important;
    background-color: var(--disabled-base-color) !important;
    border-color: var(--disabled-highlight-color) !important;
    cursor: not-allowed;
    box-shadow: none !important;
    pointer-events: none;
    outline: none;
    text-decoration: none;
    &:before,
    &:after {
      box-shadow: none !important;
      text-shadow: none !important;
    }
    &:checked:before {
      display: none;
    }
    &:checked:after {
      background-color: var(--disabled-highlight-color);
      border-color: var(--disabled-highlight-color);
      box-shadow: none;
    }
    @include for-hover-only {
      &:hover {
        color: var(--disabled-highlight-color) !important;
        background-color: var(--disabled-base-color) !important;
        border-color: var(--disabled-highlight-color) !important;
        box-shadow: none;
        outline: none;
        text-decoration: none;
        &:before,
        &:after {
          box-shadow: none !important;
          text-shadow: none !important;
        }
        &:before {
          opacity: 0;
        }
        &:checked:before {
          opacity: 1;
          color: var(--disabled-highlight-color) !important;
          box-shadow: none;
          text-shadow: none;
        }
        &:checked:after {
          opacity: 1;
          background-color: var(--disabled-highlight-color);
          border-color: var(--disabled-highlight-color);
          box-shadow: none;
        }
      }
    }
    &:focus,
    &:active {
      color: var(--disabled-highlight-color) !important;
      background-color: var(--disabled-base-color) !important;
      border-color: var(--disabled-highlight-color) !important;
      box-shadow: none;
      outline: none;
      text-decoration: none;
      &:before,
      &:after {
        box-shadow: none !important;
        text-shadow: none !important;
      }
      &:before {
        opacity: 0;
      }
      &:checked:before {
        opacity: 1;
        color: var(--disabled-highlight-color) !important;
        box-shadow: none;
        text-shadow: none;
      }
      &:checked:after {
        opacity: 1;
        background-color: var(--disabled-highlight-color);
        border-color: var(--disabled-highlight-color);
        box-shadow: none;
      }
    }
    &.toggle,
    &.switch {
      &:after,
      &:checked:after {
        background-color: var(--disabled-highlight-color);
        border-color: var(--disabled-highlight-color);
        box-shadow: none;
      }
    }
  }
}
div.radiogroup-container {
  ul.radiogroup {
    list-style-type: none;
    li.radio {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin: .5rem 0 .5rem 0;
      input[type="radio"] {
        display: inline-block;
        margin: 0 1rem 0 0;
      }
      label {
        display: inline-block;
        margin: 0;
        text-shadow: var(--radio-element-label-text-shadow);
        color: var(--radio-element-label-color);
        @include for-hover-only {
          &:hover {
            text-decoration: underline double;
          }
        }
        &.required {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  &.required {
    ul.radiogroup {
      li.radio {
        label {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  &.passive {
    ul.radiogroup {
      display: none;
    }
  }
  &.disabled {
    ul.radiogroup {
      li.radio {
        label {
          color: var(--disabled-highlight-color);
          text-decoration: none;
        }
      }
    }
  }
}
