div.input-container,
p.input-container,
div.file-container,
div.textarea-container,
p.textarea-container {
  margin: 0;
  margin: 0;
  padding: .5rem 0 .5rem 0;
  position: relative;
  height: auto;
  opacity: 1;
  transition: all .2s;
  p.preamble {
    margin: 1rem 0 0 0;
  }
  div.topline {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
    label {
      margin-top: 0;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      button.help,
      &:after {
        opacity: 1;
        transition: opacity .2s;
      }
      > span.mutehelp {
        opacity: 1;
        transition: opacity .2s;
        font-size: .75em;
        color: var(--colors-text-default);
        margin-left: .5rem;
        &:before {
          margin-right: .5rem;
          content: '-';
        }
      }
    }
    div.charcounter,
    div.searchdisplay,
    div.datedisplay {
      color: var(--colors-standard);
      display: block;
      font-size: .85em;
      font-style: oblique;
      text-align: right;
      &.danger {
        color: var(--colors-warning);
      }
      &.outofbounds {
        color: var(--colors-error);
      }
    }
    div.topcontrol {
      opacity: 1;
      z-index: 10;
      transition: all .2s;
      --button-default-color: var(--colors-standard);
      --button-hover-text-color: var(--colors-standard);
      --button-text-shadow: none;
    }
  }
  div.wrap {
    position: relative;
    z-index: 9;
    div.trigger {
      height: 2.5rem;
      transition: all .2s;
      box-sizing: border-box;
      outline: none;
      position: relative;
      font-family: inherit;
      width: 100%;
      margin: 0;
      font-size: 1rem;
      user-select: none;
      background-color: var(--canvas-color-secondary);
      box-shadow: inset -.1em -.1em 0 0 rgb(var(--input-border-color-rgb)), inset .1em -.1em 0 0 rgb(var(--input-border-color-rgb)), inset -.1em .1em 0 0 rgb(var(--input-border-color-rgb)), inset .1em .1em 0 0 rgb(var(--input-border-color-rgb));
      padding: .5em 1em .5em 1.5em;
      border-radius: .1em;
      color: var(--input-default-placeholder-color);
      font-weight: normal;
      text-shadow: none;
      vertical-align: middle;
      cursor: pointer;
      span.placeholder {
        opacity: 0;
      }
      &.files {
        color: var(--input-default-text-color);
        text-shadow: var(--input-default-text-shadow);
      }
      &:before {
        position: absolute;
        right: 3.5em;
        top: .7em;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--input-default-placeholder-color);
      }
      &:focus {
        --input-border-color-rgb: var(--colors-affordance-rgb);
        --input-border-color: rgb(var(--input-border-color-rgb));
        box-shadow: inset .5em 0 0 rgb(var(--input-border-color-rgb)), inset .1em -.1em 0 0 rgb(var(--input-border-color-rgb)), inset -.1em .1em 0 0 rgb(var(--input-border-color-rgb)), inset .1em .1em 0 0 rgb(var(--input-border-color-rgb));
        &::placeholder {
          opacity: 0.3;
        }
      }
      &.mute {
        background-color: var(--canvas-color-secondary);
        box-shadow: inset 0 -.1em 0 0 rgb(var(--input-border-color-rgb));
        padding: .5em 5em .5em 1.5em;
        &:focus {
          --input-border-color-rgb: var(--colors-affordance-rgb);
          background-color: rgba(var(--input-border-color-rgb), 0.05);
          box-shadow: inset 0 -.2em 0 0 rgb(var(--input-border-color-rgb));
          &::placeholder {
            opacity: 0;
          }
          span.placeholder {
            opacity: 0.5;
          }
        }
      }
    }
    div.inputcontrol {
      transition: all .2s;
      position: absolute;
      right: 1em;
      top: 0;
      bottom: 0;
      &.stepbuttons,
      &.visbutton,
      &.calbutton {
        > button {
          --colors-local: var(--colors-standard);
        }
        display: flex;
        top: .2em;
        bottom: .2em;
        right: 3.5em;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        @include for-hover-only {
          &:hover {
            opacity: 1;
            filter: none;
          }
        }
        button {
          span.icon {
            margin: 0;
          }
          @include for-hover-only {
            &:hover {
              filter: none;
            }
          }
          .menu {
            top: 1.5em;
            right: -.5em;
          }
        }
      }
    }
    &:before {
      position: absolute;
      right: 3.5em;
      top: .7em;
      margin: 0;
      z-index: 500;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      color: rgba(var(--input-border-color-rgb), 0.7);
    }
    &:after {
      opacity: 0;
      display: flex;
      position: absolute;
      transition: all .5s;
      right: 0;
      top: 0;
      bottom: 0;
      width: 2em;
      margin: 0;
      font-family: "cornflowerblue", serif;
      font-style: normal;
      font-weight: normal;
      speak: none;
      text-decoration: inherit;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      content: '\30'; // circle checkmark
      font-size: 1.5em;
      background-color: transparent;
      color: rgb(var(--input-status-color-rgb));
      text-shadow: var(--text-shadow);
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  ul.messagebox {
    transition: all .2s;
    font-size: .9rem;
    margin: 0;
    opacity: 1;
    height: auto;
    padding: .5rem 1rem .5rem 2rem;
    background-color: var(--canvas-color-primary);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent .5rem, rgba(var(--input-status-color-rgb), 0.05) .5rem, rgba(var(--input-status-color-rgb), 0.05) 1rem);
    border: .1em dashed rgba(var(--input-status-color-rgb), 0.5);
    border-top: none;
    li {
      margin: .5rem 0 .5rem 0;
      &.error {
        color: var(--colors-text-default);
      }
      &.warning {
        color: var(--colors-text-default);
      }
    }
    &[aria-hidden=true] {
      opacity: 0;
      padding: 0;
      height: 0;
      li {
        display: none;
      }
    }
  }
  div.passivebox {
    transition: opacity .2s;
    vertical-align: middle;
    width: 100%;
    padding: var(--input-default-padding);
    padding-left: 0;
    display: none;
  }
  &.minimal {
    display: inline-block;
    margin: 0 .5rem 0 .5rem;
    div.wrap {
      div.inputcontrol {
        right: 1rem;
      }
      &:after {
        display: none;
      }
      &:before {
        right: 1rem;
      }
    }
    input.trigger {
      padding-right: 2rem;
    }
  }
  &.mute {
    div.topline {
      margin-top: 2.1em;
      transition: all .2s;
      z-index: 10;
      margin-bottom: -2.1em;
      pointer-events: none;
      label {
        opacity: 1;
        //margin-top: 1rem;
        padding-left: 1.5em;
        font-size: 1em;
        transition: all .2s;
        white-space: nowrap;
        button.help {
          opacity: 0;
          display: inline-block;
          transition: opacity .2s;
        }
      }
      div.topcontrol {
        display: inline-block;
        opacity: 0;
      }
    }
    div.wrap {
      input,
      textarea {
        &::placeholder {
          opacity: .5;
        }
      }
      div.trigger {
        span.placeholder {
          opacity: .5;
        }
      }
      &:after {
        right: 0;
      }
    }
    &.active,
    &.filled,
    &.passive {
      div.topline {
        margin-top: 0;
        margin-bottom: 0;
        pointer-events: unset;
        opacity: 1;
        label {
          padding-left: 0;
          button.help,
          &:after {
            opacity: 1;
          }
        }
        div.topcontrol {
          opacity: 1;
          display: inline-block;
        }
      }
    }
  }
  &.required {
    label {
      &:after {
        content: attr(data-required-text);
        display: inline-block;
      }
    }
  }
  &.valid,
  &.error,
  &.warning {
    --input-status-color-rgb: var(--colors-success-rgb);
    --input-border-color: rgb(var(--input-status-color-rgb));
    div.wrap {
      &:after {
        opacity: 1;
      }
    }
    &.mute {
      input[type="text"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      textarea {
        border-color: rgb(var(--input-status-color-rgb));
        &:focus {
          box-shadow: inset 0 -.4rem 0 0 rgb(var(--input-status-color-rgb));;
        }
      }
    }
  }
  &.error {
    --input-status-color-rgb: var(--colors-error-rgb);
    --input-border-color-rgb: var(--input-status-color-rgb);
    --input-border-color: rgb(var(--input-status-color-rgb));
    div.wrap {
      &:after {
        content: '\51';
      }
    }
  }
  &.valid {
    --input-status-color-rgb: var(--colors-success-rgb);
    --input-border-color: rgb(var(--input-status-color-rgb));
    div.wrap {
      &:after {
        opacity: 1;
        content: '\30';
      }
    }
    &.passive {
      div.wrap {
        &:after {
          opacity: 0;
        }
      }
    }
  }
  &.warning {
    --input-status-color-rgb: var(--colors-warning-rgb);
    --input-border-color: rgb(var(--input-status-color-rgb));
    div.wrap {
      &:after {
        content: '\53';
      }
    }
  }
  &.disabled {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent .5rem, rgba(var(--input-status-color-rgb), 0.05) .5rem, rgba(var(--input-status-color-rgb), 0.05) 1rem);
    cursor: not-allowed;
    text-shadow: none;
    pointer-events: none;
    div.topline {
      opacity: .5;
      text-shadow: none;
    }
  }
  &.active {
    label {
      color: var(--colors-affordance);
    }
    div.wrap {
      &:after {
        opacity: 0;
      }
      div.stepbuttons {
        opacity: 1;
      }
      div.topcontrol {
        opacity: 1;
        top: .3em;
      }
      div.inputcontrol {
        opacity: 1;
      }
    }
    &.mute {
      div.topline {
        margin-top: 0;
        margin-bottom: 0;
        pointer-events: unset;
        label {
          padding-left: 0;
          button.help,
          &:after {
            opacity: 1;
          }
        }
        div.topcontrol {
          opacity: 1;
          display: inline-block;
        }
      }
    }
  }
  &.passive {
    p.preamble {
      height: 0;
      opacity: 0;
      margin: 0;
    }
    div.topline {
      label {
        opacity: 1;
        button.help,
        &:after {
          display: none;
          opacity: 0;
        }
        > span.mutehelp {
          display: none;
          opacity: 0;
        }
      }
      div.topcontrol {
        display: none !important;
        opacity: 0 !important;
      }
    }
    div.wrap,
    ul.messagebox,
    ul.selectmenu {
      display: none;
    }
    div.passivebox {
      display: block;
      a {
        img {
          height: 3em;
          max-height: 3em;
        }
      }
    }
    &.hidepassiveifempty {
      &:not(.filled) {
        display: none;
      }
    }
  }
  &[aria-hidden="true"] {
    display: none;
    padding: 0;
    opacity: 0;
    height: 0;
  }
}
div.checkbox-container {
  label {
    > span.mutehelp {
      opacity: 1;
      transition: opacity .2s;
      font-size: .75em;
      color: var(--colors-text-default);
      margin-left: .5rem;
      &:before {
        margin-right: .5rem;
        content: '-';
      }
    }
  }
}
div.textarea-container {
  div.wrap {
    &:after {
      justify-content: flex-start;
      padding-top: .5rem;
    }
  }
  &.mute {
    div.charcounter {
      top: .3em;
    }
    div.wrap {
      textarea {
        &::placeholder {
          opacity: 0;
        }
      }
      &.filled {
        textarea {
          &::placeholder {
            opacity: .3;
          }
        }
      }
    }
  }
  div.passivebox {
    min-height: 4em;
  }
}
div.select-container {
  &.mute {
    >div.wrap {
      >input.trigger {
        &::placeholder {
          opacity: 0;
        }
      }
    }
    &.filled {
      >div.wrap {
        >input.trigger {
          &::placeholder {
            opacity: .3;
          }
        }
      }
    }
    &[aria-expanded="true"] {
      div.topline {
        margin-top: 0;
        margin-bottom: 0;
        pointer-events: unset;
        label {
          padding-left: 0;
          button.help,
          &:after {
            opacity: 1;
          }
        }
        div.topcontrol {
          opacity: 1;
          display: inline-block;
        }
      }
      >div.wrap {
        >input.trigger {
          &::placeholder {
            opacity: .3;
          }
        }
      }
    }
  }
}
