input[type="file"] {
  width: 0.001em;
  height: 0.001em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
div.file-container {
  div.wrap {
    &:after {
      display: none;
    }
  }
  div.trigger {
    transition: all .2s;
    box-sizing: border-box;
    outline: none;
    position: relative;
    font-family: inherit;
    width: 100%;
    margin: 0;
    font-size: 1em;
    background-color: rgba(var(--input-border-color-rgb), 0.1);
    box-shadow: inset -.1em -.1em 0 0 rgb(var(--input-border-color-rgb)), inset .1em -.1em 0 0 rgb(var(--input-border-color-rgb)), inset -.1em .1em 0 0 rgb(var(--input-border-color-rgb)), inset .1em .1em 0 0 rgb(var(--input-border-color-rgb));
    padding: .5em 1em .5em 1.5em;
    border-radius: .1em;
    color: var(--input-default-placeholder-color);
    font-weight: normal;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
    &.files {
      color: var(--input-default-text-color);
      text-shadow: var(--input-default-text-shadow);
    }
    &:before {
      position: absolute;
      right: 3.5em;
      top: .7em;
      margin: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--input-default-placeholder-color);
    }
    &:focus {
      --input-border-color-rgb: var(--colors-affordance-rgb);
      --input-border-color: rgb(var(--input-border-color-rgb));
      box-shadow: inset .5em 0 0 rgb(var(--input-border-color-rgb)), inset .1em -.1em 0 0 rgb(var(--input-border-color-rgb)), inset -.1em .1em 0 0 rgb(var(--input-border-color-rgb)), inset .1em .1em 0 0 rgb(var(--input-border-color-rgb));
      &::placeholder {
        opacity: 0.3;
      }
    }
    &.mute {
      background-color: rgba(var(--input-border-color-rgb), 0.05);
      box-shadow: inset 0 -.1em 0 0 rgb(var(--input-border-color-rgb));
      padding: .5em 1em .5em 1.5em;
      &:focus,
      &:focus-within {
        --input-border-color-rgb: var(--colors-affordance-rgb);
        background-color: rgba(var(--input-border-color-rgb), 0.05);
        box-shadow: inset 0 -.2em 0 0 rgb(var(--input-border-color-rgb));
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
  &.mute {
    label {
      opacity: 1;
    }
  }
  &.disabled {
    opacity: .5;
    cursor: not-allowed;
    text-shadow: none;
    pointer-events: none;
  }
}