:root {
  // Input
  --input-default-padding: .5em 1em .5em 1.5em;
  --input-border-radius: .1em;

  --input-border-color-rgb: var(--standard-color-rgb);
  --input-border-color: rgb(var(--input-border-color-rgb));

  --input-mute-box-shadow: inset 0 -.1em 0 0 var(--input-border-color);
  --input-mute-focus-box-shadow: inset 0 -.2em 0 0 var(--input-border-color);

  --input-mute-textarea-box-shadow: inset .1em 0 0 0 var(--input-border-color);
  --input-mute-focus-textarea-box-shadow: inset .2em 0 0 0 var(--input-border-color);

  --input-disabled-background-color: var(--disabled-base-color);
  --input-disabled-border-color: var(--disabled-highlight-color);
  --input-disabled-text-color: var(--disabled-highlight-color);
  --input-disabled-placeholder-color: var(--disabled-highlight-color);

}
[hidden] { display: none; }
input[type="text"],
input[type="number"],
input[type="password"],
input[type="search"],
textarea {
  transition: all .2s;
  box-sizing: border-box;
  outline: none;
  position: relative;
  font-family: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  font-size: 1em;
  width: 100%;
  background-color: rgba(var(--input-border-color-rgb), 0.1);
  margin: 0;
  border: none;
  box-shadow: inset -.1em -.1em 0 0 rgb(var(--input-border-color-rgb)), inset .1em -.1em 0 0 rgb(var(--input-border-color-rgb)), inset -.1em .1em 0 0 rgb(var(--input-border-color-rgb)), inset .1em .1em 0 0 rgb(var(--input-border-color-rgb));

  padding: var(--input-default-padding);
  border-radius: var(--input-border-radius);
  color: var(--input-default-text-color);
  text-shadow:var(--input-default-text-shadow);
  vertical-align: middle;
  &::placeholder {
    color: var(--input-default-placeholder-color);
    font-weight: normal;
    text-shadow: none;
  }
  &:disabled {
    // XXX TODO disabled color stuff
    border-color: var(--input-disabled-border-color);
    background-color: var(--input-disabled-background-color);
    color: var(--input-disabled-text-color);
    cursor: not-allowed;
    text-shadow:none;
  }
  &:focus,
  &:focus-within {
    --input-border-color-rgb: var(--colors-focus-rgb);
    --input-border-color: rgb(var(--colors-focus-rgb));
    box-shadow: inset .5em 0 0 rgb(var(--input-border-color-rgb)), inset .1em -.1em 0 0 rgb(var(--input-border-color-rgb)), inset -.1em .1em 0 0 rgb(var(--input-border-color-rgb)), inset .1em .1em 0 0 rgb(var(--input-border-color-rgb));
    &::placeholder {
      opacity: 0.3;
    }
  }
  &.mute {
    background-color: rgba(var(--input-border-color-rgb), 0.05);
    box-shadow: inset 0 -.1em 0 0 rgb(var(--input-border-color-rgb));
    padding: .5em 1em .5em 1.5em;
    &::placeholder {
      color: var(--label-color);
      text-shadow:var(--label-text-shadow);
      text-transform: var(--label-text-transform);
    }
    &:focus,
    &:focus-within {
      --input-border-color-rgb: var(--colors-focus-rgb);
      background-color: rgba(var(--input-border-color-rgb), 0.05);
      box-shadow: inset 0 -.2em 0 0 rgb(var(--input-border-color-rgb));
      &::placeholder {
        opacity: 0;
      }
    }
    &:disabled {
      --input-default-border-color: var(--input-disabled-placeholder-color);
      background-color: var(--input-mute-disabled-background-color);
      &::placeholder {
        color: var(--input-disabled-placeholder-color);
        text-shadow: none;
      }
    }
  }
}
textarea {
  height: 4em;
  &:focus {
    height: 8em;
  }
  &:before {
    display: none;
  }
  &.mute {
    padding: 1em 1em 1em 2em;
    box-shadow: inset .1em 0 0 0 rgb(var(--input-border-color-rgb));
    border-bottom: none;
    &:focus {
      box-shadow: inset .2em 0 0 0 rgb(var(--input-border-color-rgb));
    }
  }
}
