div.select-container {
  position: relative;
  div.wrap {
    display: block;
    position: relative;
    input.trigger {
      cursor: pointer;
      &.mute {
        &::placeholder,
        &::-ms-input-placeholder {
          opacity: 0;
        }
      }
    }
    &:before {
      cursor: pointer;
    }
  }
  &[aria-expanded="true"],
  &:focus-within {
    input.trigger {
      --input-border-color-rgb: var(--colors-affordance-rgb);
      --input-border-color: rgb(var(--input-border-color-rgb));
      box-shadow: inset .5em 0 0 rgb(var(--input-border-color-rgb)), inset 0 0 0 .05rem rgb(var(--input-border-color-rgb));
      color: rgba(var(--colors-standard-rgb), 0.5);
    }
  }
  &[aria-expanded="true"] {
    &:before {
      transform: rotate(180deg);
    }
  }
  &.mute {
    label {
      opacity: 1;
    }
    div.wrap {
      input.trigger {

      }
    }
    &[aria-expanded="true"] {
      div.wrap {
        input.trigger {
          --input-border-color-rgb: var(--colors-affordance-rgb);
          background-color: rgba(var(--input-border-color-rgb), 0.05);
          box-shadow: inset 0 0 0 .05rem rgb(var(--input-border-color-rgb));
          //color: rgba(var(--colors-standard-rgb), 0.5);
        }
      }
    }
  }
  &.imageselector-container {
    >div.passivebox {
      >img {
        width: 100%;
      }
    }
  }
  &.disabled {
    label {
      text-shadow: none;
    }
    div[role='listbox'] {
      display: none;
    }
    input.trigger {
      &:before {
        opacity: .5;
      }
    }
    &.mute {
      input.trigger {
        //background-color: var(--input-mute-disabled-background-color);
      }
    }
  }
}

// div.selectmenu-menu is described in SelectMenuBodyLevel.scss
