// Select menu drop-downs
div.selectmenu-menu {
  --image-width: 2rem;
  --thumbnail-size: 3rem;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  animation: cfb-fadein .5s;
  opacity: 1;
  position: absolute;
  z-index: 20000;
  ul.selectmenu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--canvas-color-primary);
    border: .1em solid var(--input-border-color);
    border-top: none;
    filter: var(--shadows-dropshadow-filter);
    padding: 0;
    overflow: auto;
    max-height: 10rem;
    z-index: 201;
    position: absolute;
    margin: 0;
    width: 100%;
    transition: all .2s;
    li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin: 0;
      white-space: nowrap;
      padding: var(--input-default-padding);
      > input[type='radio'] {
        display: none;
      }
      &:nth-child(even) {
        background-color: rgba(var(--canvas-color-secondary-rgb), .8);
      }
      &[aria-selected=true] {
        background-color: var(--colors-focus);
        color: var(--colors-text-hot);
        outline: var(--colors-text-hot) dashed .1em;
        outline-offset: -.3em;
      }
      &:focus,
      &:focus-within {
        background-color: var(--colors-affordance);
        color: var(--colors-text-hot);
        outline: var(--colors-text-hot) dashed .1em;
        outline-offset: -.3em;
        text-decoration: underline double;
      }
      @include for-hover-only {
        &:hover {
          background-color: var(--colors-affordance);
          color: var(--colors-text-hot);
        }
      }
    }
  }
  &.imageselector-container {
    >ul.selectmenu {
      >li {
        padding: 0;
        >div.imagesel {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-content: center;
          align-items: center;
          div.thumbnail {
            --thumbnail-size: 5rem;
            margin: 0 1rem 0 0;
            width: var(--thumbnail-size);
            min-width: var(--thumbnail-size);
            height: var(--thumbnail-size);
            min-height: var(--thumbnail-size);
            background-size: cover;
            background-position: center;
            border-radius: .1rem;
          }
          >span.text {
            font-size: 1.2rem;
            padding: var(--input-default-top-padding) var(--input-default-right-padding) var(--input-default-bottom-padding) var(--input-default-right-padding);
          }
        }
      }
    }
  }
  &.vert {
    ul.selectmenu {
      filter: var(--shadows-dropshadow-filter-vertical);
      border-top: .1em solid var(--input-border-color);
      border-bottom: none;
    }
  }
  &[aria-hidden='true'] {
    height: 0;
    max-height: 0;
    box-shadow: none;
    border: none;
    display: none;
  }

}