// Select menu drop-downs
ul#cfb-selectmenu {
  --image-width: 2rem;
  --thumbnail-size: 3rem;
  --menu-bg-color: var(--canvas-color-primary);

  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  animation: cfb-fadein .2s;
  opacity: 1;
  position: absolute;
  z-index: 200000;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--menu-bg-color);
  filter: var(--shadows-dropshadow-filter);
  border-top: none;
  overflow: auto;
  margin: 0;
  width: 100%;
  transition: height .2s, opacity .2s;
  padding: 0 0 .5rem 0;
  box-shadow: inset 0 .1rem 0 0 rgba(var(--light-rgb), .1),
              inset 0 -.1rem 0 0 rgba(var(--grey-midnight-rgb), .3);

  li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0;
    white-space: nowrap;
    padding: var(--input-default-padding);
    cursor: pointer;
    >input[type='radio'] {
      display: none;
    }
    >div.imagesel {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      div.thumbnail {
        --thumbnail-size: 5rem;
        margin: 0 1rem 0 0;
        width: var(--thumbnail-size);
        min-width: var(--thumbnail-size);
        height: var(--thumbnail-size);
        min-height: var(--thumbnail-size);
        background-size: cover;
        background-position: center;
        border-radius: .1rem;
      }
      >div.data {
        padding: var(--input-default-top-padding) var(--input-default-right-padding) var(--input-default-bottom-padding) var(--input-default-right-padding);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        >span.text {
          font-size: 1.2rem;
        }
        >div.meta {
          opacity: 1;
          transition: opacity .2s;
          font-size: .75em;
        }
      }
    }
    &:nth-child(even) {
      background-color: rgba(var(--canvas-color-secondary-rgb), .8);
    }
    &[aria-selected=true] {
      background-color: var(--colors-focus);
      color: var(--colors-text-hot);
      outline: var(--colors-text-hot) dashed .1em;
      outline-offset: -.3em;
    }
    &:focus-within {
      background-color: var(--colors-affordance);
      color: var(--colors-text-hot);
      outline: var(--colors-text-hot) dashed .1em;
      outline-offset: -.3em;
      text-decoration: underline double;
    }
    &:focus {
      background-color: var(--colors-affordance);
      color: var(--colors-text-hot);
      outline: var(--colors-text-hot) dashed .1em;
      outline-offset: -.3em;
      text-decoration: underline double;
    }
    @include for-hover-only {
      &:hover {
        background-color: var(--colors-affordance);
        color: var(--colors-text-hot);
      }
    }
    &[data-match="false"] {
      display: none;
    }
  }
  &.vert {
    filter: var(--shadows-dropshadow-filter-vertical);
    border-top: .1em solid var(--input-border-color);
    border-bottom: none;
  }
  &[aria-hidden='true'] {
    height: 0;
    max-height: 0;
    box-shadow: none;
    border: none;
    display: none;
  }
}