:root {
  --mobile-banner-height: 3em;
  --banner-height: 10em;
  --contentbox-width: 60em;
  --content-width: 48em;
}

body {
  background-color: var(--grey-darkest);
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  background-image: url("../image/med_blue_parchment.png");
  background-attachment: fixed;
}

div#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: var(--contentbox-width);
  max-width: var(--contentbox-width);
  width: var(--contentbox-width);
  min-height: 100vh;
  background-color: var(--canvas-color-primary);
  position: relative;
}
@media (max-width: 599px) {
  div#container {
    --contentbox-width: 100%;
    margin: 0;
  }
}
div#container header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  position: sticky;
  top: -4em;
  height: var(--banner-height);
  z-index: 1500;
  background-image: url("../image/cfb-banner.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
div#container header #content-jump {
  position: absolute;
  left: 1em;
  bottom: 1em;
  z-index: 90000;
}
div#container header h1.cfbtitle {
  color: #6495ED;
  margin: 0 0.5em 0.5em 0.5em;
  justify-content: flex-end;
  text-shadow: var(--text-shadow-heavier);
}
div#container header h1.cfbtitle:after {
  display: none;
}
@media (max-width: 599px) {
  div#container header h1.cfbtitle {
    margin: 0 0.5em 0 0.5em;
  }
}
@media (max-width: 599px) {
  div#container header {
    position: relative;
    top: unset;
    height: var(--mobile-banner-height);
  }
}
div#container nav {
  --tabbar-tab-background-color: var(--tabbar-selected-tab-background-color);
  --tabbar-background-color: var(--tabbar-selected-tab-background-color);
  position: sticky;
  top: 5em;
}
@media (max-width: 599px) {
  div#container nav {
    padding: 0;
    top: 0;
  }
  div#container nav div.responsivebox div.menutitle {
    text-transform: uppercase;
  }
  div#container nav li a {
    text-transform: uppercase;
  }
  div#container nav li a[aria-selected=true] {
    color: var(--tabbar-selected-tab-text-color);
    text-shadow: var(--tabbar-selected-tab-text-shadow);
  }
  div#container nav li:hover {
    background-color: transparent;
    border-color: transparent;
  }
}
div#container main {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 300;
  position: relative;
  background-color: var(--canvas-color-primary);
  padding: 2em;
  width: var(--content-width);
  min-width: var(--content-width);
  max-width: var(--content-width);
  scroll-snap-type: y mandatory;
}
@media (max-width: 599px) {
  div#container main {
    overflow: scroll;
    padding: 2em 1em 2em 1em;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

article {
  animation-name: cfb-fadein;
  animation-duration: 250ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  width: var(--content-width);
  min-width: var(--content-width);
  max-width: var(--content-width);
  position: relative;
}
article[aria-hidden=true] {
  display: none;
}
article h2 {
  margin: 0 0 0.5em 0;
}
@media (max-width: 599px) {
  article {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

code.invoker {
  display: block;
  float: right;
  padding: 1em;
  margin: 0 0 0.5em 0.5em;
}
@media (max-width: 599px) {
  code.invoker {
    float: none;
    width: 100%;
    text-align: right;
    margin-left: 0;
  }
}

div.example {
  margin: 0 0 1em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  clear: both;
}
div.example.centered {
  justify-content: space-between;
}
div.example.vert {
  flex-direction: column;
}
div.example.vert button {
  align-self: flex-start;
}
div.example div.checkbox {
  margin: 1em 0.5em 1em 0.5em;
}

div.wiki span.colorswatch {
  border: 1px dotted var(--grey-darkest);
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-bottom: -0.1em;
}
@media (max-width: 599px) {
  div.wiki figure {
    float: none;
    margin: 1em 0 1em 0;
  }
  div.wiki figure a {
    text-align: center;
  }
}
div.wiki h2 {
  white-space: nowrap;
}
div.wiki table.infobox {
  float: right;
  clear: right;
  border-color: transparent;
  background-color: var(--canvas-color-secondary);
  padding: 1.5em;
  font-size: 80%;
  margin: 0 0 1em 1em;
  width: 22em;
  min-width: 22em;
  max-width: 22em;
}
@media (max-width: 599px) {
  div.wiki table.infobox {
    float: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 1em 0 1em 0;
  }
}
div.wiki table.infobox tr {
  display: flex;
  flex-direction: column;
}
div.wiki table.infobox tr th[scope=row] {
  text-align: left;
  font-weight: normal;
  font-size: 90%;
  text-transform: uppercase;
  color: var(--grey-meddark);
  border-bottom: 1px solid var(--grey-meddark);
  margin-top: 1.2em;
}
div.wiki div.reflist {
  font-size: 80%;
  padding: 0.5em;
  column-width: 30em;
  background-color: var(--canvas-color-secondary);
}

table.glyphchart {
  width: 100%;
}
table.glyphchart tr td.label {
  font-size: 110%;
}
table.glyphchart tr td.icon {
  font-size: 2em;
  text-align: left;
}

body.modalopen div.container {
  filter: blur(3px);
}

/* latin */
@font-face {
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 400;
  src: local("Crimson Text Italic"), local("CrimsonText-Italic"), url(https://fonts.gstatic.com/s/crimsontext/v9/wlpogwHKFkZgtmSR3NB0oRJfajhRK_Z_3rhH.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  src: local("Crimson Text Regular"), local("CrimsonText-Regular"), url(https://fonts.gstatic.com/s/crimsontext/v9/wlp2gwHKFkZgtmSR3NB0oRJfbwhTIfFd3A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gTD_vx3rCubqg.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3g3D_vx3rCubqg.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gbD_vx3rCubqg.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gfD_vx3rCubqg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*# sourceMappingURL=guide.css.map */
