:root {
  // Raw colors
  --cornflowerblue-rgb: 100, 149, 237; // #6495ED
  --cornflowerblue: rgb(var(--cornflowerblue-rgb));
  --cornflowerblue-light-rgb: 216, 228, 250; // #d8e4fa
  --cornflowerblue-light: rgb(var(--cornflowerblue-light-rgb));

  --darkblue-rgb: 0, 84, 166; // #0054a6
  --darkblue: rgb(var(--darkblue-rgb));

  --blue: var(--cornflowerblue); // #6495ED
  --blue-rgb: --cornflowerblue-rgb;

  --red-rgb: 145, 0, 0; // #910000

  //--purple-rgb: 86, 59, 103; // #563b67
  --purple-rgb: 90, 40, 100; // #5a2864
  --purple: rgb(var(--purple-rgb));

  --red: rgb(var(--red-rgb));
  --pink-rgb: 230, 100, 160; // #e664a0
  --pink: rgb(var(--pink-rgb));
  --orange-rgb: 255, 150, 0; // #ff9900
  --orange: rgb(var(--orange-rgb));
  --yellow-rgb: 250, 220, 30; // #fadc1e
  --yellow: rgb(var(--yellow-rgb));
  --green-rgb: 0, 130, 65; // #008241
  --green: rgb(var(--green-rgb));
  --tan-rgb: 234, 220, 188; // #eadcbc
  --tan: rgb(var(--tan-rgb));

  --brown-rgb: 145, 85, 30; // #91551e
  --brown: rgb(var(--brown-rgb));

  --white-rgb: 255, 255, 255;
  --white: rgb(var(--white-rgb));
  --ultralight-rgb: 253, 253, 253;
  --ultralight: rgb(var(--ultralight-rgb));
  --bright-rgb: 238, 238, 238;
  --bright: rgb(var(--bright-rgb));
  --morelight-rgb: 243, 243, 243;
  --morelight: rgb(var(--morelight-rgb));
  --sublight-rgb: 229, 229, 229;
  --sublight: rgb(var(--sublight-rgb));
  --light-rgb: 221, 221, 221;
  --light: rgb(var(--light-rgb));
  --grey-light-rgb: 210, 210, 210;
  --grey-light: rgb(var(--grey-light-rgb));
  --grey-rgb: 204, 204, 204;
  --grey: rgb(var(--grey-rgb));
  --grey-medium-rgb: 153, 153, 153; // #999
  --grey-medium: rgb(var(--grey-medium-rgb));
  --grey-dark-rgb: 102, 102, 102; // #666
  --grey-dark: rgb(var(--grey-dark-rgb));
  --grey-meddark-rgb: 85, 85, 85; // #555
  --grey-meddark: rgb(var(--grey-meddark-rgb));
  --grey-darker-rgb: 68, 68, 68; // #444
  --grey-darker: rgb(var(--grey-darker-rgb));
  --grey-onyx-rgb: 51, 51, 51; // #333;
  --grey-onyx: rgb(var(--grey-onyx-rgb));
  --grey-ink-rgb: 41, 41, 41; // #292929;
  --grey-ink: rgb(var(--grey-onyx-rgb));
  --grey-darkest-rgb: 34, 34, 34; // #222;
  --grey-darkest: rgb(var(--grey-darkest-rgb));
  --grey-void-rgb: 25, 25, 25; // #191919;
  --grey-void: rgb(var(--grey-void-rgb));
  --grey-midnight-rgb: 17, 17, 17; // #111;
  --grey-midnight: rgb(var(--grey-midnight-rgb));
  --black-rgb: 0, 0, 0;
  --black: rgb(var(--black-rgb));
}