
/*
  We want to use variables so that they can be re-themed
 */
:root {

  --fontstack-serif: "Times New Roman", Times, serif;
  --fontstack-sansserif: "Helvetica Neue", Arial, serif;
  --fontstack-monospace: "Lucida Console", Monaco, monospace;

  // Shadows
  --text-shadow-heavy: 0 -.03em .03em rgba(0,0,0, 1), 0 .03em .03em rgba(255,255,255, 1);
  --text-shadow-light: 0 -.03em .03em rgba(0,0,0, .3), 0 .03em .03em rgba(255,255,255, .3);
  --text-shadow-singular: 0 -.03em .03em rgba(0,0,0, .3);
  --on-white-text-shadow: 0 .03em .03em rgba(50,50,50,0.3);
  --text-shadow-heavier: 0 .07em .07em rgba(0,0,0,0.7);

  --box-shadow: .1em .1em .5em 0 rgba(50, 50, 50, 0.5);
  --hover-box-shadow: 0 .1em .1em 0 rgba(50, 50, 50, 0.5);
  --panel-shadow: 0 .5em .5em 0 rgba(0, 0, 0, 0.4);
  --panel-shadow-inverse: 0 -.5em .5em 0 rgba(0, 0, 0, 0.4);
  --panel-shadow-light: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);
  --panel-shadow-light-inverse: 0 -.5em .5em 0 rgba(0, 0, 0, 0.2);
  --interior-shadow: 0 .3em .5em -.3em rgba(0, 0, 0, 0.2);
  --interior-shadow-inverse: 0 -.3em .5em 0 rgba(0, 0, 0, 0.2);
  --interior-shadows-inside-dark: inset 0 .3em .5em 0 rgba(0, 0, 0, 0.2), inset 0 -.3em .5em 0 rgba(0, 0, 0, 0.2);
  --interior-shadows-inside: inset 0 .2em .2em 0 rgba(0, 0, 0, 0.1), inset 0 -.2em .2em 0 rgba(0, 0, 0, 0.2);

  --panel-shadow-filter: drop-shadow(0 .5em .5em rgba(0, 0, 0, 0.4));


  // Default font styles
  --paragraph-measure: auto;
  --font-family: var(--fontstack-sansserif);
  --text-color: var(--grey-dark);
  --hot-text-color: var(--ultralight);
  --required-color: var(--red);
  --text-shadow: var(--text-shadow-light);

  --wide-measure: 40em;
  --thin-measure: 25em;

  --body-background-color: var(--grey-darkest);
  --canvas-color-primary: var(--ultralight);
  --canvas-color-secondary: var(--morelight);
  --canvas-color-tertiary: var(--light);
  --canvas-color-colored: var(--cornflowerblue-translucent);
  --canvas-color-callout-lightweight: var(--blue-translucent);

  // Misc Values
  --default-font-family: var(--fontstack-sansserif);
  --default-font-size: 13pt;
  --border-radius: .2rem;

  // Semantic colors
  --standard-color: var(--grey-dark);
  --placeholder-color: var(--grey-medium);

  --highlight-color: var(--darkblue);
  --focus-color: var(--green);
  --focus-color-half: var(--green-half);
  --focus-color-quarter: var(--green-quarter);
  --focus-color-translucent: var(--green-translucent);
  --focus-color-half-solid: #39784a;

  --constructive-color: var(--green);
  --constructive-color-half: var(--green-half);
  --constructive-color-quarter: var(--green-quarter);
  --constructive-color-translucent: var(--green-translucent);

  --destructive-color: var(--red);
  --destructive-color-helf: var(--red-half);
  --destructive-color-quarter: var(--red-quarter);
  --destructive-color-translucent: var(--red-translucent);

  --accept-color: var(--green);
  --accept-color-half: var(--green-half);
  --accept-color-quarter: var(--green-quarter);
  --accept-color-translucent: var(--green-translucent);
  --accept-stripes: var(--green-stripes);

  --success-color: var(--green);
  --success-color-half: var(--green-half);
  --success-color-quarter: var(--green-quarter);
  --success-color-translucent: var(--green-translucent);
  --success-stripes: var(--green-stripes);

  --error-color: var(--red);
  --error-color-half: var(--red-half);
  --error-color-quarter: var(--red-quarter);
  --error-color-translucent: var(--red-translucent);
  --error-stripes: var(--red-stripes);

  --warning-color: var(--orange);
  --warning-color-half: var(--orange-half);
  --warning-color-quarter: var(--orange-quarter);
  --warning-color-translucent: var(--orange-translucent);
  --warning-stripes: var(--orange-stripes);

  --caution-color: var(--yellow);
  --caution-color-half: var(--yellow-half);
  --caution-color-quarter: var(--yellow-quarter);
  --caution-color-translucent: var(--yellow-translucent);
  --caution-stripes: var(--yellow-stripes);

  --disabled-base-color: var(--light);
  --disabled-base-color-light: var(--morelight);
  --disabled-highlight-color: var(--grey-medium);
  --disabled-color-half: var(--grey-half);
  --disabled-color-quarter: var(--grey-quarter);
  --disabled-color-translucent: var(--grey-translucent);

}
