
/*
  We want to use variables so that they can be re-themed
 */
:root {
  // Font Basics
  --fontstack-serif: "Times New Roman", Times, serif;
  --fontstack-sansserif: "Helvetica Neue", Arial, serif;
  --fontstack-monospace: "Lucida Console", Monaco, monospace;

  --default-font-family: var(--fontstack-sansserif);
  --default-font-size: 13pt;

  --colors-text-default: var(--grey-dark);
  --colors-text-emphasize: var(--grey-darker);
  --colors-text-deemphasize: var(--grey-medium);
  --colors-text-hot: var(--ultralight);

  --text-shadow: 0 -.03em .03em rgba(0,0,0, .3), 0 .03em .03em rgba(255,255,255, .3);
  --text-shadow-inverse: 0 .03em .03em rgba(255,255,255, .3), 0 -.03em .03em rgba(0,0,0, .3);
  --text-shadow-corona: 0 -.03em .03em rgba(255, 255, 255, 0.1), 0 .03em .03em rgba(255, 255, 255, 0.1);

  --wide-measure: 40em;
  --thin-measure: 25em;

  // Canvas colors
  --canvas-color-primary-rgb: var(--ultralight-rgb);
  --canvas-color-primary: rgb(var(--canvas-color-primary-rgb));
  --canvas-color-secondary-rgb: var(--morelight-rgb);
  --canvas-color-secondary: rgb(var(--canvas-color-secondary-rgb));
  --canvas-color-tertiary-rgb: var(--sublight-rgb);
  --canvas-color-tertiary: rgb(var(--canvas-color-tertiary-rgb));
  --canvas-color-highlight-rgb: var(--cornflowerblue-light-rgb);
  --canvas-color-highlight: rgb(var(--canvas-color-highlight-rgb));
  --canvas-color-callout-lightweight: rgba(var(--cornflowerblue-light-rgb), .3);

  // Semantic colors

  // Actions (buttons and links)
  --colors-affordance-rgb: var(--darkblue-rgb); // Default for buttons and links
  --colors-affordance: rgb(var(--colors-affordance-rgb));

  --colors-highlight-rgb: var(--darkblue-rgb);
  --colors-highlight: rgb(var(--colors-highlight-rgb));

  --colors-constructive-rgb: var(--green-rgb); // This moves the action forward
  --colors-constructive: rgb(var(--colors-constructive-rgb));

  --colors-destructive-rgb: var(--red-rgb); // This moves the action backward/cancels
  --colors-destructive: rgb(var(--colors-destructive-rgb));

  // Fields (input elements)
  --colors-standard-rgb: var(--grey-dark-rgb); // Chrome: input borders, input chrome buttons, toggles, etc.
  --colors-standard: var(--grey-dark);

  --placeholder-color-rgb: var(--grey-medium-rgb); // Input placeholders
  --placeholder-color: var(--grey-medium);

  // Status
  --colors-focus-rgb: var(--green-rgb); // Indicates the item has been selected.
  --colors-focus: rgb(var(--colors-focus-rgb));

  --colors-required-rgb: var(--red-rgb); // Operation or element is required
  --colors-required: rgb(var(--colors-required-rgb));

  --colors-success-rgb: var(--green-rgb); // Operation or element is successful
  --colors-success: rgb(var(--colors-success-rgb));

  --colors-error-rgb: var(--red-rgb); // Operation or element is in an error state
  --colors-error: rgb(var(--colors-error-rgb));

  --colors-warning-rgb: var(--orange-rgb); // Operation or element is in an warning state
  --colors-warning: rgb(var(--colors-warning-rgb));

  --colors-caution-rgb: var(--yellow-rgb); // Operation or element is in an caution state
  --colors-caution: rgb(var(--colors-caution-rgb));

  --shadows-dropshadow-filter: drop-shadow(0 .5rem .5rem rgba(0, 0, 0, 0.2));
  --shadows-dropshadow-filter-vertical: drop-shadow(0 -.5rem .5rem rgba(0, 0, 0, 0.2));
  --shadows-interior-frombelow: 0 .3em .5em -.3em rgba(0, 0, 0, 0.2);
  --shadows-interior-fromabove: 0 -.3em .5em 0 rgba(0, 0, 0, 0.1);
  --shadows-panel: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);
  --shadows-panel-light: 0 .5em .5em 0 rgba(0, 0, 0, 0.2);
  --dialog-box-shadow:  0 .28rem .22rem rgba(0, 0, 0, 0.02),
                        0 .67rem .53rem rgba(0, 0, 0, 0.028),
                        0 1.25rem 1rem rgba(0, 0, 0, 0.035),
                        0 2.23rem 1.79rem rgba(0, 0, 0, 0.042),
                        0 4.18rem 3.34rem rgba(0, 0, 0, 0.05),
                        0 10rem 8rem rgba(0, 0, 0, 0.07);

  --shadows-smooth-up:  0 -.05rem .07rem -.3rem rgba(0, 0, 0, .2),
                        0 -.14rem .15rem -.2rem rgba(0, 0, 0, .1),
                        0 -.28rem .22rem -.1rem rgba(0, 0, 0, 0.02),
                        0 -.67rem .53rem -.05rem rgba(0, 0, 0, 0.028),
                        0 -1.25rem 1rem -.025rem rgba(0, 0, 0, 0.035),
                        0 -2.23rem 1.79rem rgba(0, 0, 0, 0.042);

  --shadows-smooth-dn:  0 .05rem .07rem -.3rem rgba(0, 0, 0, .2),
                        0 .14rem .15rem -.2rem rgba(0, 0, 0, .1),
                        0 .28rem .22rem -.1rem rgba(0, 0, 0, 0.02),
                        0 .67rem .53rem -.05rem rgba(0, 0, 0, 0.028),
                        0 1.25rem 1rem -.025rem rgba(0, 0, 0, 0.035),
                        0 2.23rem 1.79rem rgba(0, 0, 0, 0.042);

  //    box-shadow: 0 .3em .5em -.3em rgba(0, 0, 0, 0.5);
  --shadows-smooth-dn-small:  0 .1rem .3rem -.3rem rgba(0, 0, 0, .8),
                              0 .2rem .5rem -.2rem rgba(0, 0, 0, .5),
                              0 .3rem .8rem -.1rem rgba(0, 0, 0, .3);

  --shadows-smooth-up-small:  0 -.1rem .3rem -.3rem rgba(0, 0, 0, .8),
                              0 -.2rem .5rem -.2rem rgba(0, 0, 0, .5),
                              0 -.3rem .8rem -.1rem rgba(0, 0, 0, .3);

  // Misc Values
  --border-radius: .2rem; // Applies to evverything except form inputs

  // Dialog keys
  --dialog-window-mask-color: var(--white);
  --dialog-window-mask-opacity: .25;
  --dialog-min-width: 25rem;
  --dialog-content-elements-width: 35rem;
  --dialog-lightbox-background-color: var(--black);
  --dialog-lightbox-text-color: var(--colors-text-hot);

  // Panels
  --panel-max-width: 22em;
  --panel-border-radius: var(--border-radius);
  --panel-background-color: var(--canvas-color-primary);
  --panel-box-shadow: var(--shadows-panel-light);
  --panel-text-color: var(--grey-darkest);
  --panel-text-shadow: var(--text-shadow);
  --panel-padding: .5em 1em .5em 1em;
  --panel-closed-hover-background-color: var(--focus-color);
  --panel-closed-hover-text-color: var(--colors-text-hot);

  // Progressmeter
  --progressmeter-core-color-rgb: var(--colors-highlight-rgb);
  --progressmeter-core-color: rgb(var(--progressmeter-core-color-rgb));
  --progressmeter-gutter-color: rgba(var(--progressmeter-core-color-rgb), 0.25);
  --progressmeter-tick-color: var(--colors-text-hot);

  // TabBars
  --tabbar-tab-height: 3em;
  --tabbar-background-color: var(--canvas-color-primary);
  --tabbar-box-shadow: var(--shadows-panel-light);
  --tabbar-collapsed-height: 3.5em;

  // Checkboxes
  --checkbox-size: 2em; // Total box size
  --checkbox-font-size: 2em; // For the checkmark symbol
  --checkbox-toggle-size: 1.3em; // For filled checkboxes and radios
  --checkbox-toggle-offset: 0.2em;

  // Input
  --input-default-top-padding: .5rem;
  --input-default-bottom-padding: .5rem;
  --input-default-left-padding: 1.5rem;
  --input-default-right-padding: 1rem;
  --input-default-padding: var(--input-default-top-padding) var(--input-default-right-padding) var(--input-default-bottom-padding) var(--input-default-left-padding);

  // This is more like a "chrome" color. Input borders but also specific controls like steppers.
  --input-border-color-rgb: var(--colors-standard-rgb);
  --input-border-color: rgb(var(--input-border-color-rgb));

  // Growler keys
  --growler-core-color-rgb: var(--colors-highlight-rgb);
  --growler-core-color: rgb(var(--growler-core-color-rgb));
  --growler-header-text-color: var(--colors-hot-text);

}
