div.datepicker {
  --datepicker-cell-dimensions: 2.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 1;
  background-color: var(--canvas-color-tertiary);
  z-index: 4000;
  margin: 1em;
  div.monthbox {
    padding: .5em;
    div.month {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      div.datepicker-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: .5em;
        div.name {
          text-transform: uppercase;
          color: var(--colors-highlight);
          margin-right: auto;
        }
        button{
          margin: 0;
        }
      }
      table.month {
        th,
        td {
          width: var(--datepicker-cell-dimensions);
          min-width: var(--datepicker-cell-dimensions);
          max-width: var(--datepicker-cell-dimensions);
          height: var(--datepicker-cell-dimensions);
          min-height: var(--datepicker-cell-dimensions);
          max-height: var(--datepicker-cell-dimensions);
          text-align: center;
          padding: 0;
          font-size: .8em;
        }
        th { }
        td {
          a {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: var(--canvas-color-tertiary);
            &.cmonth {
              background-color: var(--canvas-color-callout-lightweight);
            }
            &.today {
              color: var(--colors-text-hot);
              background-color: var(--colors-highlight);
              font-weight: bold;
            }
            &.past { }
            &[aria-selected='true'] {
              border: .2em solid var(--colors-focus);
              --link-color: var(--colors-focus);
              opacity: 1;
              font-weight: bold;
            }
            &.future {
              font-weight: bold;
            }
            @include for-hover-only {
              &:hover {
                color: var(--colors-text-hot);
                background-color: var(--colors-affordance);
                filter: none;
                &.past {
                  opacity: 1;
                }
              }
            }
            &:active,
            &:focus {
              opacity: 1;
              color: var(--colors-text-hot);
              background-color: var(--colors-affordance);
              outline: var(--colors-text-hot) dashed .1em;
              outline-offset: -.3em;
            }
            &[aria-disabled="true"],
            &:disabled {
              opacity: .5;
              cursor: not-allowed;
              text-shadow: none;
              box-shadow: none;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
  div.timeinput-container {
    padding: 0 .5rem;
  }
  &.button-menu {
    padding: 0;
    position: absolute;
    margin: 0 0 0 .3em;
    overflow: visible;
    z-index: 20000;
    border-radius: var(--border-radius);
    border: .1em solid var(--canvas-color-primary);
    background-color: var(--canvas-color-primary);
    div.monthbox {
      padding: 0;
    }
  }
}
div.timebox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  input[data-time="hours"],
  input[data-time="minutes"] {
    max-width: 2rem;
    width: 2rem;
    box-shadow: none;
    background-color: var(--canvas-color-secondary);
    font-size: .8em;
  }

  input[data-time="hours"] {
    padding: .5rem .25rem .5rem .25rem;
    box-shadow: inset 0 -.1rem 0 rgb(var(--input-border-color-rgb)),
                inset 0 .1rem 0 rgb(var(--input-border-color-rgb)),
                inset .1rem 0 0 rgb(var(--input-border-color-rgb));
  }
  >span {
    transition: opacity .2s, box-shadow .2s;
    background-color: var(--canvas-color-secondary);
    box-shadow: inset 0 -.1rem 0 rgb(var(--input-border-color-rgb)),
                inset 0 .1rem 0 rgb(var(--input-border-color-rgb));
    font-style: oblique;
    font-size: 1rem;
    padding: .5rem 0;
  }
  input[data-time="minutes"] {
    padding: .5rem .25rem .5rem .25rem;
    box-shadow: inset 0 -.1rem 0 rgb(var(--input-border-color-rgb)),
                inset 0 .1rem 0 rgb(var(--input-border-color-rgb)),
                inset -.1rem 0 0 rgb(var(--input-border-color-rgb));
  }
  >div.toggleset {
    flex-grow: 0;
    margin: 0 .5rem;
    font-size: .8rem;
  }
  &.focus {
    --input-border-color-rgb: var(--colors-affordance-rgb);
  }
  &.mute {
    >input[data-time="hours"],
    >input[data-time="minutes"],
    >span {
      background-color: var(--canvas-color-secondary);
      box-shadow: inset 0 -.1rem 0 0 rgb(var(--input-border-color-rgb));
    }
    &.focus {
      >input,
      >span {
        --input-border-color-rgb: var(--colors-affordance-rgb);
        background-color: rgba(var(--input-border-color-rgb), 0.05);
        box-shadow: inset 0 -.2rem 0 0 rgb(var(--input-border-color-rgb));
      }
    }
  }
}
div.toggleset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: baseline;
  >button,
  >a.button {
    margin: 0;
    border-radius: 0;
    background-color: rgba(var(--canvas-color-tertiary-rgb), .5);
    color: var(--colors-affordance);
    background-image: none;
    box-shadow: inset -.1em 0 0 0 var(--grey);

    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
    &:last-child {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      box-shadow: none;
    }
    &[aria-selected="true"] {
      --button-border-color: var(--colors-local);
      box-shadow: inset 0 0 0 .1em var(--button-border-color);
      background-color: rgba(var(--colors-highlight-rgb), .2);
    }
    &:focus,
    &.focus,
    &:active,
    &.active {
      color: var(--colors-text-hot);
      background-color: var(--colors-local);
      text-shadow: var(--text-shadow);
      box-shadow: 0 .1em .5em 0 rgba(var(--grey-darker-rgb), 0.7);
    }
    @include for-hover-only {
      &:hover {
        color: var(--colors-text-hot);
        background-color: var(--colors-local);
        text-shadow: var(--text-shadow);
        box-shadow: 0 .1em .5em 0 rgba(var(--grey-darker-rgb), 0.7);
      }
    }
  }
}
*[data-menuid].datepicker {
  position: absolute;
  margin: 0;
}