div.window-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2001;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  &.screened {
    width: 100%;
    position: absolute;
  }
  div.dialog {
    background-color: var(--canvas-color-primary);
    padding: 0;
    text-align: left;
    max-height: 90%;
    min-width: var(--dialog-min-width);
    margin: 2rem auto;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    //filter: var(--shadows-dropshadow-filter);
    box-shadow: var(--dialog-box-shadow);
    flex-grow: 0;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    transition: all 0.2s;
    animation-duration: .2s;
    animation-name: cfb-pushup;
    z-index: 2002;
    >h2 {
      background-color: var(--colors-standard);
      color: var(--colors-text-hot);
      text-shadow: var(--text-shadow);
      margin: 0;
      font-weight: normal;
      font-size: 1.5em;
      padding: .5rem 1.5rem;
      position: relative;
      width: 100%;
      border-bottom: .1em solid var(--colors-standard);
      box-shadow: var(--shadows-interior-frombelow);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      z-index: 2009;
      &:after {
        display: none;
      }
      > button.closebutton {
        position: relative;
        color: var(--colors-text-hot);
        text-shadow: var(--text-shadow);
      }
    }
    >div.content {
      margin: 0;
      overflow: auto;
      z-index: 2005;
      flex-grow: 2;
      padding: .5rem 1.5rem;
    }
    div.actions {
      position: relative;
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      //height: 5em;
      //min-height: 5em;
      //max-height: 5em;
      overflow: hidden;
      z-index: 9;
      padding: .5rem 1rem;
      background-color: var(--canvas-color-secondary);
      //border-top: .1em solid var(--canvas-color-tertiary);
      box-shadow: var(--shadows-interior-fromabove);
      button {
        margin: 0 1rem 0 0;
        &.fill {
          margin: 0;
        }
      }
      button:first-child {
        margin-left: 0;
      }
      button:last-child:not(:only-of-type) {
        margin-left: auto;
        margin-right: 0;
        &:first-child {
          margin-left: 0;
        }
        &:last-child:not(:only-of-type) {
          margin-left: auto;
          margin-right: 0;
        }
      }

    }
    &.isform {
      div.content {
        margin: 0;
        padding: 0;
        overflow: hidden;
        form {
          position: relative;
          margin: 0;
          border: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          height: 100%;
          div.contentbox {
            position: relative;
            flex-grow: 1;
            padding: .5rem 1.5rem;
            overflow: auto;
            z-index: 10;
            div.header,
            div.elements {
              min-width: var(--dialog-content-elements-width);
              padding: 0;
            }
          }
          div.actions {
            position: relative;
            flex-grow: 0;
            flex-shrink: 0;
            height: 5rem;
            min-height: 5rem;
            max-height: 5rem;
            overflow: hidden;
            z-index: 9;
          }
        }
      }
    }
    &.lightbox {
      margin: 1rem;
      min-height: 99vh;
      max-height: 99vh;
      height: 99vh;
      min-width: 99vw;
      max-width: 99vw;
      width: 99vw;
      h2 {
        background-color: var(--dialog-lightbox-background-color);
        color: var(--dialog-lightbox-text-color);
      }
      div.content {
        text-align: center;
        padding: 1rem;
        background-color: var(--dialog-lightbox-background-color);
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          display: inline-block;
          max-height: 100%;
          max-width: 100%;
          padding: 0;
          width: auto;
          height: auto;
          vertical-align: middle;
        }
      }
    }
    &.noheader {
      > button.closebutton {
        position: absolute;
        color: var(--colors-text-hot);
        text-shadow: var(--text-shadow);
        right: 1rem;
        top: 1rem;
        z-index: 5000;
      }
    }
    @include for-phone-only {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      height: auto;
      min-height: unset;
      max-height: 100vh;
      &.isform {
        div.content {
          form {
            div.contentbox {
              div.header,
              div.elements {
                min-width: 100%;
              }
            }
          }
        }
      }
    }
  }
  div.trailer {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 100%;
    color: var(--colors-text-hot);
    pointer-events: auto;
    @include for-phone-only {
      padding: .5em;
    }
  }
  &.lightbox {
    background-color: var(--dialog-lightbox-background-color);
  }
}
div.window-mask {
  background-color: var(--dialog-window-mask-color);
  opacity: var(--dialog-window-mask-opacity);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  &.screened {
    position: relative;
    width: 100%;
  }
}
