div.growlbox {
  z-index: 50000;
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: var(--growlbox-max-width);
  &.top-left {
    top: 1rem;
    left: 1rem;
  }
  &.top-right {
    top: 1rem;
    right: 1rem;
  }
  &.bottom-left {
    bottom: 1rem;
    left: 1rem;
  }
  &.bottom-right {
    bottom: 1rem;
    right: 1rem;
  }
  &.top-center {
    top: 1rem;
    right: 1rem;
    left: 1rem;
    margin-left: auto;
    margin-right: auto;
    .growler {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.bottom-center {
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
div.growler {
  --growler-max-width: 20rem;
  animation: cfb-fadein .5s;
  opacity: 1;
  position: relative;
  border-radius: var(--border-radius);
  transition: all .5s ease-in-out;
  filter: var(--shadows-dropshadow-filter);
  color: var(--colors-standard);
  background-color: var(--canvas-color-secondary);
  margin: 0 auto 1rem auto;
  padding: 0;
  width: var(--growler-max-width);
  max-width: var(--growler-max-width);
  min-width: var(--growler-max-width);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  &[aria-hidden=true] {
    opacity: 0;
  }
  >button.closebutton {
    position: absolute;
    top: .5em;
    right: .5em;
    margin: 0;
    padding: 0;
    color: var(--colors-standard);
    text-shadow: var(--text-shadow);
    font-size: 1rem;
    &:active,
    &:focus,
    &:hover {
      opacity: 1;
    }
  }
  h3 {
    --growler-header-text-color: var(--colors-text-hot);
    background-color: var(--growler-core-color);
    color: var(--growler-header-text-color);
    display: flex;
    margin: 0;
    padding: .5em 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-transform: unset;
    white-space: nowrap;
    span.text {
      text-shadow: var(--text-shadow);
    }
    button.closebutton {
      color: var(--growler-header-text-color);
      margin: 0;
      position: relative;
      left: auto;
      top: auto;
      width: unset;
      height: unset;
      @include for-hover-only {
        &:hover {
          text-shadow: var(--text-shadow);
        }
      }
    }
  }
  div.payload {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent .5rem, rgba(var(--growler-core-color-rgb), 0.05) .5rem, rgba(var(--growler-core-color-rgb), 0.05) 1rem);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--colors-standard);
    text-shadow: var(--text-shadow);
    span.icon.i {
      font-size: 30pt;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0;
      color: var(--colors-standard);
      text-shadow: var(--text-shadow);
    }
    div.text {
      font-size: 1.1rem;
      padding: 0 0 0 .5em;
    }
  }
  &.error {
    --growler-core-color-rgb: var(--colors-error-rgb);
    --growler-core-color: var(--colors-error);
  }
  &.warn {
    --growler-core-color-rgb: var(--colors-warning-rgb);
    --growler-header-text-color: var(--colors-standard);
    --growler-core-color: var(--colors-warning);
  }
  &.caution {
    --growler-core-color-rgb: var(--colors-caution-rgb);
    --growler-header-text-color: var(--colors-standard);
    --growler-core-color: var(--colors-caution);
  }
  &.success {
    --growler-core-color-rgb: var(--colors-success-rgb);
    --growler-core-color: var(--colors-success);
  }
}

