:root {
  // Growler keys
  --growlbox-max-width: 22em;
  --growler-core-color: var(--blue);
  --growler-max-width: 20em;
  --growler-border-radius: var(--border-radius);
  --growler-box-shadow: var(--panel-shadow);
  --growler-text-color: var(--grey-darkest);
  --growler-text-shadow: var(--text-shadow);
  --growler-default-background-color: var(--ultralight);
  --growler-default-border-color: var(--growler-core-color);
  --growler-header-text-color: var(--ultralight);
  --growler-header-text-shadow: var(--text-shadow);
  --growler-header-background-color: var(--growler-core-color);
}
div.growlbox {
  z-index: 50000;
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: var(--growlbox-max-width);
  &.top-left {
    top: 1em;
    left: 1em;
  }
  &.top-right {
    top: 1em;
    right: 1em;
  }
  &.bottom-left {
    bottom: 1em;
    left: 1em;
  }
  &.bottom-right {
    bottom: 1em;
    right: 1em;
  }
  &.top-center {
    top: 1em;
    right: 1em;
    left: 1em;
    margin-left: auto;
    margin-right: auto;
    .growler {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.bottom-center {
    bottom: 1em;
    right: 1em;
    left: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}
div.growler {
  animation: cfb-fadein .5s;
  opacity: 1;
  position: relative;
  border-radius: var(--growler-border-radius);
  transition: all .5s ease-in-out;
  border: .1em solid var(--growler-default-border-color);
  box-shadow: var(--growler-box-shadow);
  color: var(--growler-default-text-color);
  background-color: var(--growler-default-background-color);
  margin: 0 auto 1rem auto;
  padding: 0;
  width: var(--growler-max-width);
  max-width: var(--growler-max-width);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  &[aria-hidden=true] {
    opacity: 0;
  }
  button.closebutton {
    position: absolute;
    top: .5em;
    right: .5em;
    margin: 0;
    padding: 0;
    color: var(--growler-text-color);
    text-shadow: var(--growler-text-shadow);
    font-size: 1em;
    &:active,
    &:focus,
    &:hover {
      opacity: 1;
    }
  }
  h3 {
    background-color: var(--growler-core-color);
    color: var(--growler-header-text-color);
    display: flex;
    margin: 0;
    padding: .5em 0 .5em 1em;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    text-transform: unset;
    white-space: nowrap;
    span.text {
      text-shadow: var(--growler-header-text-shadow);
    }
    button.closebutton {
      color: var(--growler-header-text-color);
      margin: 0;
      position: relative;
      left: auto;
      top: auto;
      width: unset;
      height: unset;
      @include for-hover-only {
        &:hover {
          text-shadow: var(--growler-header-text-shadow);
        }
      }
    }
  }
  div.payload {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--growler-text-color);
    text-shadow: var(--growler-text-shadow);
    span.icon.i {
      font-size: 30pt;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0;
      color: var(--growler-text-color);
      text-shadow: var(--growler-text-shadow);
    }
    div.text {
      font-size: 1.1em;
      padding: 0 0 0 .5em;
    }
  }
  &.error {
    --growler-core-color: var(--error-color);
    border-color: var(--error-color);
    div.payload {
      background-image: var(--error-stripes);
    }
  }
  &.warn {
    --growler-core-color: var(--warning-color);
    border-color: var(--warning-color);
    div.payload {
      background-image: var(--warning-stripes);
    }
  }
  &.caution {
    --growler-header-text-color: var(--growler-text-color);
    --growler-core-color: var(--caution-color);
    border-color: var(--caution-color);
    div.payload {
      background-image: var(--caution-stripes);
    }
  }
  &.success {
    --growler-core-color: var(--success-color);
    border-color: var(--success-color);
    div.payload {
      background-image: var(--success-stripes);
    }
  }
}

