div.panel,
section.panel {
  transition: all .2s ease-in-out;
  text-shadow: var(--panel-text-shadow);
  color: var(--panel-text-color);
  background-color: var(--panel-background-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  position: relative;
  h3.panelheader {
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom: .1em var(--panel-text-color);
    color: var(--panel-text-color);
    --button-default-color: var(--panel-text-color);
    button.headerbutton {
      padding: .5rem;
      outline-offset: -.3rem;
      &:focus,
      &:active {
        opacity: 1;
        background: none;
        box-shadow: none;
      }
      @include for-hover-only {
        &:hover {
          opacity: 1;
          background: none;
          box-shadow: none;
        }
      }
    }
    &.nocollapse {
      padding: 1em;
    }
    @include for-hover-only {
      &:hover {
        color: var(--panel-text-color);
      }
    }
  }
  div.content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    transition: height .2s, opacity .1s, padding .2s;
    height: auto;
    padding: .5rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
  &[aria-hidden=true] {
    display: none;
  }
  &[aria-expanded=false] {
    h3 {
      border-radius: var(--border-radius);
      button.headerbutton {
        span.secondicon {
          transform: rotate(-180deg);
        }
      }
    }
    div.content {
      height: 0;
      max-height: 0;
      visibility: hidden;
      opacity: 0;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
    }
  }
  &.floating {
    position: absolute;
    z-index: 1000;
    border-radius: var(--panel-border-radius);
    box-shadow: var(--panel-box-shadow);
  }
  // Styles
  &.invisible {
    background-color: transparent;
    box-shadow: none;
  }
  // Locations
  &.top-left {
    top: 1em;
    left: 1em;
  }
  &.top-right {
    top: 1em;
    right: 1em;
  }
  &.bottom-left {
    bottom: 1em;
    left: 1em;
  }
  &.bottom-right {
    bottom: 1em;
    right: 1em;
  }
  &.top-center {
    top: 1em;
    right: 1em;
    left: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  &.bottom-center {
    bottom: 1em;
    right: 1em;
    left: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  &.free {
    position: relative;
    margin: unset;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
  }
}
