:root {
  // Panels
  --panel-max-width: 22em;
  --panel-border-radius: var(--border-radius);
  --panel-background-color: var(--canvas-color-primary);
  --panel-box-shadow: var(--panel-shadow);
  --panel-text-color: var(--grey-darkest);
  --panel-text-shadow: var(--text-shadow);
  --panel-padding: .5em 1em .5em 1em;
  --panel-closed-hover-background-color: var(--focus-color);
  --panel-closed-hover-text-color: var(--hot-text-color);
}
div.panel {
  transition: all .2s ease-in-out;
  text-shadow: var(--panel-text-shadow);
  color: var(--panel-text-color);
  background-color: var(--panel-background-color);
  margin: 0;
  padding: var(--panel-padding);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  h3.panelheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom: .1em var(--panel-text-color);
    color: var(--panel-text-color);
    --button-default-color: var(--panel-text-color);
    button.headerbutton {
      padding: 1em;
      outline-offset: -.3em;
      &:focus,
      &:active {
        opacity: 1;
        background: none;
        box-shadow: none;
      }
      @include for-hover-only {
        &:hover {
          opacity: 1;
          background: none;
          box-shadow: none;
        }
      }
    }
    &.nocollapse {
      padding: 1em;
    }
    &:focus-within {

    }
    @include for-hover-only {
      &:hover {
        color: var(--panel-text-color);
      }
    }
  }
  div.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    transition: all .2s;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
  &[aria-hidden=true] {
    display: none;
  }
  &[aria-expanded=false] {
    h3 {
      border-radius: var(--border-radius);
      button.headerbutton {
        span.icon {
          transform: rotate(-180deg);
        }
      }
    }
    div.content {
      display: none;
    }
  }
  &.floating {
    position: absolute;
    z-index: 1000;
    border-radius: var(--panel-border-radius);
    box-shadow: var(--panel-box-shadow);
  }
  // Styles
  &.ghost {
    opacity: .5;
    &:hover,
    &:focus,
    &:focus-within {
      opacity: 1;
    }
  }
  &.invisible {
    background-color: transparent;
    box-shadow: none;
  }
  // Locations
  &.top-left {
    top: 1em;
    left: 1em;
  }
  &.top-right {
    top: 1em;
    right: 1em;
  }
  &.bottom-left {
    bottom: 1em;
    left: 1em;
  }
  &.bottom-right {
    bottom: 1em;
    right: 1em;
  }
  &.top-center {
    top: 1em;
    right: 1em;
    left: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  &.bottom-center {
    bottom: 1em;
    right: 1em;
    left: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}
