div.tooltip {
  font-family: var(--default-font-family);
  font-size: 1em;
  animation: cfb-fadein .2s;
  opacity: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  margin: 0;
  padding: .5rem;
  min-height: 2.7rem;
  overflow: visible;
  z-index: 21000;
  border-radius: var(--border-radius);
  background-color: var(--canvas-color-highlight);
  color: var(--colors-standard);
  text-shadow: var(--text-shadow);
  filter: var(--shadows-dropshadow-filter);
  max-width: 33em;
  white-space: normal;
  line-height: 1.2;
  text-align: left;
  &[aria-hidden='true'] {
    display: none;
  }
  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    left: 1rem;
    bottom: -.5rem;
    border-color: var(--canvas-color-highlight) transparent;
    border-width: .5rem .5rem 0 .5rem;
  }
  &.unfixed {
    min-width: unset;
  }
  &[data-gravity="n"] {
    &:before {
      left: calc((100% / 2) - .5rem);
    }
  }
  &[data-gravity="s"] {
    &:before {
      bottom: unset;
      top: -.4em;
      left: calc((100% / 2) - .5rem);
      border-width: 0 .5rem .5rem .5rem;
    }
  }
  &[data-gravity="sw"] {
    &:before {
      bottom: unset;
      top: -.5rem;
      border-width: 0 .5rem .5rem .5rem;
    }
  }
  &[data-gravity="w"] {
    &:before {
      left: unset;
      right: -.5rem;
      bottom: unset;
      top: .5rem;
      border-color: transparent var(--canvas-color-highlight);
      border-width: .5rem 0 .5rem .5rem;
    }
  }
  &[data-gravity="e"] {
    &:before {
      left: -.5rem;
      bottom: unset;
      top: .5rem;
      border-color: transparent var(--canvas-color-highlight);
      border-width: .5rem .5rem .5rem 0;
    }
  }
}
div.d3tooltip {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-size: 1.5rem;
  animation: cfb-fadein .5s;
  opacity: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: .5rem .75rem;
  min-height: 2.7rem;
  overflow: visible;
  z-index: 21000;
  border-radius: var(--border-radius);
  background-color: var(--canvas-color-highlight);
  color: var(--colors-standard);
  text-shadow: var(--text-shadow);
  filter: var(--shadows-dropshadow-filter);
}
