:root {
  // Tooltip
  --tooltip-border-radius: var(--border-radius);
  --tooltip-background-color: var(--canvas-color-colored);
  --tooltip-text-color: var(--standard-color);
  --tooltip-text-shadow: var(--text-shadow);
  --tooltip-box-shadow: drop-shadow(0 .5em .5em rgba(0, 0, 0, 0.4));
}
div.tooltip {
  animation: cfb-fadein .5s;
  opacity: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: .5em .75em .5em .75em;
  min-height: 2.7em;
  overflow: visible;
  z-index: 21000;
  border-radius: var(--tooltip-border-radius);
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  text-shadow: var(--tooltip-text-shadow);
  filter: var(--tooltip-box-shadow);
  &[aria-hidden='true'] {
    display: none;
  }
  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-color: var(--tooltip-background-color) transparent;
    left: 1em;
    bottom: -.5em;
    border-width: .5em .5em 0 .5em;
  }
  span.tipicon {
    padding: 0;
    margin: 0 1em 0 0;
  }
  div.tiptext {
    max-width: 33em;
    //min-width: 15em;
    white-space: normal;
    line-height: 1.2;
    text-align: left;
    font-size: 1em;
  }
  &.unfixed {
    div.tiptext{
      min-width: unset;
    }
  }
  &.south {
    &:before {
      bottom: unset;
      top: -.5em;
      border-width: 0 .5em .5em .5em;
    }
  }
  &.west {
    &:before {
      left: unset;
      right: -.5em;
      bottom: unset;
      top: .5em;
      border-color: transparent var(--tooltip-background-color);
      border-width: .5em 0 .5em .5em;
    }
  }
  &.east {
    &:before {
      left: -.5em;
      bottom: unset;
      top: .5em;
      border-color: transparent var(--tooltip-background-color);
      border-width: .5em .5em .5em 0;
    }
  }
}
