:root {
  --tabbar-background-color: var(--canvas-color-tertiary);
  --tabbar-box-shadow: none;
}

body {
  background-color: var(--grey-darkest);
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  background-image: url('../image/med_blue_parchment.png');
}

div#container {
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  max-width: 75%;
  min-height: 100vh; // only set min-height
  background-color: var(--grey-dark);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  ul.tabbar {
    --tabbar-tab-background-color: transparent;
    flex-grow: 0;
    padding-top: 2em;
    width: 10em;
    min-width: 200px;
    background-image: url('../image/light_grunge.png');
  }
  div.displaybox {
    flex-grow: 1;
    background-color: var(--canvas-color-primary);
    padding: 2em;

    code.invoker {
      display: block;
      float: right;
      padding: 1em;
      margin: 0 0 .5em .5em;
    }
  }
  div#codebox {
    flex-grow: 0;
    padding: 3em 1em 0 1em;
    background-color: var(--canvas-color-secondary);
    width: 25em;
    max-width: 25em;
    min-width: 25em;
    font-size: 80%;
    div.config {
      padding: .5em;
      overflow: auto;
      white-space: pre;
      font-family: "Courier New", Courier, monospace;
      span.key {
        color: var(--grey-darkest);
        font-weight: bold;
      }
      span.value {
        color: var(--blue);
      }
      span.default {
        span.value,
        span.key {
          color: var(--grey-medium);
        }
      }
    }
  }
}

div.example {
  margin: 0 0 1em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  &.centered {
    justify-content: space-between;
  }
  &.vert {
    flex-direction: column;
  }
  div.checkbox {
    margin: 1em .5em 1em .5em
  }
  button {
    &.hexagon:nth-child(even) {
      left: 0;
      top: 0;
    }
  }
}

div.wiki {

  span.colorswatch {
    border: 1px dotted var(--grey-darkest);
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-bottom: -.1em;
  }
  table.infobox {
    float: right;
    clear: right;
    border-color: transparent;
    background-color: var(--canvas-color-secondary);
    padding:1.5em;
    font-size: 80%;
    margin: 0 0 1em 1em;
    tr {
      display: flex;
      flex-direction:column;
      th[scope=row] {
        text-align: left;
        font-weight: normal;
        font-size:90%;
        text-transform: uppercase;
        color: var(--grey-meddark);
        border-bottom: 1px solid var(--grey-meddark);
        margin-top: 1.2em;
      }
    }
  }
  div.reflist {
    font-size: 80%;
    padding: .5em;
    column-width: 30em;
    background-color: var(--canvas-color-secondary);
  }
}


body.modalopen {
  div.container {
    //animation: blurify .1s;
    filter: blur(3px);
  }
}

@-webkit-keyframes blurify {
  0% { filter: blur(1px); }
  50% { filter: blur(2px); }
  100% { filter: blur(3px); }
}