:root {
  --tabbar-background-color: var(--light);
  --tabbar-box-shadow: none;
  --dialog-window-mask-opacity: .25;
}

body {
  background-color: var(--grey-darkest);
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
}

div.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  max-width: 75%;
  min-height: 100%; // only set min-height
  background-color: var(--grey-dark);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  ul.tabbar {
    flex-grow: 0;
    padding-top: 2em;
    width: 10em;
    min-width: 200px;
  }
  div.displaybox {
    flex-grow: 1;
    background-color: var(--canvas-color-standard);
    padding: 2em;
  }
  div.codebox {
    flex-grow: 0;
    padding: 3em 1em 0 1em;
    background-color: var(--morelight);
    width: 25em;
    max-width: 25em;
    min-width: 25em;
    font-size: 80%;
    div.config {
      padding: .5em;
      overflow: auto;
      white-space: pre;
      span.key {
        color: var(--grey-darkest);
        font-weight: bold;
      }
      span.value {
        color: var(--blue);
      }
      span.default {
        span.value,
        span.key {
          color: var(--grey-medium);
        }
      }
    }
  }
}

.section {
  margin: 1.5em 0 1.5em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  &.centered {
    justify-content: space-between;
  }
  &.vert {
    flex-direction: column;
  }
  div.checkbox {
    margin: 1em .5em 1em .5em
  }
  button {
    &.hexagon:nth-child(even) {
      left: 0;
      top: 0;
    }
  }
}

body.modalopen {
  div.container {
    //animation: blurify .1s;
    filter: blur(3px);
  }
}

@-webkit-keyframes blurify {
  0% { filter: blur(1px); }
  50% { filter: blur(2px); }
  100% { filter: blur(3px); }
}