:root {
  --tabbar-background-color: var(--light);
  --tabbar-box-shadow: none;
}

body {
  background-color: var(--grey-darkest);
  //height: 100vw;
  min-height: 100vw;
  width: 100vw;
  min-width: 100vw;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
}

div.container {
  height: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  max-width: 75%;
  background-color: var(--grey-dark);
  display: flex;
  flex-direction: row;
  align-items: stretch;

  ul.tabbar {
    flex-grow: 0;
    padding-top: 25px;
    width: 200px;
    min-width: 200px;
  }

  div.displaybox {
    flex-grow: 1;
    background-color: var(--ultralight);
    padding: 50px;
  }

  div.codebox {
    flex-grow: 0;
    padding: 50px 10px 0 10px;
    background-color: var(--morelight);
    width: 300px;
    font-size: 80%;
    div.config {
      padding: 0 10px 0 10px;
      white-space: pre;


      span.key {
        color: var(--grey-darkest);
        font-weight: bold;
      }
      span.value {
        color: var(--blue);
      }
    }
  }
}

.section {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &.vert {
    flex-direction: column;
  }
  div.checkbox {
    margin: 1em .5em 1em .5em
  }
  button {
    margin: 10px;
    &.hexagon:nth-child(even) {
      left: 0;
      top: 0;
    }
  }
}
