:root {
  // Code
  --code-font-family: var(--fontstack-monospace);
}
blockquote {
  display: block;
  padding: 1rem;
  margin: 1rem auto .5rem auto;
  width: 70%;
  max-width: 70%;
  min-width: 70%;
  font-style: oblique;
  border-bottom: .1em solid var(--colors-highlight);
  border-top: .1em solid var(--colors-highlight);
  background-color: var(--canvas-color-highlight);
  color: var(--colors-highlight);
  text-shadow: var(--text-shadow);
  p {
    margin: .5rem;
  }
}
aside {
  display: block;
  float: right;
  padding: 1rem;
  margin: 0 0 .5rem .5rem;
  width: 40%;
  font-style: oblique;
  border-left: .1rem solid var(--colors-highlight);
  background-color: var(--canvas-color-highlight);
  color: var(--colors-highlight);
  text-shadow: var(--text-shadow);
  p {
    margin: .5rem;
  }
}
figure {
  background-color: var(--canvas-color-highlight);
  color: var(--colors-highlight);
  text-shadow: var(--text-shadow);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  float: right;
  clear: right;
  padding: 1rem;
  margin: 0 0 1rem 1rem;
  img {
    margin: 0;
  }
  figcaption {
    margin-top: 1rem;
  }
}
code {
  font-family: var(--code-font-family);
  background-color: var(--canvas-color-highlight);
  color: var(--colors-highlight);
  text-shadow: var(--text-shadow);
  white-space: nowrap;
  &.block {
    display: block;
    font-size: .9em;
    padding: 1.5rem;
    overflow: auto;
    white-space: unset;
  }
  @include for-phone-only {
    white-space: unset;
  }
}
