:root {
  // Headers
  --headers-h1-text-color: var(--grey-meddark);
  --headers-h1-text-shadow: none;
  --headers-h1-text-transform: uppercase;
  --headers-h1-background-color: transparent;
  --headers-h1-border-color: var(--grey-medium);

  --headers-h2-text-color: var(--grey-meddark);
  --headers-h2-text-shadow: none;
  --headers-h2-text-transform: uppercase;
  --headers-h2-background-color: transparent;
  --headers-h2-border-color: var(--grey-medium);

  --headers-h3-text-color: var(--grey-darker);
  --headers-h3-text-shadow: none;
  --headers-h3-text-transform: uppercase;
  --headers-h3-background-color: transparent;
  --headers-h3-border-color: var(--grey-medium);

  --headers-h4-text-color: var(--grey-darker);
  --headers-h4-text-shadow: none;
  --headers-h4-text-transform: uppercase;
  --headers-h4-background-color: transparent;
  --headers-h4-border-color: var(--grey-medium);

  --headers-h5-text-color: var(--grey-darkest);
  --headers-h5-text-shadow: none;
  --headers-h5-text-transform: uppercase;
  --headers-h5-background-color: transparent;
  --headers-h5-border-color: var(--grey-medium);

  --headers-h6-text-color: var(--grey-darkest);
  --headers-h6-text-shadow: none;
  --headers-h6-text-transform: uppercase;
  --headers-h6-background-color: transparent;
  --headers-h6-border-color: var(--grey-medium);
}

// Headers
h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin: .5rem 0;
  color: var(--headers-h1-text-color);
  text-shadow: var(--headers-h1-text-shadow);
  text-transform: var(--headers-h1-text-transform);
  letter-spacing: -.1em;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  text-align: left;
  box-sizing: border-box;
  &:after {
    content: '';
    border-top: .05em solid var(--headers-h1-border-color);
    flex: 1 0 2rem;
    margin: 0 0 0 .1rem;
  }
  &.inset {
    background-color: var(--headers-h1-text-color);
    color: transparent;
    text-shadow: 0 .05em .05em var(--white-half);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
  @include for-phone-only {
    font-size: 2rem;
  }
}
h2 {
  font-weight: 400;
  font-size: 2.5rem;
  margin: .5rem 0;
  text-transform: var(--headers-h2-text-transform);
  color: var(--headers-h2-text-color);
  text-shadow: var(--headers-h2-text-shadow);
  letter-spacing: -.05em;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  text-align: left;
  &:after {
    content: '';
    border-top: .05em solid var(--headers-h2-border-color);
    flex: 1 0 2rem;
    margin: 0 0 0 .1rem;
  }
  @include for-phone-only {
    font-size: 1.5rem;
  }
}
h3 {
  font-weight: 400;
  font-size: 1.3rem;
  margin: .5rem 0 1rem 0;
  text-transform: var(--headers-h3-text-transform);
  color: var(--headers-h3-text-color);
  text-shadow: var(--headers-h3-text-shadow);
}
h4 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: .5rem 0 1rem 0;
  text-transform: var(--headers-h4-text-transform);
  color: var(--headers-h4-text-color);
}
h5 {
  font-weight: 200;
  font-size: 1.1rem;
  margin: .5rem 0 1rem 0;
  text-transform: var(--headers-h5-text-transform);
  color: var(--headers-h5-text-color);
}
h6 {
  font-weight: 100;
  font-size: 1.1rem;
  margin: .5rem 0 1rem 0;
  text-transform: var(--headers-h6-text-transform);
  color: var(--headers-h6-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  &.fancy {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:before,
    &:after {
      content: '';
      height: .2rem;
      border-top: .05em solid;
      border-bottom: .05em solid;
      flex: 1 0 2rem;
      margin: 0 0 0 .5rem;
    }
    &:before {
      margin: 0 .5em 0 0;
    }
  }
}
