h1 {
  --colors-local: var(--colors-standard);
  font-size: 3.5rem;
  font-weight: 500;
  margin: .5rem 0;
  color: var(--colors-base);
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: -.1em;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  text-align: left;
  box-sizing: border-box;
  &:after {
    content: '';
    border-top: .05em solid var(--colors-local);
    flex: 1 0 2rem;
    margin: 0 0 0 .1rem;
  }
  &.inset {
    background-color: var(--colors-local);
    color: transparent;
    text-shadow: 0 .05em .05em rgba(var(--colors-text-hot-rgb), .5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
  @include for-phone-only {
    font-size: 2rem;
  }
}
h2 {
  --colors-local: var(--colors-standard);
  font-weight: 400;
  font-size: 2.5rem;
  margin: .5rem 0;
  text-transform: none;
  color: var(--colors-local);
  text-shadow: none;
  letter-spacing: -.05em;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  text-align: left;
  &:after {
    content: '';
    border-top: .05em solid var(--colors-local);
    flex: 1 0 2rem;
    margin: 0 0 0 .1rem;
  }
  @include for-phone-only {
    font-size: 1.5rem;
  }
}
h3 {
  --colors-local: var(--colors-standard);
  font-weight: 400;
  font-size: 1.3rem;
  margin: .5rem 0 1rem 0;
  text-transform: uppercase;
  color: var(--colors-local);
  text-shadow: none;
}
h4 {
  --colors-local: var(--colors-standard);
  font-weight: 400;
  font-size: 1.2rem;
  margin: .5rem 0 1rem 0;
  text-transform: uppercase;
  color: var(--colors-local);
}
h5 {
  --colors-local: var(--colors-standard);
  font-weight: 200;
  font-size: 1.1rem;
  margin: .5rem 0 1rem 0;
  text-transform: uppercase;
  color: var(--colors-local);
}
h6 {
  --colors-local: var(--colors-standard);
  font-weight: 100;
  font-size: 1.1rem;
  margin: .5rem 0 1rem 0;
  text-transform: uppercase;
  color: var(--colors-local);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  &.fancy {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:before,
    &:after {
      content: '';
      height: .2rem;
      border-top: .05em solid;
      border-bottom: .05em solid;
      flex: 1 0 2rem;
      margin: 0;
    }
    &:before {
      margin-right: 0.5rem;
    }
    &:after {
      margin-left: 0.5rem;
    }
  }
}
