:root {
  // Links
  --link-link-color: var(--focus-color);
  --link-active-color: var(--focus-color);
  --link-hover-color: var(--focus-color);
  --link-visited-color: var(--focus-color);
  --link-color: var(--focus-color);
  --link-text-shadow: var(--on-white-text-shadow);
}


a {
  color: var(--link-color);
  text-shadow: var(--link-text-shadow);
  &:link {
    text-decoration: underline;
  }
  &:focus {
    outline: var(--link-color) dashed .1rem;
    outline-offset: .2rem;
  }
  &:active {
    filter: brightness(120%);
  }
  &:visited {
    filter: brightness(80%);
    text-decoration: none;
  }
  @include for-hover-only {
    &:hover {
      filter: brightness(120%);
      text-decoration: underline double;
    }
  }
}
