ol,
ul {
  display: block;
  list-style-type: decimal;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 1.5rem;
  > li {
    margin: .5rem 0 .5rem 0;
  }
}
ul {
  list-style-type: disc;
}
