p {
  margin: 0 0 2rem 0;
  line-height: 1.4;
  text-shadow: var(--text-shadow);
  &.dropcap {
    &:first-letter {
      font-size: 5.5rem;
      float: left;
      line-height: .6; /* from 1 */
      margin-right: 0.05rem;
    }
  }
}
label,
legend {
  transition: all .2s;
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--colors-highlight);
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  &:after { // :after is where "required" elements go. Define the color here.
    color: var(--colors-required);
    font-size: .75rem;
    margin-left: .5rem;
    display: none;
    align-self: flex-end;
  }
  button.help {
    color: var(--colors-hightlight);
    text-shadow: var(--text-shadow);
    font-size: 1rem;
    margin: 0 0 0 .5rem;
    &:hover,
    &:focus,
    &:active {
      color: var(--colors-hightlight);
      text-shadow:var(--text-shadow);
    }
  }
}
dfn,
cite,
em {
  font-style: oblique;
}
strong {
  font-weight: bold;
}
pre {
  font-family: var(--fontstack-monospace);
}
sup {
  vertical-align: super;
  font-size: .8rem;
  line-height: 1;
  background-color: transparent;
}
