
.cfb-echx:before { content: '\21'; } /* '!' */
.cfb-legend:before { content: '\22'; } /* '&quot;' */
.cfb-minimize:before { content: '\23'; } /* '#' */
.cfb-map:before { content: '\24'; } /* '$' */
.cfb-minus:before { content: '\25'; } /* '%' */
.cfb-plus:before { content: '\26'; } /* '&amp;' */
.cfb-popout:before { content: '\27'; } /* ''' */