
.cfb-pencil:before { content: '\21'; } /* '!' */
.cfb-chevrons-vertical:before { content: '\22'; } /* '&quot;' */
.cfb-chevrons-horizontal:before { content: '\23'; } /* '#' */
.cfb-map:before { content: '\24'; } /* '$' */
.cfb-minus:before { content: '\25'; } /* '%' */
.cfb-plus:before { content: '\26'; } /* '&amp;' */
.cfb-popout:before { content: '\27'; } /* ''' */
.cfb-download:before { content: '\28'; } /* '(' */
.cfb-calendar:before { content: '\29'; } /* ')' */
.cfb-trashcan:before { content: '\2a'; } /* '*' */
.cfb-minimize:before { content: '\2b'; } /* '+' */
.cfb-legend:before { content: '\2c'; } /* ',' */
.cfb-echx:before { content: '\2d'; } /* '-' */
.cfb-chevron-down:before { content: '\2e'; } /* '.' */
.cfb-chevron-left:before { content: '\2f'; } /* '/' */
.cfb-chevron-mini-down:before { content: '\30'; } /* '0' */
.cfb-chevron-mini-left:before { content: '\31'; } /* '1' */
.cfb-chevron-mini-right:before { content: '\32'; } /* '2' */
.cfb-chevron-mini-up:before { content: '\33'; } /* '3' */
.cfb-chevron-right:before { content: '\34'; } /* '4' */
.cfb-chevron-up:before { content: '\35'; } /* '5' */
.cfb-checkbox:before { content: '\36'; } /* '6' */